<div #target></div>
<div class="espaciado"></div>
<app-header-post [cabecera]="cabeceraPost"></app-header-post>

<div class="espaciado"></div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <p class="f-shadow-into-l text-light fs-20 lh-20">HORARIO</p>
        <div class="row">
            <div class="col-md-2 bg-Flutter shadow-two text-center">
                <h3 class="f-open-sans-c fs-30 text-light mt-3 mb-3">LUNES</h3>
                <a (click)='scroll(profes.ingo)' class="cursor-p">
                    <img src="assets/img/icons/comunicacion.png" alt="" height="60" width="auto" class="drop-two">
                    <p class="f-shadow-into-l fs-20 text-light lh-20">
                        COMUNICACIÓN<br>
                        Ingo Schussler R.(6pm-9pm)
                    </p>
                </a>
            </div>
            <div class="col-md-2 bg-Android shadow-two text-center">
                <h3 class="f-open-sans-c fs-30 text-light mt-3">MARTES</h3>
                <a (click)='scroll(profes.nicthjava)' class="cursor-p">
                    <img src="assets/img/categorias/logo-java.png" alt="" height="80" width="auto" class="drop-two">
                    <p class="f-shadow-into-l fs-20 text-light">Nicth (6pm-9pm)</p>
                </a>
            </div>
            <div class="col-md-2 bg-dark shadow-two text-center">
                <h3 class="f-open-sans-c fs-30 text-light mt-3">MIÉRCOLES</h3>
                <a (click)='scroll(profes.nicthjava)' class="cursor-p">
                    <img src="assets/img/categorias/logo-java.png" alt="" height="80" width="auto" class="drop-two">
                    <p class="f-shadow-into-l fs-20 text-light">Nicth (6pm-9pm)</p>
                </a>
            </div>
            <div class="col-md-2 bg-NetFramework shadow-two text-center">
                <h3 class="f-open-sans-c fs-30 text-light mt-3">JUEVES</h3>
                <a (click)='scroll(profes.nicthphp)' class="cursor-p">
                    <img src="assets/img/categorias/php.png" alt="" height="60" width="auto" class="drop-two">
                    <p class="f-shadow-into-l fs-20 text-light">Nicth (6pm-9pm)</p>
                </a>
            </div>
            <div class="col-md-2 bg-yellow-one shadow-two text-center">
                <h3 class="f-open-sans-c fs-30 mt-3">VIERNES</h3>
                <a (click)='scroll(profes.yhoan)' class="cursor-p">
                    <img src="assets/img/icons/case.png" alt="" height="60" width="auto" class="drop-two">
                    <p class="f-shadow-into-l fs-20 lh-20">
                        HERRAMIENTAS CASE<br>
                        Yhoan (6pm-9pm)
                    </p>
                </a>

            </div>
            <div class="col-md-2 bg-Git shadow-two text-center">
                <h3 class="f-open-sans-c fs-30 text-light mt-3">SÁBADOS</h3>
            </div>

        </div>
    </div>
    <div class="col-md-1"></div>
</div>
<div class="espaciado"></div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <p class="f-shadow-into-l text-light fs-20 lh-20">RUTA 7632722</p>
        <div class="over-f-scroll p-4 d-flex">
            <div class="shadow-two min-ancho-dos border p-3 mr-4">
                <h3 class="f-shadow-into-l tc-yellow-one text-center fs-30 mt-2 mb-4">TRIMESTRE 1</h3>
                
                <div class="d-flex">
                    <img src="{{urlImg}}assets/icon/checked-accept.png" alt="" width="auto" height="40" class="mr-3 drop">
                    <p class="f-open-sans-c text-light fs-20 m-0 lh-20">
                        PROCESO DE INDUCCION <span class="tc-yellow-one">(Harold)</span>
                    </p>
                </div>
                <ul class="mt-2">
                    <li>
                        <p class="f-open-sans-c text-light fs-18 m-0 lh-18 ml-4">
                            
                        </p>
                    </li>
                </ul>
                <!-- ------------------División----------------- -->

                <div class="d-flex">
                    <img src="{{urlImg}}assets/icon/checked-accept.png" alt="" width="auto" height="40" class="mr-3 drop">
                    <p class="f-open-sans-c text-light fs-20 m-0 lh-20">
                        DESARROLLAR PENSAMIENTO ALGORITMICO CON ORIENTACIÓN A OBJETOS <span class="tc-yellow-one">(Yhoan)</span>
                    </p>
                </div>
                <ul class="mt-2">
                    <li>
                        <p class="f-open-sans-c text-light fs-18 m-0 lh-18 ml-4">
                            
                        </p>
                    </li>
                </ul>

                <!-- ------------------División----------------- -->
                <div class="d-flex">
                    <img src="{{urlImg}}assets/icon/checked-accept.png" alt="" width="auto" height="40" class="mr-3 drop">
                    <p class="f-open-sans-c text-light fs-20 m-0 lh-20">
                        MODELAR LA BASE DE DATOS DEL SISTEMA <span class="tc-yellow-one">(Miguel Angel Suarez)</span>
                    </p>
                </div>
                <ul class="mt-2">
                    <li>
                        <p class="f-open-sans-c text-light fs-18 m-0 lh-18 ml-4">
                            
                        </p>
                    </li>
                </ul>
                <!-- ------------------División----------------- -->
                <div class="d-flex">
                    <img src="{{urlImg}}assets/icon/checked-accept.png" alt="" width="auto" height="40" class="mr-3 drop">
                    <p class="f-open-sans-c text-light fs-20 m-0 lh-20">
                        DEFINIR LA ARQUITECTURA DEL SISTEMA DE INFORMACIÓN <span class="tc-yellow-one">(Jose Vicente)</span>
                    </p>
                </div>
                <ul class="mt-2">
                    <li>
                        <p class="f-open-sans-c text-light fs-18 m-0 lh-18 ml-4">
                            
                        </p>
                    </li>
                </ul>
                <!-- ------------------División----------------- -->

                <div class="d-flex">
                    <img src="{{urlImg}}assets/icon/checked-accept.png" alt="" width="auto" height="40" class="mr-3 drop">
                    <p class="f-open-sans-c text-light fs-20 m-0 lh-20">
                        INSTALAR Y CONFIGURAR LOS SERVIDORES SEGÚN LA SOLUCIÓN INFORMÁTICA <span class="tc-yellow-one">(Jose Vicente)</span>
                    </p>
                </div>
                <ul class="mt-2">
                    <li>
                        <p class="f-open-sans-c text-light fs-18 m-0 lh-18 ml-4">
                            
                        </p>
                    </li>
                </ul>
                <!-- ------------------División----------------- -->

                <div class="d-flex">
                    <img src="{{urlImg}}assets/icon/checked-accept.png" alt="" width="auto" height="40" class="mr-3 drop">
                    <p class="f-open-sans-c text-light fs-20 m-0 lh-20">
                        INSTALAR Y ADMINISTRAR LOS SGBD <span class="tc-yellow-one">(Miguel Angel Suarez)</span>
                    </p>
                </div>
                <ul class="mt-2">
                    <li>
                        <p class="f-open-sans-c text-light fs-18 m-0 lh-18 ml-4">
                            
                        </p>
                    </li>
                </ul>
                <!-- ------------------División----------------- -->

            </div>
            <div class="shadow-two min-ancho-dos border p-3 mr-4">
                <h3 class="f-shadow-into-l tc-violet-one text-center fs-30 mt-2 mb-4">TRIMESTRE 2</h3>
                <div class="d-flex">
                    <img src="{{urlImg}}assets/icon/checked-accept.png" alt="" width="auto" height="40" class="mr-3 drop">
                    <p class="f-open-sans-c text-light fs-20 m-0 lh-20">
                        APLICAR METODOLOGIAS DE DESARROLLO DE SOFTWARE SCRUM <span class="tc-violet-one">(Nicth)</span>
                    </p>
                </div>
                <ul class="mt-2">
                    <li>
                        <p class="f-open-sans-c text-light fs-18 m-0 lh-18 ml-4"></p>
                    </li>
                </ul>
                <!-- ------------------División----------------- -->
                <div class="d-flex">
                    <img src="{{urlImg}}assets/icon/checked-accept.png" alt="" width="auto" height="40" class="mr-3 drop">
                    <p class="f-open-sans-c text-light fs-20 m-0 lh-20">
                        REALIZAR EL DISEÑO DE INTERFACES GRÁFICAS CON HTML5, CSS Y JS <span class="tc-violet-one">(Jorge Saez)</span>
                    </p>
                </div>
                <ul class="mt-2">
                    <li>
                        <p class="f-open-sans-c text-light fs-18 m-0 lh-18 ml-4"></p>
                    </li>
                </ul>
                <!-- ------------------División----------------- -->
                
                <div class="d-flex">
                    <img src="{{urlImg}}assets/icon/checked-accept.png" alt="" width="auto" height="40" class="mr-3 drop">
                    <p class="f-open-sans-c text-light fs-20 m-0 lh-20">
                        DESARROLLAR APP DESKTOP CON .NET <span class="tc-violet-one">(Nicth)</span>
                    </p>
                </div>
                <ul class="mt-2">
                    <li>
                        <p class="f-open-sans-c text-light fs-18 m-0 lh-18 ml-4"></p>
                    </li>
                </ul>
                <!-- ------------------División----------------- -->

                <div class="d-flex">
                    <img src="{{urlImg}}assets/icon/checked-accept.png" alt="" width="auto" height="40" class="mr-3 drop">
                    <p class="f-open-sans-c text-light fs-20 m-0 lh-20">
                        DISEÑAR Y DESARROLLAR LA BASE DE DATOS <span class="tc-violet-one">(Miguel AngeL Suarez)</span>
                    </p>
                </div>
                <ul class="mt-2">
                    <li>
                        <p class="f-open-sans-c text-light fs-18 m-0 lh-18 ml-4"></p>
                    </li>
                </ul>
                <!-- ------------------División----------------- -->

                <div class="d-flex">
                    <img src="{{urlImg}}assets/icon/checked-accept.png" alt="" width="auto" height="40" class="mr-3 drop">
                    <p class="f-open-sans-c text-light fs-20 m-0 lh-20">
                        ELABORAR Y ESTUDIAR LA VIABILIDAD DE LA SOLUCION INFORMATICA (CANVAS)<span class="tc-violet-one">(Harold)</span>
                    </p>
                </div>
                <ul class="mt-2">
                    <li>
                        <p class="f-open-sans-c text-light fs-18 m-0 lh-18 ml-4">
                        </p>
                    </li>
                </ul>
                <!-- ------------------División----------------- -->
                
            </div>
            <div class="shadow-two min-ancho-dos border p-3 mr-4">
                <h3 class="f-shadow-into-l tc-blue-two text-center fs-30 mt-2 mb-4">TRIMESTRE 3</h3>

                <div class="d-flex">
                    <img src="{{urlImg}}assets/icon/checked-accept.png" alt="" width="auto" height="40" class="mr-3 drop">
                    <p class="f-open-sans-c text-light fs-20 m-0 lh-20">
                        DESARROLLAR APP CON TECNOLOGIAS .NET WEB <span class="tc-blue-two">(Nicth)</span>
                    </p>
                </div>
                <ul class="mt-2">
                    <li>
                        <p class="f-open-sans-c text-light fs-18 m-0 lh-18 ml-4">
                        </p>
                    </li>
                </ul>
                <!-- ------------------División----------------- -->
                
                <div class="d-flex">
                    <img src="{{urlImg}}assets/icon/checked-accept.png" alt="" width="auto" height="40" class="mr-3 drop">
                    <p class="f-open-sans-c text-light fs-20 m-0 lh-20">
                        LEVANTAR LOS REQUERIMIENTOS DEL SISTEMA DE INFORMACIÓN <span class="tc-blue-two">(Jorge Saez)</span>
                    </p>
                </div>
                <ul class="mt-2">
                    <li>
                        <p class="f-open-sans-c text-light fs-18 m-0 lh-18 ml-4">
                        </p>
                    </li>
                </ul>
                <!-- ------------------División----------------- -->

                <div class="d-flex">
                    <img src="{{urlImg}}assets/icon/checked-accept.png" alt="" width="auto" height="40" class="mr-3 drop">
                    <p class="f-open-sans-c text-light fs-20 m-0 lh-20">
                        DESARROLLAR APP CON TECNOLOGIAS JAVA ESCRITORIO <span class="tc-blue-two">(José Vicente)</span>
                    </p>
                </div>
                <ul class="mt-2">
                    <li>
                        <p class="f-open-sans-c text-light fs-18 m-0 lh-18 ml-4">
                        </p>
                    </li>
                </ul>
                <!-- ------------------División----------------- -->

                <div class="d-flex">
                    <img src="{{urlImg}}assets/icon/checked-accept.png" alt="" width="auto" height="40" class="mr-3 drop">
                    <p class="f-open-sans-c text-light fs-20 m-0 lh-20">
                        TRANSVERSAL - EMPRENDIMIENTOS <span class="tc-blue-two">(Diego Franco calle)</span>
                    </p>
                </div>
                <ul class="mt-2">
                    <li>
                        <p class="f-open-sans-c text-light fs-18 m-0 lh-18 ml-4">
                        </p>
                    </li>
                </ul>
                <!-- ------------------División----------------- -->

                <div class="d-flex">
                    <img src="{{urlImg}}assets/icon/checked-not.png" alt="" width="auto" height="40" class="mr-3 drop">
                    <p class="f-open-sans-c text-light fs-20 m-0 lh-20">
                        IDENTIFICAR LOS SISTEMAS DE GESTIÓN DE CALIDAD APLICADOS AL DESARROLLO DEL SISTEMA INFORMÁTICO <span class="tc-blue-two">(-------)</span>
                    </p>
                </div>
                <ul class="mt-2">
                    <li>
                        <p class="f-open-sans-c text-light fs-18 m-0 lh-18 ml-4">
                        </p>
                    </li>
                </ul>
                <!-- ------------------División----------------- -->

                <div class="d-flex">
                    <img src="{{urlImg}}assets/icon/checked-not.png" alt="" width="auto" height="40" class="mr-3 drop">
                    <p class="f-open-sans-c text-light fs-20 m-0 lh-20">
                        APLICAR METODOLOGÍAS DE CALIDAD DE SOFTWARE (ITIL) <span class="tc-blue-two">(-------)</span>
                    </p>
                </div>
                <ul class="mt-2">
                    <li>
                        <p class="f-open-sans-c text-light fs-18 m-0 lh-18 ml-4">
                        </p>
                    </li>
                </ul>
                <!-- ------------------División----------------- -->
                
            </div>
            <div class="shadow-two min-ancho-dos border p-3 mr-4">
                <h3 class="f-shadow-into-l tc-yellow-one text-center fs-30 mt-2 mb-4">TRIMESTRE 4</h3>
                
                <div class="d-flex">
                    <img src="{{urlImg}}assets/icon/checked-accept.png" alt="" width="auto" height="40" class="mr-3 drop">
                    <p class="f-open-sans-c text-light fs-20 m-0 lh-20">
                        TRANSVERSAL - COMUNICACIÓN <span class="tc-blue-one">(Ingo Schussler R.)</span>
                    </p>
                </div>
                <ul class="mt-2">
                    <li>
                        <p class="f-open-sans-c text-light fs-18 m-0 lh-18 ml-4"></p>
                    </li>
                </ul>
                <!-- ------------------División----------------- -->
                
                <div class="d-flex">
                    <img src="{{urlImg}}assets/icon/checked-accept.png" alt="" width="auto" height="40" class="mr-3 drop">
                    <p class="f-open-sans-c text-light fs-20 m-0 lh-20">
                        DESARROLLAR APP CON TECNOLOGÍAS JAVA WEB 1 <span class="tc-blue-one">(Nicth)</span>
                    </p>
                </div>
                <ul class="mt-2">
                    <li>
                        <p class="f-open-sans-c text-light fs-18 m-0 lh-18 ml-4">
                            Desarrollar app con tecnologías java web 2
                        </p>
                    </li>
                </ul>
                <!-- ------------------División----------------- -->

                <div class="d-flex">
                    <img src="{{urlImg}}assets/icon/checked-accept.png" alt="" width="auto" height="40" class="mr-3 drop">
                    <p class="f-open-sans-c text-light fs-20 m-0 lh-20">
                        DESARROLLAR APP CON TECNOLOGÍAS PHP WEB 1 <span class="tc-blue-one">(Nicth)</span>
                    </p>
                </div>
                <ul class="mt-2">
                    <li>
                        <p class="f-open-sans-c text-light fs-18 m-0 lh-18 ml-4">
                            Desarrollar app con tecnologías php web 2.
                        </p>
                    </li>
                </ul>
                <!-- ------------------División----------------- -->

                <div class="d-flex">
                    <img src="{{urlImg}}assets/icon/checked-accept.png" alt="" width="auto" height="40" class="mr-3 drop">
                    <p class="f-open-sans-c text-light fs-20 m-0 lh-20">
                        MODELAR EL SISTEMA DE INFORMACIÓN USANDO HERRAMIENTAS CASE <span class="tc-blue-one">(Yhoan)</span>
                    </p>
                </div>
                <ul class="mt-2">
                    <li>
                        <p class="f-open-sans-c text-light fs-18 m-0 lh-18 ml-4"></p>
                    </li>
                </ul>
                <!-- ------------------División----------------- -->

            </div>

        </div>
    </div>
    <div class="col-md-1"></div>
</div>

<div class="espaciado"></div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <!-- NICTH ------------------------------------------------------------------------------->
        <h3 class="tc-orange-one f-alex-brush fs-110 text-shadow-one" id="nicth">Nicth</h3>
        <a href="https://meet.google.com/dbj-hyco-ecr" target="_blank" class="f-open-sans-c fs-20 lh-20">
            (LINK REUNIÓN MEET)<br>https://meet.google.com/dbj-hyco-ecr
        </a>
        <div class="espacio"></div>
        <div class="row">
            <div class="col-md-2 text-center">
                <a href="https://drive.google.com/drive/folders/11tgmhlgv7Z6WOOO91K775N1HvhS8dUPn?usp=sharing" target="_blank">
                    <p class="tc-orange-one f-shadow-into-l fs-20 m-0">JAVA</p>
                    <img src="assets/img/icons/drive.png" alt="drive"  height="60" width="auto" class="drop br-5">
                    <p class="tc-orange-one f-shadow-into-l fs-20 m-0">(Videos clases)</p>
                </a>
            </div>
            <div class="col-md-10"></div>
        </div>
        <div class="row mt-3">
            <div class="col-md-2 text-center d-flex justify-content-between">
                <a href="https://drive.google.com/drive/folders/1dQ4Ta3N3zexYpg6bi9wiA3NcSBsLEHns" target="_blank">
                    <p class="tc-orange-one f-shadow-into-l fs-20 m-0">PHP</p>
                    <img src="assets/img/icons/drive.png" alt="drive"  height="60" width="auto" class="drop br-5">
                    <p class="tc-orange-one f-shadow-into-l fs-20 m-0">(Trabajos)</p>
                </a>
                <a href="https://drive.google.com/drive/folders/1MFnaI9KBYVFGn7wMudG8AYcbDhS_gxBL?usp=sharing" target="_blank">
                    <p class="tc-orange-one f-shadow-into-l fs-20 m-0">PHP</p>
                    <img src="assets/img/icons/drive.png" alt="drive"  height="60" width="auto" class="drop br-5">
                    <p class="tc-orange-one f-shadow-into-l fs-20 m-0">(Videos clases)</p>
                </a>
            </div>
            <div class="col-md-10"></div>
        </div>
        <div class="espacio"></div>
        <h2 class="text-center f-shadow-into-l fs-40 tc-orange-three text-shadow-one">
            ---PENDIENTES---
        </h2>
        <img src="assets/img/categorias/logo-java.png" alt="" height="120" width="auto" class="drop" id="nicth-java">
        <ul class="f-open-sans-c fs-20 text-light mt-3">
            <li class="mb-3">
                <span class="f-shadow-into-l tc-orange-three fs-25">Fecha entrega (FEB - MAR 22)</span><br>Instalar y dejar listo el entorno de trabajo para las clases teniendo en cuenta estos programas para windows:<br>
                <b>PROGRAMAS REQUERIDOS:</b><br>
                <a href="https://www.oracle.com/java/technologies/downloads/#jdk17-windows" target="_blank" title="Visitar para descargar">- JDK</a><br>
                <a href="https://javaee.github.io/glassfish/download" target="_blank" title="Visitar para descargar">- GlasFish</a><br>
                <a href="https://netbeans.apache.org/" target="_blank" title="Visitar para descargar">- APACHE NETBEANS</a><br>
                <a href="https://www.wampserver.com/en/download-wampserver-64bits/" target="_blank" title="Visitar para descargar">- WAMPSERVER</a><br>
                <a href="https://www.oracle.com/java/technologies/java-ee-sdk-download.html" target="_blank" title="Visitar para descargar">- SDK JAVA <small>(El profe recomienda descargar por el glassfish)</small></a>
            </li>
            <li>
                Revisar los videos que estan en la carpeta JAVA en el drive.
            </li>
        </ul>
        
        <div class="espacio"></div>
        <img src="assets/img/categorias/php.png" alt="" height="80" width="auto" class="drop" id="nicth-php">

        <ul class="f-open-sans-c fs-20 text-light mt-3">
            <li>
                <span class="f-shadow-into-l tc-red-one fs-25"><del>Fecha entrega (FEB - MAR 16) subir a carpeta drive de PHP</del></span><br>
                Consultar los siguientes temas a manera de entenderlos con ejemplos:<br>
                - Creación de variables<br>
                - Creación de constantes<br>
                - Cómo crear arreglos<br>
                - Cómo recorrer esos arreglos con (FOR, FOREACH)<br>
                - Ordenar los arreglos<br>
                - Condicionales "if" y "else"<br>
                - Condicional "Switch"<br>
                - Condicional "While", "Do While"<br>
            </li>
            <li class="mt-3">
                <span class="f-shadow-into-l tc-orange-three fs-25">Fecha entrega (FEB - MIER 23)</span><br>
                Entregar el proyecto formulario visto en la última clase de la siguiente manera.<br>
                - Agregar un textarea.<br>
                - Agregar un checkbox con minimo 5 campos.<br>
                - Agregar un select con un for que imprima los años desde 1999 - 2022.<br>
                - Crear una tabla para mostrar de manera organizada los resultados en el archivo recibe.php.<br>
                - Colocar estilos de manera general en el formulario.
            </li>
        </ul>
        
        <div class="espaciado"></div>
        
        <!-- INGO SCHUSSLER ------------------------------------------------------------------------------->
        <h3 class="tc-orange-one f-alex-brush fs-110 text-shadow-one" id="ingo">Harold Mauricio Gómez Zapata</h3>

                <a href="meet.google.com/nud-yhgg-yeb" target="_blank" class="f-open-sans-c fs-20 lh-20">
                    (ÚLTIMO LINK REUNIÓN ZOOM)<br>https://zoom.us/j/93778760270?pwd=VHdOMEdVd2w4dmZzYTl0MjhnN3FIQT09
                </a>
                <br>
                <i class="fa text-light fa-clone cursor-p fs-25 mt-2" title="Copiar" aria-hidden="true" (click)="copiarPortapapeles('https://zoom.us/j/93778760270?pwd=VHdOMEdVd2w4dmZzYTl0MjhnN3FIQT09')"></i>
                
        <div class="espaciado"></div>

        <h3 class="text-light">VISTO EN CLASE</h3>
        <h4 class="text-light">COMANDOS</h4>
        <p class="f-shadow-into-l tc-blue-one">
        -- @Author: Alex Muñoz<br>
        -- @Fecha: 2022/05/14<br>
        -- @Uso de funciones propias del SQL y funciones del usuario final.<br>
        GO<br>
        -- FUNCIONES DE FECHA Y HORA<br>
        -- algunas funciones retornan la fecha y hora<br>
        -- algunas funciones retornan una parte de fecha y hora.<br>
        -- algunas funciones retornan diferencias de fecha y horas<br>
        GO<br>
        -- FUNCION: CURRENT_TIMESTAMP<br>
        SELECT CURRENT_TIMESTAMP AS FECHA_Y_HORA_ACTUAL<br>
        GO<br>
        -- FUNCIÓN: GETDATE()<br>
        SELECT GETDATE() AS FECHA_Y_HORA_ACTUAL<br>
        GO<br>
        -- FUNCIÓN: DAY(fecha)<br>
        -- FUNCIÓN: MONTH(fecha)<br>
        -- FUNCIÓN: YEAR(fecha)<br>
        SELECT DAY(CURRENT_TIMESTAMP) AS DIA, MONTH(CURRENT_TIMESTAMP) AS MES, YEAR(CURRENT_TIMESTAMP) AS AÑO<br>
        GO<br>
        SELECT DAY(GETDATE()) AS DIA, MONTH(GETDATE()) AS MES, YEAR(GETDATE()) AS AÑO<br>
        GO<br>
        <br>
        -- FUNCIÓN: DATEDIFF(datepart, startdate, enddate)<br>

        -- Calcular el número de días trancurridos entre la fecha actual y su fecha de cumpleaños
        -- Calcular el número de meses trancurridos entre la fecha actual y su fecha de nacimiento
        -- Calcular el número de años trancurridos entre la fecha actual y su fecha de nacimiento

        -- Calcular el número de días transcurridos entre la fecha actual y la fecha de nacimiento<br>
        <br>
        SELECT DATEDIFF(DAY, '1983-02-10', CURRENT_TIMESTAMP) AS DIAS_TRANSCURRIDOS<br>
        GO<br>
        SELECT DATEDIFF(MONTH, '1983-02-10', CURRENT_TIMESTAMP) AS MESES_TRANSCURRIDOS<br>
        GO<br>
        SELECT DATEDIFF(YEAR, '1983-02-10', CURRENT_TIMESTAMP) AS AÑOS_TRANSCURRIDOS<br>
        GO<br>
        <br>
        -- FUNCIÓN: DATEADD(datepart, number, date)<br>
        -- Adicionar 50 días a la fecha actual<br>
        <br>
        -- ¿Qué fecha sera dentro de 30 meses?<br>
        -- ¿Que fecha será dentro de 19 años?<br>
        <br>
        SELECT DATEADD(DAY, 50, GETDATE()) AS FECHA_FUTURA_DE_50_DIAS<br>
        GO<br>
        SELECT DATEADD(MONTH, 30, GETDATE()) AS FECHA_FUTURA_DE_30_MESES<br>
        GO<br>
        SELECT DATEADD(YEAR, 19, GETDATE()) AS FECHA_FUTURA_DE_19_AÑOS<br>
        GO<br>
        <br>
        -- FUNCIONES MATEMÁTICAS<br>
        -- FUNCIÓN: ABS(-50) AS VALOR_ABSOLUTO_DE_50<br>
        SELECT -50, ABS(-50) AS VALOR_ABSOLUTO_DE_50<br>
        GO<br>
        -- Obtener el valor absoluto de los días transcurridos entre la fecha actual y su fecha de Nacimiento<br>
        SELECT ABS(DATEDIFF(DAY,GETDATE(), '1972/05/23')) AS DIAS_TRANSCURRIDOS<br>
        GO<br>
        <br>
        -- FUNCIÓN: CEILING(numeric_expression)<br>
        -- FUNCIÓN: FLOOR(numeric_expression)<br>
        -- FUNCIÓN: ROUND(numeric_expression, length [, function])<br>
        <br>
        SELECT 43.4843534 AS VALOR, ROUND(43.4843534, 2) AS REDONDEO_A_2_CIFRAS, CEILING(43.4843534) AS "CEILING", FLOOR(43.4843534) AS "FLOOR"<br>
        GO<br>
        <br>
        -- FUNCIÓN: POWER(float_expresion, y)<br>
        -- Calcular la potencia de 3.0 elevado a 5<br>
        <br>
        SELECT POWER(3.0, 5) AS POTENCIA_3_ELEVADO_A_LA_5<br>
        GO<br>
        <br>
        -- FUNCIÓN SQRT(float_expresion)<br>
        -- Calcular la raíz cuadrada de 2<br>
        SELECT 2.O AS VALOR, SQRT(2.0) AS RAIZ_CUADRADA<br>
        GO<br>
        <br>
        -- FUNCÓN: RAND([seed]) - Genera valores aleatorios entre 0 y 1<br>
        -- FUNCIÓN: SUM() - Obtiene el total de unos Valores<br>
        -- FUNCIÓN: AVG() - Calcula el promedio de un conjunto de valores numéricos<br>
        -- FUNCIÓN: MIN() - Retorna el mínimo de un conjunto de valores numéricos<br>
        -- FUNCIÓN: MAX() - Retorna el máximo de un conjunto de valores numéricos<br>
        <br>
        -- Ejercicio: Generar un valor aleatorios<br>
        SELECT RAND() AS VALOR_ALEATORIO<br>
        <br>
        GO<br>
        <br>
        -- Generar un valor aleatorio entre 0 y 1000<br>
        <br>
        SELECT FLOOR(RAND()*(999-1)+1)<br>
        GO<br>
        <br>
        -- Actividad: insertar otros 10 productos, en el campo cantidad va a generar un valor aleatorio entre 0 y 1000<br>

        </p>
        <h3 class="text-light">TAREAS PENDIENTES</h3>
        <ul>
            <li>
                Subir toda la pantalla de codigos utilizados en sqlcmd
            </li>
        </ul>

        <!-- YHOAN ------------------------------------------------------------------------------->
        <h3 class="tc-orange-one f-alex-brush fs-110 text-shadow-one" id="yhoan">Yhoan</h3>

        <a href="https://meet.google.com/cvw-gcpn-rgt" target="_blank" class="f-open-sans-c fs-20 lh-20">
            (ÚLTIMO LINK REUNIÓN MEET)<br>https://meet.google.com/cvw-gcpn-rgt
        </a>
        <br>
        <i class="fa text-light fa-clone cursor-p fs-25 mt-2" title="Copiar" aria-hidden="true" (click)="copiarPortapapeles('https://meet.google.com/cvw-gcpn-rgt')"></i>
        
        <div class="espacio"></div>


        <div class="espacio"></div>
        <h2 class="text-center f-shadow-into-l fs-40 tc-orange-three text-shadow-one">
            ---PENDIENTES---
        </h2>

        <ul class="f-open-sans-c fs-20 text-light mt-3">
            <li>
                <span class="f-shadow-into-l tc-red-one fs-25"><del>Fecha entrega (FEB VIE 18)</del></span><br>
                Realizar consulta de los siguientes diagramas<br>
                - Diagrama de clase<br>
                - Diagrama de secuencia<br>
                - Diagrama de colaboración<br>
                - Diagrama de estados<br>
                - Diagrama de actividad<br>
                - Diagrama de componentes<br>
                - Diagrama de despliegue<br>
                - Diagrama de composición estructural()
            </li>
        </ul>
        
    </div>
    <div class="col-md-1"></div>
</div>
<div class="espaciado"></div>

<div class="go-up" (click)="scrolls(target)">
    <i class="fa fa-chevron-up" aria-hidden="true"></i><br>
</div>