<div class="row {{ clase }}">
    <div *ngFor="let contenido of filtrarIndiceActivo(indice)" class="col {{ validaEstado(contenido.estado)? contenido.colorFondo : '' }} {{ contenido.posicion }} l-menu cursor-p pr-2 pl-2">
        <a *ngIf="contenido.rutaInterna" (click)="scroll(contenido.rutaInterna)" class="{{ contenido.color }} text-uppercase" >
            <del *ngIf="!validaEstado(contenido.estado)">{{ contenido.nombre.substring(0, 18) }} ...</del>
            <span *ngIf="validaEstado(contenido.estado)">{{ contenido.nombre.substring(0, 18) }} ...</span>
        </a>
        <a *ngIf="validaEstado(contenido.estado) && contenido.ruta" href="{{ contenido.ruta }}" class="{{ contenido.color }} text-uppercase" >
            <del *ngIf="!validaEstado(contenido.estado)">{{ contenido.nombre.substring(0, 18) }} ...</del>
            <span *ngIf="validaEstado(contenido.estado)">{{ contenido.nombre.substring(0, 18) }} ...</span>
        </a>
        <a *ngIf="validaEstado(contenido.estado) && contenido.rutaExterna" href="{{ contenido.rutaExterna }}" target="_blank" class="{{ contenido.color }} text-uppercase" >
            <del *ngIf="!validaEstado(contenido.estado)">{{ contenido.nombre.substring(0, 18) }} ...</del>
            <span *ngIf="validaEstado(contenido.estado)">{{ contenido.nombre.substring(0, 18) }} ...</span>
        </a>
    </div>
</div>
