<div #target></div>
<app-header-home></app-header-home>
<app-header-post [cabecera]="cabeceraPost"></app-header-post>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-12">
                <h3 class="t5 fuenteSeis fs-25">FORMULARIOS</h3>
                <p class="fuenteDos fs-18 text-light">Deshabilitar campos del formulario</p>
                <p class="fuenteTres t7">this.form.get('campo').disabled();</p>
            </div>
        </div>
        <div class="espacio"></div>
        <div class="row d-block">
            <div class="col-md-12">
                <h3 class="t5 fuenteSeis fs-25">DIRECTIVAS</h3>
                <p class="text-light fs-18 fuenteDos">Se clasifican en 3 tipos:</p>
                <ul>
                    <li class="text-light fuenteDos fs-18 mb-3">
                        <b class="t5">Directivas de Atributo:</b><br>
                        Alteran la apariencia o comportamiento de un elemento del DOM y son usados como atributos de los elementos.<br>
                        Dentro de estas directivas de atributo, encontramos:<br>
                        <b>ngModel:</b> Implementa binding<br>
                        <b>ngClass:</b> permite añadir/eliminar varias clases<br>
                        <b>ngStyle:</b> permite asignar estilos inline<br>
                        
                    </li>
                    <li class="text-light fuenteDos fs-18">
                        Directivas de estructurales
                    </li>
                    <li class="text-light fuenteDos fs-18">
                        Componentes
                    </li>
                </ul>
            </div>
        </div>
        <div class="espacio"></div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="t5 fuenteSeis fs-25">MÓDULOS</h3>

            </div>
        </div>
        <div class="espacio"></div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="t5 fuenteSeis fs-25">SERVICIOS</h3>

            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>




<div class="espaciado"></div>

<app-footer-home></app-footer-home>
<div class="go-up" (click)="scroll(target)">
    <i class="fa fa-chevron-up" aria-hidden="true"></i>
</div>