<div #target></div>
<app-header-home></app-header-home>
<app-header-post [cabecera]="cabeceraPost"></app-header-post>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-12">
                <app-indice-contenidos [indice]="pasoDeIndice" [clase]="claseContenedor"></app-indice-contenidos>
                <div class="espaciado"></div>
                <h3 class="t5 fuenteSeis fs-25">FORMULARIOS</h3>
                <p class="fuenteDos fs-18 text-light">Deshabilitar campos del formulario</p>
                <p class="fuenteTres t7">this.form.get('campo').disabled();</p>
            </div>
        </div>
        <div class="espacio"></div>
        <div class="row d-block">
            <div class="col-md-12">
                <h3 class="t5 fuenteSeis fs-25">DIRECTIVAS</h3>
                <p class="text-light fs-18 fuenteDos">Se clasifican en 3 tipos:</p>
                <ul>
                    <li class="text-light fuenteDos fs-18 mb-3">
                        <b class="t5">Directivas de Atributo:</b><br>
                        Alteran la apariencia o comportamiento de un elemento del DOM y son usados como atributos de los elementos.<br>
                        Dentro de estas directivas de atributo, encontramos:<br>
                        <b>ngModel:</b> Implementa binding<br>
                        <b>ngClass:</b> permite añadir/eliminar varias clases<br>
                        <b>ngStyle:</b> permite asignar estilos inline<br>
                        
                    </li>
                    <li class="text-light fuenteDos fs-18">
                        Directivas de estructurales
                    </li>
                    <li class="text-light fuenteDos fs-18">
                        Componentes
                    </li>
                </ul>
            </div>
        </div>
        <div class="espacio"></div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="t5 fuenteSeis fs-25">MÓDULOS</h3>
                
            </div>
        </div>
        <div class="espacio"></div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="t5 fuenteSeis fs-25">SERVICIOS</h3>

                <h3 class="t5 fuenteSeis fs-25">DIRECTIVAS</h3>
                <pre class="text-light fs-18 fuenteDos">Tema 1 - INTRODUCCIÓN

Template literals
let y const
Arrow functions
Operador for…of
Sintaxis corta de objetos
Operadores Rest y Spread
Valores por defecto
Destructuring
Otras características de ES2015/ES6
Clases
1.3 Introducción a TypeScript
Particularidades de TypeScript
Tipado de datos
Interfaces
Visibilidad de métodos y propiedades de las clases
Constructores breves
Tipos unión
Otras características de TypeScript
Operador Elvis (de Angular)
Tema 2 - INSTALACIÓN Y ESTRUCTURA DE UN PROYECTO
2.1 Instalación de Angular
Instalación de angular-cli
Creación de un proyecto angular
Instalación de un proyecto angular a partir de un repositorio git
2.2 El servidor integrado de angular
2.3 Estructura física de un proyecto Angular (archivos y directorios)
2.4 Estructura lógica de un proyecto Angular (módulos y componentes)
2.5 Módulos
El módulo raíz
Anatomía de un módulo
Creación de un módulo con angular-cli (se verá al final del curso)
2.6 Componentes
El componente raíz
Anatomía de un componente
Creación de un componente con angular-cliente
Tema 3 - CONCEPTOS ESENCIALES DEL DESARROLLO DE APLICACIONES ANGULAR
3.1 Sintaxis de plantillas y data-binding
One-way data binding del componente a la plantilla
One-way data binding de la plantilla al componente (eventos)
Two-way data binding
3.2 Directivas
Directivas de componentes
Directivas estructurales
 *ngIF
 *ngFor
 *ngSwitch
Directivas de atributo
 ngClass
 ngStyle
 ngPlural
Creación de directivas estructurales personalizadas
Creación de directivas de atributo personalizadas
3.3 Pipes
Built-in pipes
 AsyncPipe
 CurrencyPipe
 DatePipe
 DecimalPipe
 I18nPluralPipe
 I18nSelectPipe
 JsonPipe
 LowerCasePipe
 PercentPipe
 SlicePipe
 TitleCasePipe
 UpperCasePip
Creación de pipes personalizadas
 Anatomía de una pipe
 Creación de una pipe con angular-cli
Pipes puras e impuras
Tema 4 - INTERACCIÓN ENTRE COMPONENTES
4.1 Creación de un layout o master page
4.2 Paso de parámetros entre componentes
Tema 5 - SERVICIOS
5.1 Servicios
Anatomía de un servicio
Creación de un servicio con angular-cli
5.2 La Inyección de dependencias
Tema 6 - ENRUTAMIENTO
El Servicio Angular Router.
Instalación
Configuración de las rutas
Router Outlet
Router Links
Router State
Router Events
Seguridad en las rutas (Route Guard) (se verán en el tema 9)
Acceso a los parámetros de las rutas (ParamMap)
Tema 7 - FORMULARIOS TEMPLATE-DRIVEN
El módulo FormsModule
Binding
Validaciones
Mensajes de error
Tema 8 - OBSERVABLES
Introducción al patrón Observer y a la programación reactiva.
La librería RxJS
Observables
Observers
Operadores Reactivos
Tema 9 - SEGURIDAD (GUARDS)
Los Servicios Guards
CanActivate
CanDeactivate
CanActivateChild
CanLoad
Tema 10 - FORMULARIOS REACTIVOS O MODEL-DRIVEN
El módulo ReactiveFormsModule
Binding
Validaciones
Mensajes de error
Tema 11 - PETICIONES HTTP
El servicio HTTPClient (Angular 5) o HTTP (Angular 2/4)
Peticiones GET
Peticiones POST
Peticiones PUT
Peticiones DELETE</pre>
                <h3 class="t5 fuenteSeis fs-25" id="patron-spa">PATRÓN SPA</h3>
                <p class="text-light fs-18 fuenteDos">Se clasifican en 3 tipos:</p>

                <h3 class="t5 fuenteSeis fs-25" id="patron-mvc">PATRÓN MVC</h3>
                <p class="text-light fs-18 fuenteDos">Se clasifican en 3 tipos:</p>

                <h3 class="t5 fuenteSeis fs-25" id="url-fragments">Url fragments</h3>
                <p class="text-light fs-18 fuenteDos">Se clasifican en 3 tipos:</p>

                <h3 class="t5 fuenteSeis fs-25" id="url-fragments">ECMA Script 6</h3>
                <p class="text-light fs-18 fuenteDos">Se clasifican en 3 tipos:</p>

            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>




<div class="espaciado"></div>

<app-footer-home></app-footer-home>
<div class="go-up" (click)="scroll(target)">
    <i class="fa fa-chevron-up" aria-hidden="true"></i>
</div>