<div class="row container-code shadow bg-dark">
    <div class="col-md-12 ml-1">
        <div class="head-code mb-3">
            <button *ngIf="refDocumentacion" (click)="abrirLink(refDocumentacion)" class="red" title="Abrir Referencia a documentación"></button>
            <button *ngIf="urlStackBlitz" (click)="abrirLink(urlStackBlitz)" class="yell" title="Abrir en Stackblitz"></button>
            <button class="green" title="Copiar" (click)="copiarAlPortapapeles(clipboard)"></button>
        </div>
        <div class="body-code fuenteTres row d-flex">
            <div class="col-md-1">
                <p class="c5 fs-17 lh-25 m-0" *ngFor="let linea of contador(lineas + 3); let i = index">
                    {{ i + 1}}
                </p> 
            </div>
            <div class="col-md-11">
                <pre>
                    <code class="language-{{lenguaje}} fuenteTres fs-17 lh-25 {{colorTextoBase}}">
                      {{ code }}
                    </code>
                  </pre>
            </div>
        </div>
    </div>
</div>
