<div #target></div>
<app-header-home [categoria]="breadcrumb"></app-header-home>
<div class="espaciado"></div>
<app-encabezado-publicacion [idPublicacion]="idPublicacion" [rutaIconoSugerido]="'assets/img/icons/RXJS.png'"></app-encabezado-publicacion>
<div class="espaciado"></div>

<div class="row">
    <div class="col-1"></div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-7">
                <h2 class="m-0 p-0 f-bebas fw-3 fs-30 text-light m-0 p-0 text-uppercase">CARACTERÍSTICAS</h2>
                <div class="m-0 p-0 row" *ngFor="let contenido of contenidos.caracteristicas">
                    <div class="col-md-1">
                        <i class="fa fa-plus {{ publicacion.estilos.color }}" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-11">
                        <p class="f-open-sans-c text-light fs-20 lh-25">
                            {{ contenido }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-5"></div>
        </div>
        <div class="espaciado"></div>
        
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-9">
                <h2 class="m-0 p-0 f-shadow-into-l fw-3 fs-30 m-0 p-0 {{ publicacion.estilos.color }}">EJEMPLOS DE USO</h2>
                <p class="f-open-sans-c text-light fs-20 lh-25">
                    Tenemos este ejemplo con un interval que nos va a proveer de un flujo continuo de entrega de datos, y, ya como lo que tratamos de comprobar con esta función es ver realmente si devuelve asíncronamente el primer valor. También este al ser como una promesa solo se cumplirá una vez y chao:
                </p>
                <div class="text-right">
                    <img src="assets/img/memes/mem1.png" alt="" height="70" width="auto" class="drop">
                </div>
                <app-print-code
                    [code]="template"
                    [categoria]="categoria"
                    [categoriaCorta]="'TS'"
                    [lineas]="12"
                    [lenguaje]="'typescript'"
                    [colorTextoBase]="'text-light'"
                    [refDocumentacion]="'https://rxjs.dev/api/index/function/firstValueFrom'"
                    [urlStackBlitz]="'https://developer.stackblitz.com/platform/api/javascript-sdk'"></app-print-code>
            </div>
        </div>
        <div class="espaciado"></div>
        <div class="row">
            <div class="col-md-10">
                <app-print-code
                    [code]="template2"
                    [categoriaCorta]="'TS'"
                    [lineas]="12"
                    [colorTextoBase]="'text-light'"
                    [lenguaje]="'typescript'"
                    [refDocumentacion]="'https://rxjs.dev/api/index/function/firstValueFrom'"
                    [urlStackBlitz]="'https://developer.stackblitz.com/platform/api/javascript-sdk'"></app-print-code>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="espaciado"></div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-11">
                <app-print-code
                    [code]="template3"
                    [categoriaCorta]="'TS'"
                    [lineas]="12"
                    [lenguaje]="'typescript'"
                    [colorTextoBase]="'text-light'"
                    [refDocumentacion]="'https://rxjs.dev/api/index/function/firstValueFrom'"
                    [urlStackBlitz]="'https://developer.stackblitz.com/platform/api/javascript-sdk'"></app-print-code>
            </div>
        </div>
        <div class="espaciado"></div>
        <div class="row">
            <div class="col-md-8">
                <app-print-code
                    [code]="template4"
                    [categoriaCorta]="'TS'"
                    [lineas]="12"
                    [lenguaje]="'typescript'"
                    [colorTextoBase]="'text-light'"
                    [refDocumentacion]="'https://rxjs.dev/api/index/function/firstValueFrom'"
                    [urlStackBlitz]="'https://developer.stackblitz.com/platform/api/javascript-sdk'"></app-print-code>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="espaciado"></div>
        <div class="row">
            <div class="col-md-12">
                <app-print-code
                    [code]="template5"
                    [categoriaCorta]="'TS'"
                    [lineas]="21"
                    [lenguaje]="'typescript'"
                    [colorTextoBase]="'text-light'"
                    [refDocumentacion]="'https://rxjs.dev/api/index/function/firstValueFrom'"
                    [urlStackBlitz]="'https://developer.stackblitz.com/platform/api/javascript-sdk'"></app-print-code>
            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div>

<div class="espaciado"></div>

<div class="espaciado"></div>

<app-footer-home></app-footer-home>
<div class="go-up" (click)="scroll(target)">
    <i class="fa fa-chevron-up" aria-hidden="true"></i>
</div>