<div #target></div>
<app-header-home [categoria]="breadcrumb"></app-header-home>
<div class="espaciado"></div>
<app-encabezado-publicacion [idPublicacion]="idPublicacion" [rutaIconoSugerido]="'assets/img/icons/RXJS.png'"></app-encabezado-publicacion>
<div class="espaciado"></div>

<div class="row">
    <div class="col-1"></div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-7">
                <h2 class="m-0 p-0 f-bebas fw-3 fs-30 text-light m-0 p-0 text-uppercase">CARACTERÍSTICAS</h2>
                <ul class="m-0 p-0 list-unstyled">
                    <li class="m-0 p-0" *ngFor="let contenido of contenidos.caracteristicas">
                        <p class="text-light f-open-sans-c fs-18 lh-20 p-0">
                            {{ contenido }}
                        </p>
                    </li>
                </ul>
            </div>
            <div class="col-md-5"></div>
        </div>
        <div class="espaciado"></div>

        <div class="row">
            <div class="col-md-12">
                <h2 class="m-0 p-0 f-bebas fw-3 fs-30 text-light m-0 p-0 text-uppercase">EJEMPLOS DE USO</h2>
                <app-print-code
                    [code]="template"
                    [refDocumentacion]="'https://rxjs.dev/api/index/function/firstValueFrom'"
                    [urlStackBlitz]="'https://developer.stackblitz.com/platform/api/javascript-sdk'"
                    [tipo]="1"></app-print-code>
            </div>
        </div>
    </div>
    <div class="col-1"></div>

</div>




<div class="espaciado"></div>

<app-footer-home></app-footer-home>
<div class="go-up" (click)="scroll(target)">
    <i class="fa fa-chevron-up" aria-hidden="true"></i>
</div>