<div #target></div>
<app-header-home></app-header-home>
<div class="espaciado"></div>
<app-header-post [cabecera]="cabeceraPost"></app-header-post>


<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <app-indice-contenidos [indice]="indiceAngular" [clase]="claseAngular"></app-indice-contenidos>
        <div class="espacio"></div>
        
        <img src="assets/img/icons/ionic.png" alt="" class="drop mb-3" height="60" width="auto">
        <app-indice-contenidos [indice]="indiceIonic"></app-indice-contenidos>
        
        <div class="espacio"></div>
        <img src="assets/img/icons/primeng.png" alt="" class="drop mb-3" height="60" width="auto">
        <app-indice-contenidos [indice]="indicePrime"></app-indice-contenidos>
    </div>
    <div class="col-md-2"></div>
</div>

<div class="espaciado"></div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        
        <h2 class="fuenteSeis fs-40 t5">HISTORIA</h2>
        <p class="fuenteDos fs-20 text-light">
            AngularJS comenzó a ser desarrollado en 2009 por Miško Hevery originalmente era un servicio de almacenamiento online de archivos JSON donde el cobro dependía del peso en megabytes de cada archivo. Tiempo después abandonó el proyecto y re lanzó angular como un proyecto open-source.
        </p>
    </div>
    <div class="col-md-1"></div>
</div>

<div class="espaciado"></div>

<app-footer-home></app-footer-home>
<div class="go-up" (click)="scroll(target)">
    <i class="fa fa-chevron-up" aria-hidden="true"></i>
</div>