<div class="row" *ngIf="!cabecera.fondo">
    <div class="col-md-12">
                <!-- IMAGEN TITULAR ------------------------------------>
                <div class="headerPost sombraUno d-none d-md-block" [ngStyle]="{'background-image': 'url(' + cabecera.rutaImagen + ')'}">
                </div>
                <div class="espacio"></div>
        <h2 class="tituloPost f-open-sans-c p-2 text-center">{{ this.cabecera.tituloPost }}</h2>
        
    </div>
</div>
<div class="row" *ngIf="cabecera.fondo">
    <div class="col-md-12 text-center">
        <img src="{{ this.cabecera.rutaImagen }}" alt="" height="{{ this.cabecera.alturaImagen }}" class="{{ this.cabecera.sombra }}">
        
        <div class="espacio"></div>
        <h2 class="tituloPost f-open-sans-c p-2 text-center">{{ this.cabecera.tituloPost }}</h2>
    </div>
</div>