@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap');

.f-yanone{
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.bord{
    border: 0.7px solid #464141;
}

.marcoFoto{
    position: relative;
    left: 20px;
    top: 20px;
}

.marcoFotoR{
    position: relative;
    right: 20px;
    top: 20px;
}