<div #target></div>
<app-header-home [categoria]="breadcrumb"></app-header-home>
<div class="espaciado"></div>
<app-encabezado-publicacion [idPublicacion]="idPublicacion" [rutaIconoSugerido]="categoria.rutaIcono"></app-encabezado-publicacion>
<div class="espaciado"></div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-xl-8">
                <div class="espacio"></div>
                <div class="bord pl-3 pt-3 mb-4">
                    <img src="https://plantillas_dev.gitlab.io/assets/img/posts/developer/busqueda-empleo.jpg" class="marcoFoto" alt="Predisposición en búsqueda de empleo" width="100%" height="auto">
                </div>
                <a href="https://unsplash.com/" target="_blank"><small class="f-open-sans-c c7">Jeremy Bishop - Unsplash</small></a>
            </div>
            <div class="col-xl-1"></div>
            <div class="col-xl-3">
                <h2 class="f-bebas fs-200 text-light m-0 p-0">1</h2>
                <h2 class="f-yanone fs-40 lh-40 text-light p-0 text-uppercase mb-2">
                    PREDISPOSICIÓN
                </h2>
                <p class="fuenteDos c7 fs-18 lh-20">
                    {{ 'DEV.be.predisposicion1' | translate }}<br>
                    <br>
                    {{ 'DEV.be.predisposicion2' | translate }} <br>
                    <br>
                    {{ 'DEV.be.predisposicion3' | translate }}
                </p>
            </div>
        </div>
        <div class="espaciado"></div>

        <div class="row">
            <div class="col-xl-3">
                <h2 class="f-bebas fs-200 text-light m-0 p-0">2</h2>
                <h2 class="f-yanone fs-40 lh-40 text-light p-0 text-uppercase mb-2">
                    EJERCICIO FÍSICO
                </h2>
                <p class="fuenteDos c7 fs-18 lh-20">
                    Todo el que saludablemente se pueda hacer. <br>
                    <br>
                    Existen demasiados beneficios asociados al deporte, especialmente lo que se busca de esta parte es la serotonina, la sustancia de la felicidad natural del cuerpo.<br>
                    <br>
                    Qué acompañe todos los días como parte de la rutina de la búsqueda.

                </p>
            </div>
            <div class="col-xl-1"></div>
            <div class="col-xl-8 text-right">
                <div class="espacio"></div>
                <div class="bord pr-3 pt-3 mb-4">
                    <img src="https://plantillas_dev.gitlab.io/assets/img/posts/developer/ejercicio.jpg" class="marcoFotoR" alt="Ejercicio" width="100%" height="auto">
                </div>
                <a href="https://unsplash.com/es/@victorfreitas" target="_blank"><small class="f-open-sans-c c7">Victor Freitas - Unsplash</small></a>
            </div>
        </div>
        <div class="espaciado"></div>

        <div class="row">
            <div class="col-xl-6">
                <div class="espacio"></div>
                <div class="bord pl-3 pt-3 mb-4">
                    <img src="https://plantillas_dev.gitlab.io/assets/img/posts/developer/curriculum-vitae.jpg" alt="Marketplace-laboral" width="100%" height="auto" class="marcoFoto">
                </div>
            </div>
            <div class="col-xl-1"></div>
            <div class="col-xl-5">
                <h2 class="f-bebas fs-200 text-light m-0 p-0">3</h2>
                <h2 class="f-yanone fs-40 lh-40 text-light p-0 text-uppercase mb-2">
                    CURRICULUM VITAE
                </h2>
                <p class="fuenteDos c7 fs-18 lh-20">
                    Sin duda alguna se requiere hoja de vida con tu información personal, educativa y profesional.<br>
                    <br>
                    En este caso sugiero estos recursos online donde puedes organizar toda tu información:
                </p>
                <div class="espacio"></div>

                <div *ngFor="let agencia of agencias" class="row bordb">
                    <div class="col-md-4">
                        <a href="{{agencia.link}}" target="_blank">
                            <img src="{{agencia.imagen}}" alt="{{agencia.alt}}" [attr.height]="[agencia.altura]" [attr.width]="[agencia.ancho]" class="drop">
                        </a>
                    </div>
                    <div class="col-md-8">
                        <h4 class="f-yanone fs-20 lh-20 text-light p-0 text-uppercase mb-2">
                            {{agencia.titulo}}
                        </h4>
                    </div>
                </div>

            </div>
        </div>
        <div class="espaciado"></div>

        <div class="row">
            <div class="col-xl-3">
                <h2 class="f-bebas fs-200 text-light m-0 p-0">4</h2>
                <h2 class="f-yanone fs-40 lh-40 text-light p-0 text-uppercase mb-2">
                    CARTA DE PRESENTACIÓN
                </h2>
                <p class="fuenteDos c7 fs-18 lh-20">
                    Es una carta personal que te presentará a la empresa o al cargo que estás postulando.<br>
                    <br> Las palabras contenidas suelen ser muy personales, lo increíble de hoy en día es que si pides ayuda a la inteligencia artificial suele darle al clavo con la inspiración.<br>
                    <br>
                    "
                    <small>
                        Actualmente, he estado enfocado en el desarrollo frontend en Angular, con más de 5 años de experiencia. Me gusta trabajar en equipo, buscar una formación continua, aplicar nuevos conocimientos en desarrollo, y poner mi creatividad y corazón en mi trabajo diario. También considero que la vida y el tiempo que tenemos son una oportunidad y una bendición para compartir la pasión que nos hace únicos, y que el mundo espera y necesita para prosperar.
                    </small>
                    "<br>
                    ...
                </p>

            </div>
            <div class="col-xl-1"></div>
            <div class="col-xl-8 text-right">
                <div class="espacio"></div>
                <div class="bord pr-3 pt-3 mb-4">
                    <img src="https://plantillas_dev.gitlab.io/assets/img/posts/developer/carta.jpg" class="marcoFotoR" alt="Ejercicio" width="100%" height="auto">
                </div>
                <a href="https://unsplash.com/es/@alvaroserrano?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" target="_blank"><small class="f-open-sans-c c7">Alvaro Serrano - Unsplash</small></a>
            </div>
        </div>
        <div class="espaciado"></div>

        <div class="row">
            <div class="col-xl-8">
                <div class="espacio"></div>
                <div class="bord pl-3 pt-3 mb-4">
                    <img src="https://plantillas_dev.gitlab.io/assets/img/posts/developer/marketplace-laboral.jpg" alt="Marketplace-laboral" width="100%" height="auto" class="marcoFoto">
                </div>
                <a href="https://unsplash.com/es/@jezar" target="_blank"><small class="f-open-sans-c c7">Jezael Melgoza - Unsplash</small></a>
            </div>
            <div class="col-xl-1"></div>
            <div class="col-xl-3">
                <h2 class="f-bebas fs-200 text-light m-0 p-0">5</h2>
                <h2 class="f-yanone fs-40 lh-40 text-light p-0 text-uppercase mb-2">
                    MARKETPLACE DE TALENTO
                </h2>
                <p class="fuenteDos c7 fs-18 lh-20">
                    Las agencias de empleo determinan el punto central laboral, acá es donde somos un producto que debe destacarse para ser visto y tenido en cuenta.<br>
                    <br>
                    El panorama es favorable o no según la oferta y la demanda de postulados, si hay pocos seremos muy valiosos y muchas cosas pueden pasarse por alto como por ejemplo que no domine por completo una tecnología o que se requiera un cargo senior y lo termine consiguiendo un semi, cosas por el estilo.<br>
                    <br>
                    En este caso consideremos que el panorama no es favorable y que nos toca buscar la manera de destacar entre muchos.
                </p>
            </div>
        </div>
        <div class="espacio"></div>

        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-7">
                <span >
                    <img src="assets/img/memes/mem3.png" alt="Que elegancia" height="75" width="auto">
                </span>
                <p class="c7 fuenteDos fs-20 lh-25">
                    Si tenemos amigos o familiares que nos puedan dar una recomendación directa en la empresa, usemos esta posibilidad. Un reclutador ve de mejor manera a alguien recomendado que a un desconocido inicialmente.
                </p>
                <div class="espacio"></div>

                <a href="https://www.linkedin.com/" target="_blank">
                    <img src="https://plantillas_dev.gitlab.io/assets/img/posts/developer/logo-linkedin.png" alt="logo linkedin" height="60" width="auto" class="drop">
                </a>
                <p class="c7 fuenteDos fs-20 lh-25">
                    La mamá de las agencias para el empleo con un sentido muchísimo más completo enfocado a redes sociales.<br>
                    <br>Para esta parte es requerido hacer un marketing personal teniendo en cuenta estos puntos:
                </p>
                <div *ngFor="let market of marketing" class="row">
                    <div class="col-md-1">
                        <i class="fa fa-plus {{ publicacion.estilos.color }}" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-11">
                        <p class="f-open-sans-c c7 fs-20 lh-25">
                            {{ market }}
                        </p>
                    </div>
                </div>
                <div class="espacio"></div>
                <p class="c7 fuenteDos fs-20 lh-25">
                    Se requiere llenar una serie de campos que te piden muy repetitiva mente, datos personales, estudio 1, estudio 2, empresa 1, empresa 2...
                </p>
                <span >
                    <img src="assets/img/memes/mem4.png" alt="Que elegancia" height="45" width="auto">
                </span>
                <p class="c7 fuenteDos fs-20 lh-25">
                    Así ya esten incluídos en la hoja de vida.
                </p>
                <div class="espacio"></div>
                <div class="row">
                    <app-indice-contenidos [indice]="bloqueLinks" ></app-indice-contenidos>
                </div>
            </div>
        </div>

        <div class="espacio"></div>

        <div class="row">
            <div class="col-xl-3">
                <h2 class="f-bebas fs-200 text-light m-0 p-0">6</h2>
                <h2 class="f-yanone fs-40 lh-40 text-light p-0 text-uppercase mb-2">
                    ENTREVISTA
                </h2>
                <p class="fuenteDos c7 fs-18 lh-20">
                    De alguna manera esto es muy parecido a la cita que logras con la chica(o) que te gusta.
                </p>
                <span >
                    <img src="assets/img/memes/mem2.png" alt="Que elegancia" height="45" width="auto">
                </span>
                <p class="fuenteDos c7 fs-18 lh-20">
                    <br>
                    Es un gran paso y debe verse como un negocio en que ambas partes buscan que hay para ganar. Por ejemplo el salario es un tema que ambas partes tienen interés y es un punto en el que debemos saber como esta valorada nuesta profesión en el mercado.<br>
                    <br>
                    Aún sintiendo mucha confianza porque antes nos fue bien a empresas anteriores o en caso de ser todo lo contrario y los nervios hicieron sus destrosos, en ambos casos se deben conocer las preguntas comunes y tener claro que se debe responder sin falsedades.

                </p>
            </div>
            <div class="col-xl-1"></div>
            <div class="col-xl-8 text-right">
                <div class="espacio"></div>
                <div class="bord pr-3 pt-3 mb-4">
                    <img src="https://plantillas_dev.gitlab.io/assets/img/posts/developer/entrevista.jpg" class="marcoFotoR" alt="Entrevista Laboral" width="100%" height="auto">
                </div>
                <a href="https://unsplash.com/es/@vantaymedia?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" target="_blank"><small class="f-open-sans-c c7">Van Tay Media - Unsplash</small></a>
            </div>
        </div>
        <div class="espacio"></div>

        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-7">
                
                <div class="mt-3 bords p-4">
                    <p class="c7 fuenteDos fs-20 lh-25">
                        Este es un excelente sitio con materiales gratuitos de preparación de entrevistas seleccionados para personas ocupadas.
                    </p>
                    <a href="https://www.techinterviewhandbook.org/" target="_blank" class="drop">
                        <img src="https://plantillas_dev.gitlab.io/assets/img/posts/developer/logo-techinterviewhandbook.png" alt="logo techinterviewhandbook" height="90" width="auto">
                    </a>
                    <h4 class="fuenteDos text-light p-0 text-uppercase mt-3">
                        www.techinterviewhandbook.org
                    </h4>
                    
                </div>
                <div class="espacio"></div>
                <p class="c7 fuenteDos fs-20 lh-25">
                    Estas son algunas de las preguntas más comunes que suelen hacer para cada caso:
                </p>

                <div id="preguntas">
                    <div *ngFor="let grupo of preguntas; let i = index" >
                        <a type="button" id="pre{{ i }}" class="d-flex align-items-center" data-toggle="collapse" [attr.data-target]="['#refer'+ i]" aria-expanded="true" aria-controls="collapseOne">
                            <h2 class="f-bebas p-0 fw-3 fs-40 lh-40 text-light m-0 p-0">
                                {{ grupo.categoria }}
                            </h2>
                            <i class="ml-2 c7 bi bi-plus-lg"></i>
                        </a>
                        <div class="collapse" id="refer{{i}}" [attr.aria-labelledby]="['#pre'+ i]" data-parent="#preguntas">
                            <div *ngFor="let pregunta of grupo.pregunta" class="row">
                                <div class="col-md-1">
                                    <i class="bi bi-dash {{ publicacion.estilos.color }}" aria-hidden="true"></i>
                                </div>
                                <div class="col-md-11">
                                    <h4 class="f-yanone fs-20 lh-20 text-light p-0 text-uppercase mb-2">
                                        {{ pregunta.pregunta }}
                                    </h4>
                                    <p *ngIf="pregunta.sugerencia" class="f-open-sans-c fs-20 c7 lh-20">
                                        <b>Sugerencia/=</b> {{ pregunta.sugerencia }}
                                    </p>
                                    <p *ngIf="pregunta.respuestaEjemplo" class="f-shadow-into-l fs-20 {{ publicacion.estilos.color }} lh-25 text-shadow-one mb-5">
                                        Respuesta ejemplo/= {{ pregunta.respuestaEjemplo }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="espaciado"></div>

        <div class="row">
            <div class="col-xl-3">
                <h2 class="f-bebas fs-200 text-light m-0 p-0">7</h2>
                <h2 class="f-yanone fs-40 lh-40 text-light p-0 text-uppercase mb-2">
                    PRUEBA TÉCNICA
                </h2>
                <p class="fuenteDos c7 fs-18 lh-20">
                    Lograr pasar efectivamente  la prueba técnica, puede llegar a considerarse el primer pie dentro de la empresa.<br>
                    <br>
                    En un perfil con experiencia debería ser tomado como un requerimiento normal de trabajo.<br>
                    Con o sin experiencia hay que entrenar antes, estas son algunas herramientas para lograrlo:
                </p>

                <div class="espacio"></div>
                <a href="https://www.hackerrank.com/" target="_blank">
                    <img src="assets/img/icons/hackeRank.svg" alt="" height="20" width="auto" class="drop mb-3">
                </a>

                <p class="fuenteDos c7 fs-18 lh-20 font-italic">
                    Las habilidades hablan más que las palabras.<br>
                    Ayudamos a las empresas a desarrollar los equipos tecnológicos más fuertes.<br> Ayudamos a los candidatos a perfeccionar sus habilidades tecnológicas y a buscar oportunidades de empleo.
                </p>
            </div>
            <div class="col-xl-1"></div>
            <div class="col-xl-8 text-right">
                <div class="espacio"></div>
                <div class="bord pr-3 pt-3 mb-4">
                    <img src="https://plantillas_dev.gitlab.io/assets/img/posts/developer/prueba.jpg" class="marcoFotoR" alt="Prueba Técnica" width="100%" height="auto">
                </div>
                <a href="https://unsplash.com/es/@roman_lazygeek?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" target="_blank"><small class="f-open-sans-c c7">Roman Mager - Unsplash</small></a>
            </div>
        </div>
        <div class="espacio"></div>
    </div>
    <div class="col-md-1"></div>
</div>






<div class="espaciado"></div>

<app-footer-home></app-footer-home>
<div class="go-up" (click)="scroll(target)">
    <i class="fa fa-chevron-up" aria-hidden="true"></i>
</div>