<div #target></div>
<app-header-home [categoria]="breadcrumb"></app-header-home>
<div class="espaciado"></div>
<app-encabezado-publicacion
    [idPublicacion]="idPublicacion"
    [rutaIconoSugerido]="categoria.rutaIcono"></app-encabezado-publicacion>
<div class="espaciado"></div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-xl-8">
                <div class="espacio"></div>
                <div class="bord pl-3 pt-3 mb-4">
                    <img src="https://plantillas_dev.gitlab.io/assets/img/posts/developer/busqueda-empleo.jpg" class="marcoFoto" alt="Predisposición en búsqueda de empleo" width="100%" height="auto">
                </div>
                <a href="https://unsplash.com/" target="_blank"><small class="f-open-sans-c c7">Jeremy Bishop - Unsplash</small></a>
            </div>
            <div class="col-xl-1"></div>
            <div class="col-xl-3">
                <h2 class="f-bebas fs-200 text-light m-0 p-0">1</h2>
                <h2 class="f-yanone fs-40 lh-40 text-light p-0 text-uppercase mb-2">
                    {{ 'DEVELOPER.dev-busqueda-empleo.predisposicion' | translate }}
                </h2>
                <p class="fuenteDos c7 fs-18 lh-20">
                    {{ 'DEVELOPER.dev-busqueda-empleo.predisposicion1' | translate }}<br>
                    <br>
                    {{ 'DEVELOPER.dev-busqueda-empleo.predisposicion2' | translate }} <br>
                    <br>
                    {{ 'DEVELOPER.dev-busqueda-empleo.predisposicion3' | translate }}
                </p>
            </div>
        </div>
        <div class="espaciado"></div>

        <div class="row">
            <div class="col-xl-3">
                <h2 class="f-bebas fs-200 text-light m-0 p-0">2</h2>
                <h2 class="f-yanone fs-40 lh-40 text-light p-0 text-uppercase mb-2">
                    {{ 'DEVELOPER.dev-busqueda-empleo.ejercicio_fisico' | translate }}
                </h2>
                <p class="fuenteDos c7 fs-18 lh-20">
                    {{ 'DEVELOPER.dev-busqueda-empleo.ejercicio1' | translate }} <br>
                    <br>
                    {{ 'DEVELOPER.dev-busqueda-empleo.ejercicio2' | translate }}<br>
                    <br>
                    {{ 'DEVELOPER.dev-busqueda-empleo.ejercicio3' | translate }}

                </p>
            </div>
            <div class="col-xl-1"></div>
            <div class="col-xl-8 text-right">
                <div class="espacio"></div>
                <div class="bord pr-3 pt-3 mb-4">
                    <img src="https://plantillas_dev.gitlab.io/assets/img/posts/developer/ejercicio.jpg" class="marcoFotoR" alt="Ejercicio" width="100%" height="auto">
                </div>
                <a href="https://unsplash.com/es/@victorfreitas" target="_blank"><small class="f-open-sans-c c7">Victor Freitas - Unsplash</small></a>
            </div>
        </div>
        <div class="espaciado"></div>

        <div class="row">
            <div class="col-xl-6">
                <div class="espacio"></div>
                <div class="bord pl-3 pt-3 mb-4">
                    <img src="https://plantillas_dev.gitlab.io/assets/img/posts/developer/curriculum-vitae.jpg" alt="Marketplace-laboral" width="100%" height="auto" class="marcoFoto">
                </div>
            </div>
            <div class="col-xl-1"></div>
            <div class="col-xl-5">
                <h2 class="f-bebas fs-200 text-light m-0 p-0">3</h2>
                <h2 class="f-yanone fs-40 lh-40 text-light p-0 text-uppercase mb-2">
                    {{ 'DEVELOPER.dev-busqueda-empleo.curriculum' | translate }}
                </h2>
                <p class="fuenteDos c7 fs-18 lh-20">
                    {{ 'DEVELOPER.dev-busqueda-empleo.curriculum1' | translate }}<br>
                    <br>
                    {{ 'DEVELOPER.dev-busqueda-empleo.curriculum2' | translate }}
                </p>
                <div class="espacio"></div>
                    <div *ngFor="let agencia of agencias" class="row bordb">
                        <div class="col-md-4">
                            <a href="{{agencia.link}}" target="_blank">
                                <img src="{{agencia.imagen}}" alt="{{agencia.alt}}" [attr.height]="[agencia.altura]" [attr.width]="[agencia.ancho]" class="drop">
                            </a>
                        </div>
                        <div class="col-md-8">
                            <h4 class="f-yanone fs-20 lh-20 text-light p-0 text-uppercase mb-2">
                                {{cv[agencia.titulo]}}
                            </h4>
                        </div>
                    </div>


            </div>
        </div>
        <div class="espaciado"></div>

        <div class="row">
            <div class="col-xl-3">
                <h2 class="f-bebas fs-200 text-light m-0 p-0">4</h2>
                <h2 class="f-yanone fs-40 lh-40 text-light p-0 text-uppercase mb-2">
                    {{ 'DEVELOPER.dev-busqueda-empleo.carta.titulo' | translate }}
                </h2>
                <p class="fuenteDos c7 fs-18 lh-20">
                    {{ 'DEVELOPER.dev-busqueda-empleo.carta.tx1' | translate }}<br>
                    <br> {{ 'DEVELOPER.dev-busqueda-empleo.carta.tx2' | translate }}<br>
                    <br>
                    <small>
                        {{ 'DEVELOPER.dev-busqueda-empleo.carta.tx3' | translate }}
                    </small>
                    <br>
                </p>

            </div>
            <div class="col-xl-1"></div>
            <div class="col-xl-8 text-right">
                <div class="espacio"></div>
                <div class="bord pr-3 pt-3 mb-4">
                    <img src="https://plantillas_dev.gitlab.io/assets/img/posts/developer/carta.jpg" class="marcoFotoR" alt="Ejercicio" width="100%" height="auto">
                </div>
                <a href="https://unsplash.com/es/@alvaroserrano?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" target="_blank"><small class="f-open-sans-c c7">Alvaro Serrano - Unsplash</small></a>
            </div>
        </div>
        <div class="espaciado"></div>

        <div class="row">
            <div class="col-xl-8">
                <div class="espacio"></div>
                <div class="bord pl-3 pt-3 mb-4">
                    <img src="https://plantillas_dev.gitlab.io/assets/img/posts/developer/marketplace-laboral.jpg" alt="Marketplace-laboral" width="100%" height="auto" class="marcoFoto">
                </div>
                <a href="https://unsplash.com/es/@jezar" target="_blank"><small class="f-open-sans-c c7">Jezael Melgoza - Unsplash</small></a>
            </div>
            <div class="col-xl-1"></div>
            <div class="col-xl-3">
                <h2 class="f-bebas fs-200 text-light m-0 p-0">5</h2>
                <h2 class="f-yanone fs-40 lh-40 text-light p-0 text-uppercase mb-2">
                    {{ 'DEVELOPER.dev-busqueda-empleo.marketplace.titulo' | translate }}
                </h2>
                <p class="fuenteDos c7 fs-18 lh-20">
                    {{ 'DEVELOPER.dev-busqueda-empleo.marketplace.tx1' | translate }}<br>
                    <br>
                    {{ 'DEVELOPER.dev-busqueda-empleo.marketplace.tx2' | translate }}<br>
                    <br>
                    {{ 'DEVELOPER.dev-busqueda-empleo.marketplace.tx3' | translate }}
                </p>
            </div>
        </div>
        <div class="espacio"></div>

        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-7">
                <div class="bord p-4">
                    <p class="c7 fuenteDos fs-20 lh-25">
                        {{ 'DEVELOPER.dev-busqueda-empleo.marketplace.tx4' | translate }}
                    </p>
                </div>
                <span >
                    <img src="assets/img/memes/mem3.png" alt="Que elegancia" height="75" width="auto">
                </span>
                <div class="espaciado"></div>

                <a href="https://www.linkedin.com/" target="_blank">
                    <img src="https://plantillas_dev.gitlab.io/assets/img/posts/developer/logo-linkedin.png" alt="logo linkedin" height="60" width="auto" class="drop">
                </a>
                <p class="c7 fuenteDos fs-20 lh-25">
                    {{ 'DEVELOPER.dev-busqueda-empleo.marketplace.linkedin.tx1' | translate }}<br>
                    <br>{{ 'DEVELOPER.dev-busqueda-empleo.marketplace.linkedin.tx2' | translate }}
                </p>

                <div class="espacio"></div>

                <p class="c7 f-shadow-into-l {{ this.categoria.color }} fs-35 lh-25">RECOMENDACIONES</p>

                <div *ngFor="let market of marketing" class="row">
                    <div class="col-md-1">
                        <i class="fa fa-plus {{ publicacion.estilos.color }}" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-11">
                        <p class="f-open-sans-c c7 fs-20 lh-25">
                            {{ this.marketplace[market] }}
                        </p>
                    </div>
                </div>
                <div class="espacio"></div>
                <button href="https://www.linkedin.com/learning/linkedin-para-la-busqueda-de-empleo-3/situacion-personal-define-tu-estrategia" type="button" target="_blank" class="fuenteDos fs-20 lh-25 p-2 btn btn-warning">
                    Encuentra empleo con
                    <img src="https://plantillas_dev.gitlab.io/assets/img/posts/developer/logo-linkedin.png" alt="logo-linkedin" height="20" width="auto">
                </button>

                <div class="espacio"></div>
                <p class="c7 fuenteDos fs-20 lh-25">
                    {{ 'DEVELOPER.dev-busqueda-empleo.marketplace.linkedin.tx3' | translate }}
                </p>
                <span >
                    <img src="assets/img/memes/mem4.png" alt="Que elegancia" height="45" width="auto">
                </span>
                <p class="c7 fuenteDos fs-20 lh-25">
                    {{ 'DEVELOPER.dev-busqueda-empleo.marketplace.linkedin.tx4' | translate }}
                </p>
                <div class="espacio"></div>
                <div class="row">
                    <app-indice-contenidos [indice]="bloqueLinks" ></app-indice-contenidos>
                </div>
            </div>
        </div>

        <div class="espacio"></div>

        <div class="row">
            <div class="col-xl-3">
                <h2 class="f-bebas fs-200 text-light m-0 p-0">6</h2>
                <h2 class="f-yanone fs-40 lh-40 text-light p-0 text-uppercase mb-2">
                    {{ 'DEVELOPER.dev-busqueda-empleo.entrevista.titulo' | translate }}
                </h2>
                <p class="fuenteDos c7 fs-18 lh-20">
                    {{ 'DEVELOPER.dev-busqueda-empleo.entrevista.tx1' | translate }}
                </p>
                <span >
                    <img src="assets/img/memes/mem2.png" alt="Que elegancia" height="45" width="auto">
                </span>
                <p class="fuenteDos c7 fs-18 lh-20">
                    <br>
                    {{ 'DEVELOPER.dev-busqueda-empleo.entrevista.tx2' | translate }}<br>
                    <br>
                    {{ 'DEVELOPER.dev-busqueda-empleo.entrevista.tx3' | translate }}
                </p>
            </div>
            <div class="col-xl-1"></div>
            <div class="col-xl-8 text-right">
                <div class="espacio"></div>
                <div class="bord pr-3 pt-3 mb-4">
                    <img src="https://plantillas_dev.gitlab.io/assets/img/posts/developer/entrevista.jpg" class="marcoFotoR" alt="Entrevista Laboral" width="100%" height="auto">
                </div>
                <a href="https://unsplash.com/es/@vantaymedia?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" target="_blank"><small class="f-open-sans-c c7">Van Tay Media - Unsplash</small></a>
            </div>
        </div>
        <div class="espacio"></div>

        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-7">
                
                <div class="mt-3 bords p-4">
                    <p class="c7 fuenteDos fs-20 lh-25">
                        {{ 'DEVELOPER.dev-busqueda-empleo.entrevista.tx4' | translate }}
                    </p>
                    <a href="https://www.techinterviewhandbook.org/" target="_blank" class="drop">
                        <img src="https://plantillas_dev.gitlab.io/assets/img/posts/developer/logo-techinterviewhandbook.png" alt="logo techinterviewhandbook" height="90" width="auto">
                    </a>
                    <h4 class="fuenteDos text-light p-0 text-uppercase mt-3">
                        www.techinterviewhandbook.org
                    </h4>
                    
                </div>
                <div class="espacio"></div>
                <p class="c7 fuenteDos fs-20 lh-25">
                    {{ 'DEVELOPER.dev-busqueda-empleo.entrevista.tx5' | translate }}
                </p>

                <div id="preguntas">
                    <div *ngFor="let grupo of retornarKeys(this.preguntasComunes); let i = index" >
                        <a type="button" id="pre{{ i }}" class="d-flex align-items-center" data-toggle="collapse" [attr.data-target]="['#refer'+ i]" aria-expanded="true" aria-controls="collapseOne">
                            <h2 class="f-bebas p-0 fw-3 fs-40 lh-40 text-light m-0 p-0">
                                {{ this.preguntasComunes[grupo].categoria }}
                            </h2>
                            <i class="ml-2 c7 bi bi-plus-lg"></i>
                        </a>
                        <div class="collapse" id="refer{{i}}" [attr.aria-labelledby]="['#pre'+ i]" data-parent="#preguntas">
                            <div *ngFor="let pregunta of retornarKeys(this.preguntasComunes[grupo].bls)" class="row">
                                <div class="col-md-1">
                                    <i class="bi bi-dash {{ publicacion.estilos.color }}" aria-hidden="true"></i>
                                </div>
                                <div class="col-md-11">
                                    <h4 class="f-yanone fs-20 lh-20 text-light p-0 text-uppercase mb-2">
                                        {{ this.preguntasComunes[grupo].bls[pregunta].pregunta }}
                                    </h4>
                                    <p *ngIf="this.preguntasComunes[grupo].bls[pregunta].sugerencia" class="f-open-sans-c fs-20 c7 lh-20">
                                        <b>{{this.categoriaTranslate.entrevista.Sugerencia}}/=</b> {{ this.preguntasComunes[grupo].bls[pregunta].sugerencia }}
                                    </p>
                                    <p *ngIf="this.preguntasComunes[grupo].bls[pregunta].ejemplo" class="f-shadow-into-l fs-20 {{ publicacion.estilos.color }} lh-25 text-shadow-one mb-5">
                                        {{this.categoriaTranslate.entrevista.Respuesta_ejemplo}}/= {{ this.preguntasComunes[grupo].bls[pregunta].ejemplo }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="espaciado"></div>

        <div class="row">
            <div class="col-xl-3">
                <h2 class="f-bebas fs-200 text-light m-0 p-0">7</h2>
                <h2 class="f-yanone fs-40 lh-40 text-light p-0 text-uppercase mb-2">
                    {{ 'DEVELOPER.dev-busqueda-empleo.prueba.titulo' | translate }}
                </h2>
                <p class="fuenteDos c7 fs-18 lh-20">
                    {{ 'DEVELOPER.dev-busqueda-empleo.prueba.tx1' | translate }}<br>
                    <br>
                    {{ 'DEVELOPER.dev-busqueda-empleo.prueba.tx2' | translate }}<br>
                    {{ 'DEVELOPER.dev-busqueda-empleo.prueba.tx3' | translate }}
                </p>

                <div class="espacio"></div>
                <a href="https://www.hackerrank.com/" target="_blank">
                    <img src="assets/img/icons/hackeRank.svg" alt="" height="20" width="auto" class="drop mb-3">
                </a>

                <p class="fuenteDos c7 fs-18 lh-20 font-italic">
                    {{ 'DEVELOPER.dev-busqueda-empleo.prueba.tx4' | translate }}<br>
                    {{ 'DEVELOPER.dev-busqueda-empleo.prueba.tx5' | translate }}<br>  {{ 'DEVELOPER.dev-busqueda-empleo.prueba.tx6' | translate }}
                </p>
            </div>
            <div class="col-xl-1"></div>
            <div class="col-xl-8 text-right">
                <div class="espacio"></div>
                <div class="bord pr-3 pt-3 mb-4">
                    <img src="https://plantillas_dev.gitlab.io/assets/img/posts/developer/prueba.jpg" class="marcoFotoR" alt="Prueba Técnica" width="100%" height="auto">
                </div>
                <a href="https://unsplash.com/es/@roman_lazygeek?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" target="_blank"><small class="f-open-sans-c c7">Roman Mager - Unsplash</small></a>
            </div>
        </div>
        <div class="espacio"></div>
    </div>
    <div class="col-md-1"></div>
</div>







<div class="espaciado"></div>

<app-footer-home></app-footer-home>
<div class="go-up" (click)="scroll(target)">
    <i class="fa fa-chevron-up" aria-hidden="true"></i>
</div>