<div #target></div>
<app-header-home></app-header-home>
<div class="espaciado"></div>
<app-header-post [cabecera]="cabeceraPost"></app-header-post>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <app-indice-contenidos [indice]="pasoDeIndice" [clase]="clasePaso"></app-indice-contenidos>
    </div>
    <div class="col-md-1"></div>
</div>
<div class="espaciado"></div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        
        <h2 class="fuenteSeis fs-40 t4">HISTORIA</h2>
        <p class="fuenteDos fs-20 text-light">
            Tanto el nombre Android (androide en español) como Nexus One hacen alusión a la novela de Philip K. Dick ¿Sueñan los androides con ovejas eléctricas?, que posteriormente fue adaptada al cine como Blade Runner.<br>
            <br>
            Tanto el libro como la película se centran en un grupo de androides llamados replicantes del modelo Nexus-6. El logotipo es el robot “Andy”.<br>
            <br>
            Android comenzó en octubre del año 2008 cuando vio por primera vez la luz el primer smartphone equipado con este sistema operativo, T-Mobile G1, un smartphone fabricado por HTC y desarrollado junto con Google.<br>
            <br>
            Días antes de este lanzamiento comercial, el 23 de septiembre del 2008, Google celebraba una rueda de prensa donde se presentaba este dispositivo junto con la versión 1.0 de Android.<br>
            <br>
            Android era un sistema operativo que estaba desarrollando una compañía de nombre Android Inc. y que fue adquirida por Google en julio del año 2005. Desde entonces siempre que se habla de este sistema operativo se hace referencia a la compañía del buscador aunque es la Open Handset Alliance.<br>
            <br>
            <b class="sombra-texto">ADQUISICIÓN POR PARTE DE GOOGLE</b><br>
            En julio de 2005, Google adquirió Android Inc., una pequeña compañía de Palo Alto, California fundada en 2003.<br>
            <br>
            Entre los cofundadores de Android que se fueron a trabajar a Google están Andy Rubin (co-fundador de Danger), Rich Miner (co-fundador de Wildfire Communications, Inc.), Nick Sears (alguna vez VP en T-Mobile), y Chris White (quien encabezó el diseño y el desarrollo de la interfaz en WebTV).<br>
            <br>
            En aquel entonces, poco se sabía de las funciones de Android Inc. fuera de que desarrollaban software para teléfonos móviles. Esto dio pie a rumores de que Google estaba planeando entrar en el mercado de los teléfonos móviles.<br>
            <br>
            En Google, el equipo liderado por Rubin desarrolló una plataforma para dispositivos móviles basada en el kernel de Linux que fue promocionado a fabricantes de dispositivos y operadores con la promesa de proveer un sistema flexible y actualizable. La especulación sobre que el sistema Android de Google entraría en el mercado de la telefonía móvil se incrementó en diciembre de 2006.
        </p>
    </div>
    <div class="col-md-1"></div>
</div>

<div class="espaciado"></div>

<app-footer-home></app-footer-home>
<div class="go-up" (click)="scroll(target)">
    <i class="fa fa-chevron-up" aria-hidden="true"></i>
</div>