<div #target></div>
<app-header-home></app-header-home>

<div class="espaciado"></div>

<app-header-post [cabecera]="cabeceraPost"></app-header-post>


<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <app-indice-contenidos [indice]="indiceDart" [clase]="claseDart"></app-indice-contenidos>
        <div class="espacio"></div>
    </div>
    <div class="col-md-2"></div>
</div>

<div class="espaciar"></div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        
        <h2 class="fuenteSeis fs-40 t10 sombra-texto">HISTORIA</h2>
        <p class="fuenteDos fs-20 text-light">
            El lenguaje de programación Dart nació en 2011 con el modesto objetivo de arreglar la web. En otras palabras, intentar reemplazar JavaScript en el navegador. Sin embargo, fracasó miserablemente en aquel entonces.<br>
            <br>
            Esto quedó claro cuando Google anunció en marzo de 2015 que no incluiría la VM de Dart en Chrome, sino que se centraría en el compilador de Dart-to-JS.<br>
            <br>
            Esto le pareció un golpe mortal a Dart. Después de todo, ahora estaba relegado a un mero lenguaje de compilación a JS, sólo uno de muchos.<br>
            <br>
            Para la mayoría de la gente, el lenguaje estaba en camino de desaparecer rápidamente y convertirse en una pequeña nota a pie de página en la historia de los lenguajes de programación. Pero el lenguaje sobrevivió y, al menos en Google, continuó prosperando.<br>
            <br>
            En mayo de 2017, Google lanzó la primera versión alfa pública del lenguaje Dart Flutter, un marco de desarrollo de interfaz de usuario multiplataforma, que utiliza Dart para crear aplicaciones móviles tanto para iOS como para Android. Con el tiempo, Flutter empezó a ser muy popular.<br>
            <br>
            Eso dio nueva vida al proyecto Dart, y con los lanzamientos de Dart 2 en agosto de 2018, y Flutter 1.0 poco después, quedó claro que Dart está absolutamente de vuelta en la ciudad, y podemos decir que va a ser una de las tecnologías de más rápido crecimiento actualmente.
        </p>
    </div>
    <div class="col-md-1"></div>
</div>

<div class="espaciado"></div>

<app-footer-home></app-footer-home>
<div class="go-up" (click)="scroll(target)">
    <i class="fa fa-chevron-up" aria-hidden="true"></i>
</div>