<div #target></div>
<app-header-home [categoria]="breadcrumb"></app-header-home>
<div class="espaciado"></div>
<app-encabezado-publicacion [idPublicacion]="idPublicacion"></app-encabezado-publicacion>
<div class="espaciado"></div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h3 class="text-light">El soporte para la autenticación por contraseña fue eliminado el 13 de agosto de 2021.</h3>
        <p>warning: git-credential-manager-core was renamed to git-credential-manager
            warning: see https://aka.ms/gcm/rename for more information
            fatal: No credential store has been selected.
            
            Set the GCM_CREDENTIAL_STORE environment variable or the credential.credentialStore Git configuration setting to one of the following options:
            
              secretservice : freedesktop.org Secret Service (requires graphical interface)
              gpg           : GNU `pass` compatible credential storage (requires GPG and `pass`)
              cache         : Git's in-memory credential cache
              plaintext     : store credentials in plain-text files (UNSECURE)
            
            See https://aka.ms/gcm/credstores for more information.
            
            Username for 'https://github.com': 2014maximo
            Password for 'https://2014maximo@github.com': 
            warning: git-credential-manager-core was renamed to git-credential-manager
            warning: see https://aka.ms/gcm/rename for more information
            fatal: No credential store has been selected.
            
            Set the GCM_CREDENTIAL_STORE environment variable or the credential.credentialStore Git configuration setting to one of the following options:
            
              secretservice : freedesktop.org Secret Service (requires graphical interface)
              gpg           : GNU `pass` compatible credential storage (requires GPG and `pass`)
              cache         : Git's in-memory credential cache
              plaintext     : store credentials in plain-text files (UNSECURE)
            
            See https://aka.ms/gcm/credstores for more information.
            </p>
    </div>
    <div class="col-md-1"></div>
</div>






<div class="espaciado"></div>

<app-footer-home></app-footer-home>
<div class="go-up" (click)="scroll(target)">
    <i class="fa fa-chevron-up" aria-hidden="true"></i>
</div>