<div class="row" *ngIf="!cabecera.incluirFondo">
    <div class="col-md-12">
        <!-- IMAGEN TITULAR ------------------------------------>
        <div class="headerPost sombraUno d-none d-md-block" [ngStyle]="{'background-image': 'url(' + cabecera.rutaImagen + ')'}">
        </div>
        <div class="espacio"></div>
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <h2 class="tituloPost p-2 f-bebas">{{ this.cabecera.nombre }}</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="cabecera.incluirFondo">
    <div class="col-md-12 text-center">
        
        <div class="espacio"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-7">
                    <h2 class="tituloPost f-bebas p-2">{{ this.cabecera.nombre }}</h2>
                </div>
            </div>
        </div>
        <img src="{{ this.cabecera.rutaImagen }}" alt="" height="{{ this.cabecera.alturaImagen }}" class="{{ this.cabecera.sombra }}">
    </div>
</div>