<div class="espaciado" #target></div>
<app-header-home></app-header-home>
<app-slider-home></app-slider-home>
<div class="espaciado"></div>

<app-galeria-post [itemIniciales]="9"></app-galeria-post>
<div class="espaciado"></div>

<app-menu-home></app-menu-home>
<div class="espaciado"></div>


<app-frases></app-frases>
<div class="espaciado d-none d-md-block"></div>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3588100301246050"
     crossorigin="anonymous"></script>

<app-footer-home></app-footer-home>
<div class="go-up" (click)="scroll(target)">
    <i class="fa fa-chevron-up" aria-hidden="true"></i>
</div>
