<div #target></div>
<div class="espaciado"></div>
<app-header-home [categoria]="breadcrumb"></app-header-home>


<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <span class="tc-gray-two f-merriweather fs-17 lh-17 m-0 p-0 ">
                <small>{{ this.cabeceraPost.fechaActualizacion | date:'dd/MM/yyyy' }}</small><br>
            </span>
            <p class="text-light f-merriweather fs-18 lh-25">
                Esta vez tenemos descripción rápida de la instalación junto con las versiones, los cambios y el link para descargar una versión específica.
            </p>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="espaciado"></div>
        <h4 class="f-shadow-into-l fs-30 tc-blue-two sombra-texto">COMANDOS PRÁCTICOS</h4>
        <table class="table table-sm table-borderless tc-gray-two f-operator-m text-shadow-one fs-17 overflow-auto d-block">
            <thead>
                <tr>
                  <th scope="col">COMANDO</th>
                  <th scope="col">DESCRIPCIÓN</th>
                  <th scope="col">ACCIÓN</th>
                </tr>
            </thead>
            <tbody>
                <tr class="border-t-dashed" *ngFor="let comando of comandos">
                    <td class="pr-4">{{comando.comando}} </td>
                    <td class=""> {{comando.observacion}}</td>
                    <td class="text-center">
                        <i class="fa fa-clone cursor-p ml-2 text-light h-blue" aria-hidden="true" title="Copiar" (click)="copiarAlPortapapeles(comando.comando)"></i>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="espacio"></div>
        <h4 class="f-shadow-into-l fs-30 tc-blue-two sombra-texto">VERSIONES, CARACTERÍSTICAS Y LINK</h4>
        <table class="table table-sm table-borderless tc-gray-two f-operator-m text-shadow-one fs-17 overflow-auto d-block">
            <thead>
                <tr>
                  <th scope="col">VERSIÓN</th>
                  <th scope="col">CAMBIOS</th>
                  <th scope="col">LINK</th>
                </tr>
            </thead>
            <tbody>
                <tr class="border-t-dashed" *ngFor="let version of versiones">
                    <td class="text-center">{{version.version}}</td>
                    <td>{{version.cambios}}</td>
                    <td class="text-center">
                        <a href="{{version.link}}" target="_blank">
                            <i class="fa fa-link" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    <div class="col-md-1"></div>
</div>

<div class="espaciado"></div>

<app-footer-home></app-footer-home>
<div class="go-up" (click)="scroll(target)">
    <i class="fa fa-chevron-up" aria-hidden="true"></i>
</div>