<div #target></div>
<app-header-home [categoria]="breadcrumb"></app-header-home>
<div class="espaciado"></div>
<app-encabezado-publicacion [idPublicacion]="idPublicacion" [rutaIconoSugerido]="categoria.rutaIcono"></app-encabezado-publicacion>
<div class="espaciado"></div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h2 class="f-bebas fs-50 text-light"> {{ 'ANGULAR.ng-gh-pages.crear-repo.titulo' | translate }}</h2>
        <div class="espacio"></div>
        <div class="row">
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-2">
                        <h2 class="f-bebas fs-160 text-light m-0 p-0">1</h2>
                    </div>
                    <div class="col-md-10">
                        <p class="text-light f-open-sans-c fs-18 lh-20">
                            {{ 'ANGULAR.ng-gh-pages.crear-repo.tx1' | translate }}
                        </p>

                        <app-imagen-modal
                            [imageUrl]="imageUrl"
                            [alt]="'Repositorio nuevo'"
                            [imageRef]="'modalRepo'">
                        </app-imagen-modal>

                        <p class="text-light f-open-sans-c fs-18 lh-20 mt-3">
                            {{ 'ANGULAR.ng-gh-pages.crear-repo.tx2' | translate }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-5"></div>
        </div>
        <div class="espacio"></div>
        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-2">
                        <h2 class="f-bebas fs-160 text-light m-0 p-0">2</h2>
                    </div>
                    <div class="col-md-10">
                        <p class="text-light f-open-sans-c fs-18 lh-20">
                            {{ 'ANGULAR.ng-gh-pages.crear-repo.tx3' | translate }}
                        </p>
                        <app-imagen-modal
                            [imageUrl]="'https://plantillas_dev.gitlab.io/assets/img/posts/angular/procesoGit.png'"
                            [alt]="'Comandos Github primer commit'"
                            [imageRef]="'modalProceso'">
                    </app-imagen-modal>
                        
                        <p class="text-light f-open-sans-c fs-18 lh-20 mt-3">
                            {{ 'ANGULAR.ng-gh-pages.crear-repo.tx4' | translate }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="espaciado"></div>
        <h2 class="f-bebas fs-50 text-light">{{ 'ANGULAR.ng-gh-pages.crear-proyecto-local.titulo' | translate }}</h2>
        
        <div class="row">
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-2">
                        
                        <h2 class="f-bebas fs-160 text-light m-0 p-0">3</h2>
                    </div>
                    <div class="col-md-10">
                        <p class="text-light f-open-sans-c fs-18 lh-20">
                            {{ 'ANGULAR.ng-gh-pages.crear-proyecto-local.tx1' | translate }}
                        </p>
                        <app-print-code
                            [ObjectCode]="nuevoProyectoAngular"
                            [categoria]="categoria"
                            [categoriaCorta]="'TERMINAL'"
                            [lineas]="3"
                            [lenguaje]="'linux'"
                            [tipoCode]="'windows'"
                            [colorTextoBase]="'c-Typescript'"
                            [refDocumentacion]="'https://rxjs.dev/api/index/function/firstValueFrom'"
                            [urlStackBlitz]="'https://developer.stackblitz.com/platform/api/javascript-sdk'">
                        </app-print-code>

                        <p class="text-light f-open-sans-c fs-18 lh-20 mt-4">
                            {{ 'ANGULAR.ng-gh-pages.crear-proyecto-local.tx2' | translate }}
                        </p>
                        <img src="https://plantillas_dev.gitlab.io/assets/img/posts/angular/archivosAngular.png" alt="new proceso inicial Git" height="400" width="auto" class="shadow-two mb-3 img-fluid" title="Zoom">
                    </div>
                </div>
            </div>
            <div class="col-md-5"></div>
        </div>
        <div class="espaciado"></div>
        <div class="row">
            <div class="col-md-5">
            </div>
            <div class="col-md-7">
                <h2 class="f-bebas fs-50 text-light">{{ 'ANGULAR.ng-gh-pages.agregar-libreria.titulo' | translate }}</h2>
                <div class="row">
                    <div class="col-md-2">
                        
                        <h2 class="f-bebas fs-160 text-light m-0 p-0">4</h2>
                    </div>
                    <div class="col-md-10">
                        <p class="text-light f-open-sans-c fs-18 lh-20">
                            {{ 'ANGULAR.ng-gh-pages.agregar-libreria.tx1' | translate }}
                        </p>
                        <app-print-code
                            [ObjectCode]="agregarLibreria"
                            [categoria]="categoria"
                            [categoriaCorta]="'TERMINAL'"
                            [lineas]="3"
                            [lenguaje]="'linux'"
                            [tipoCode]="'windows'"
                            [colorTextoBase]="'c-Typescript'"
                            [refDocumentacion]="'https://rxjs.dev/api/index/function/firstValueFrom'"
                            [urlStackBlitz]="'https://developer.stackblitz.com/platform/api/javascript-sdk'">
                        </app-print-code>

                        <p class="text-light f-open-sans-c fs-18 lh-20 mt-4">
                            {{ 'ANGULAR.ng-gh-pages.agregar-libreria.tx2' | translate }} 
                        </p>
                        <img src="https://plantillas_dev.gitlab.io/assets/img/posts/angular/libreria-ghpages.png" alt="new proceso inicial Git" height="400" width="auto" class="shadow-two mb-3 img-fluid" title="Zoom">
                        <!-- The Modal -->
                    </div>
                </div>
            </div>
        </div>
        <div class="espaciado"></div>
        <h2 class="f-bebas fs-50 text-light">{{ 'ANGULAR.ng-gh-pages.construir-compilado.titulo' | translate }}</h2>
        <div class="row">

            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-2">
                        
                        <h2 class="f-bebas fs-160 text-light m-0 p-0">5</h2>
                    </div>
                    <div class="col-md-10">
                        <p class="text-light f-open-sans-c fs-18 lh-20">
                            {{ 'ANGULAR.ng-gh-pages.construir-compilado.tx1' | translate }}
                        </p>
                        <app-print-code
                            [ObjectCode]="construirProyecto"
                            [categoria]="categoria"
                            [categoriaCorta]="'TERMINAL'"
                            [lineas]="3"
                            [lenguaje]="'linux'"
                            [tipoCode]="'windows'"
                            [colorTextoBase]="'c-Typescript'"
                            [refDocumentacion]="'https://rxjs.dev/api/index/function/firstValueFrom'"
                            [urlStackBlitz]="'https://developer.stackblitz.com/platform/api/javascript-sdk'">
                        </app-print-code>
                        <p class="text-light f-open-sans-c fs-18 lh-20 mt-3">
                            {{ 'ANGULAR.ng-gh-pages.construir-compilado.tx2' | translate }} 
                        </p>
                        <app-imagen-modal
                            [imageUrl]="'https://plantillas_dev.gitlab.io/assets/img/posts/angular/construccion-completa.png'"
                            [alt]="'Compilado Angular'"
                            [imageRef]="'modalConstruccion'">
                        </app-imagen-modal>
                        <p class="text-light f-open-sans-c fs-18 lh-20 mt-3">
                            <b>{{ 'ANGULAR.ng-gh-pages.construir-compilado.nota' | translate }}</b><br>
                            {{ 'ANGULAR.ng-gh-pages.construir-compilado.tx3' | translate }}
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-md-5">

            </div>
        </div>
        <div class="espaciado"></div>

        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-7">
                <h2 class="f-bebas fs-50 text-light">{{ 'ANGULAR.ng-gh-pages.subir-compilado.titulo' | translate }}</h2>
                <div class="row">
                    <div class="col-md-2">
                        
                        <h2 class="f-bebas fs-160 text-light m-0 p-0">6</h2>
                    </div>
                    <div class="col-md-10">
                        <p class="text-light f-open-sans-c fs-18 lh-20">
                            {{ 'ANGULAR.ng-gh-pages.subir-compilado.tx1' | translate }}
                        </p>
                        <app-print-code
                        [ObjectCode]="subirCompilado"
                        [categoria]="categoria"
                        [categoriaCorta]="'TERMINAL'"
                        [lineas]="3"
                        [lenguaje]="'linux'"
                        [tipoCode]="'windows'"
                        [colorTextoBase]="'c-Typescript'"
                        [refDocumentacion]="'https://rxjs.dev/api/index/function/firstValueFrom'"
                        [urlStackBlitz]="'https://developer.stackblitz.com/platform/api/javascript-sdk'">
                        </app-print-code>
                        <p class="text-light f-open-sans-c fs-18 lh-20 mt-3">
                            {{ 'ANGULAR.ng-gh-pages.subir-compilado.tx2' | translate }}
                        </p>
                        <app-imagen-modal
                            [imageUrl]="'https://plantillas_dev.gitlab.io/assets/img/posts/angular/angular-githubpages-final.png'"
                            [alt]="'Respuesta subir proyecto githubpages'"
                            [imageRef]="'modalProcesoFinal'">
                        </app-imagen-modal>

                    </div>
                </div>
            </div>
        </div>
        <div class="espaciado"></div>

        <div class="row">
            <div class="col-md-7">
                <h2 class="f-bebas fs-50 text-light">{{ 'ANGULAR.ng-gh-pages.deploy-github.titulo' | translate }}</h2>
                <div class="row">
                    <div class="col-md-2">
                        
                        <h2 class="f-bebas fs-160 text-light m-0 p-0">7</h2>
                    </div>
                    <div class="col-md-10">
                        <p class="text-light f-open-sans-c fs-18 lh-20 mt-3">
                            {{ 'ANGULAR.ng-gh-pages.deploy-github.tx1' | translate }}<br>
                            {{ 'ANGULAR.ng-gh-pages.deploy-github.tx2' | translate }}<b>{{ 'ANGULAR.ng-gh-pages.deploy-github.tx3' | translate }}</b>{{ 'ANGULAR.ng-gh-pages.deploy-github.tx4' | translate }}<b>{{ 'ANGULAR.ng-gh-pages.deploy-github.tx5' | translate }}</b>
                        </p>
                        <app-imagen-modal
                            [imageUrl]="'https://plantillas_dev.gitlab.io/assets/img/posts/angular/deploy.png'"
                            [alt]="'Proyecto deploy'"
                            [imageRef]="'deploy'">
                        </app-imagen-modal>

                    </div>
                </div>
            </div>
            <div class="col-md-5"></div>
        </div>
        <div class="espaciado"></div>

        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-2">
                        <img src="assets/img/memes/mem4.png" alt="" height="70" width="auto" class="drop">
                        
                    </div>
                    <div class="col-md-10">
                        <p class="text-light f-open-sans-c fs-18 lh-20">
                            {{ 'ANGULAR.ng-gh-pages.deploy-github.tx6' | translate }}<br>
                            <a href="https://www.npmjs.com/package/angular-cli-ghpages" target="_blank"> <b>angular-githubpages</b> </a><br>
                            <br>
                            {{ 'ANGULAR.ng-gh-pages.deploy-github.tx7' | translate }}<br>
                            <br>
                            {{ 'ANGULAR.ng-gh-pages.deploy-github.tx8' | translate }}
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-1"></div>
</div>






<div class="espaciado"></div>

<app-footer-home></app-footer-home>
<div class="go-up" (click)="scroll(target)">
    <i class="fa fa-chevron-up" aria-hidden="true"></i>
</div>