<div id="head"></div>
<div id="head" class="bg-dark header fixed-top text-primary pt-3 pb-3 grandes transparenciaUno">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-4">
            <a href="home">
                <h2 class="f-bebas text-light m-0">TRUCOS PA' DESARROLLO</h2>
                <span *ngIf="categoria.activo">
                    <a href="{{categoria.ruta}}" class="f-shadow-into-l text-uppercase {{categoria.colorText}} fs-17 text-shadow-one">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                        {{ categoria.categoria }}
                    </a>
                </span>
            </a>
        </div>
        <div class="col-6">
            <form class="formUno mb-2" [formGroup]="formBasic">
                <input (blur)="desaparecerTablaBusqueda()" class="inputUno text-light fuente bg-transparent" type="search" placeholder="Buscar" aria-label="Search" formControlName="busqueda" (keyup)="buscar($event)">
            </form>
            <div *ngIf="mostrarResultados">
                <p *ngFor="let item of encontrados" class="text-light f-open-sans-c cursor-p m-0 p-0" (click)="irAlPost(item.ruta)">{{ item.nombre }}</p>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</div>
<div class="pos-f-t mobile fixed-top">
    <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
        <form class="formUno mb-2" [formGroup]="formBasic">
            <input (blur)="desaparecerTablaBusqueda()" class="inputUno text-light fuente bg-transparent" type="search" placeholder="Buscar" aria-label="Search" formControlName="busqueda" (keyup)="buscar($event)">
        </form>
        <div *ngIf="mostrarResultados">
            <p *ngFor="let item of encontrados" class="text-light f-open-sans-c cursor-p m-0 p-0" (click)="irAlPost(item.ruta)">{{ item.nombre }}</p>
        </div>
    </div>
    </div>
    <nav class="navbar navbar-dark bg-dark text-light transparenciaUno">
        <a href="home">
            <h2 class="fuenteDos">TRUCOS PA' DESARROLLO</h2>
            <span *ngIf="categoria.activo">
                <a href="{{categoria.ruta}}" class="f-shadow-into-l text-uppercase {{categoria.colorText}} fs-17 text-shadow-one">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    {{ categoria.categoria }}
                </a>
            </span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    </nav>
</div>