<div #target></div>
<app-header-home [categoria]="breadcrumb"></app-header-home>

<div class="espaciado"></div>

<app-encabezado-publicacion [idPublicacion]="idPublicacion" [rutaIconoSugerido]="categoria.rutaIcono"></app-encabezado-publicacion>
<div class="espaciado"></div>


<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-8">
                <h4 class="f-shadow-into-l fs-35 lh-35 {{ publicacion.estilos.color }}"> {{ 'TYPESCRIPT.typescript-instalacion.titulo1' | translate }}</h4>
                <p class="c7 f-open-sans-c fs-20 lh-25"> {{ 'TYPESCRIPT.typescript-instalacion.enLinux' | translate }}<br>
                <br>
                {{ 'TYPESCRIPT.typescript-instalacion.instalar' | translate }}</p>
                <app-print-code
                [ObjectCode]="installNodeTypescript"
                [categoria]="categoria"
                [categoriaCorta]="'TERMINAL'"
                [lineas]="3"
                [lenguaje]="'linux'"
                [tipoCode]="'linux'"
                [colorTextoBase]="'text-light'"
                [refDocumentacion]="'https://rxjs.dev/api/index/function/firstValueFrom'"
                [urlStackBlitz]="'https://developer.stackblitz.com/platform/api/javascript-sdk'">
                </app-print-code>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="espacio"></div>
        <div class="row">
            
            <div class="col-md-8">
                <p class="c7 f-open-sans-c lh-25 fs-20">
                    {{ 'TYPESCRIPT.typescript-instalacion.archivo' | translate }}
                </p>
                <app-print-code
                [code]="archivoTypescript"
                [categoria]="categoria"
                [categoriaCorta]="'TYPESCRIPT'"
                [lineas]="1"
                [lenguaje]="'typescript'"
                [tipoCode]="'lenguajes'"
                [colorTextoBase]="'text-light'"
                [refDocumentacion]="'https://rxjs.dev/api/index/function/firstValueFrom'"
                [urlStackBlitz]="'https://developer.stackblitz.com/platform/api/javascript-sdk'">
                </app-print-code>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="espacio"></div>
        <div class="row">
            <div class="col-md-8">
                <p class="c7 f-open-sans-c lh-25 fs-20">
                    {{ 'TYPESCRIPT.typescript-instalacion.correrArchivo' | translate }}
                </p>
                <app-print-code
                [ObjectCode]="correrNodeTypescript"
                [categoria]="categoria"
                [categoriaCorta]="'TERMINAL'"
                [lineas]="3"
                [lenguaje]="'linux'"
                [tipoCode]="'linux'"
                [colorTextoBase]="'text-light'"
                [refDocumentacion]="'https://rxjs.dev/api/index/function/firstValueFrom'"
                [urlStackBlitz]="'https://developer.stackblitz.com/platform/api/javascript-sdk'">
                </app-print-code>

            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="espaciado"></div>

        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-8">
                <h4 class="f-shadow-into-l fs-35 lh-35 {{ publicacion.estilos.color }}">{{ 'TYPESCRIPT.typescript-instalacion.titulo2' | translate }}</h4>
                <p class="c7 f-open-sans-c fs-20 lh-25">{{ 'TYPESCRIPT.typescript-instalacion.enWindows' | translate }}<br>
                <br>
                {{ 'TYPESCRIPT.typescript-instalacion.instalar' | translate }}</p>
                <app-print-code
                [ObjectCode]="consolaWindows"
                [categoria]="categoria"
                [categoriaCorta]="'TERMINAL'"
                [lineas]="3"
                [lenguaje]="'linux'"
                [tipoCode]="'windows'"
                [colorTextoBase]="'c-Typescript'"
                [refDocumentacion]="'https://rxjs.dev/api/index/function/firstValueFrom'"
                [urlStackBlitz]="'https://developer.stackblitz.com/platform/api/javascript-sdk'">
                </app-print-code>
                <div class="espacio"></div>

                <p class="c7 f-open-sans-c lh-25 fs-20">
                    {{ 'TYPESCRIPT.typescript-instalacion.archivo' | translate }}
                </p>
                <app-print-code
                [code]="archivoTypescriptWindows"
                [categoria]="categoria"
                [categoriaCorta]="'TYPESCRIPT'"
                [lineas]="1"
                [lenguaje]="'typescript'"
                [tipoCode]="'lenguajes'"
                [colorTextoBase]="'text-light'"
                [refDocumentacion]="'https://rxjs.dev/api/index/function/firstValueFrom'"
                [urlStackBlitz]="'https://developer.stackblitz.com/platform/api/javascript-sdk'">
                </app-print-code>
                <div class="espacio"></div>

                <p class="c7 f-open-sans-c lh-25 fs-20">
                    Una vez instalada la dependencia, el archivo anterior se corre tranquilamente:
                </p>
                <app-print-code
                [ObjectCode]="consolaWindowsCorrer"
                [categoria]="categoria"
                [categoriaCorta]="'TERMINAL'"
                [lineas]="3"
                [lenguaje]="'linux'"
                [tipoCode]="'windows'"
                [colorTextoBase]="'c-Typescript'"
                [refDocumentacion]="'https://rxjs.dev/api/index/function/firstValueFrom'"
                [urlStackBlitz]="'https://developer.stackblitz.com/platform/api/javascript-sdk'">
                </app-print-code>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>

<div class="espaciado"></div>

<app-footer-home></app-footer-home>
<div class="go-up" (click)="scroll(target)">
    <i class="fa fa-chevron-up" aria-hidden="true"></i>
</div>