.headerPost {
    height: 373px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center, center !important;
}
.tituloPost {
    text-transform: uppercase;
    line-height: 80px;
    font-size: 95px;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
}
.subTituloPost {
    font-family: 'OperatorMono';
    color: #f6921e;
    font-size: 40px;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-weight: 600 !important;
    line-height: 40px;
}
.texto-lateral{
    transform: rotate(-90deg);
}

@media (max-width: 600px) {
    .tituloPost {
        font-size: 40px;
        line-height: 40px;
    }
}