<div #target></div>
<app-header-home [categoria]="breadcrumb"></app-header-home>
<div class="espaciado"></div>
<app-header-post [cabecera]="cabeceraPost"></app-header-post>


<div class="espaciado"></div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h3 class="f-shadow-into-l tc-yellow-one fs-30 m-0">FILTER</h3>
        <h4 class="f-open-sans-c text-light fs-25">Retirar objeto de array según atributo.</h4>
        
        <div class="espacio"></div>
        
        <h3 class="f-shadow-into-l tc-yellow-one fs-30 m-0">MAP</h3>
        <h4 class="f-open-sans-c text-light fs-25">Recolectar todos los atributos de un array de objetos.</h4>
        <div class="row">
            <div class="col-md-6">
                <img src="{{ rutaImagen }}assets/categorias/JAVASCRIPT/js-recorrer-arrays-objetos/js-operador-map-01.png" alt="operator map"  class="shadow-one br-5 mt-4 img-fluid">
            </div>
            <div class="col-md-6">
                <app-print-code></app-print-code>
            </div>
        </div>
        <div class="espaciado"></div>
        <h3 class="f-shadow-into-l tc-yellow-one fs-30 m-0">PUSH.APPLY</h3>
        <h4 class="f-open-sans-c text-light fs-25">Unir 2 arrays</h4>
        <div class="row">
            <div class="col-md-6">
                <img src="{{ rutaImagen }}assets/categorias/JAVASCRIPT/js-recorrer-arrays-objetos/push-apply-001.png" alt="operator map"  class="shadow-one br-5 mt-4 img-fluid">
            </div>
            <div class="col-md-6"></div>
        </div>
        <div class="espaciado"></div>
        <h3 class="f-shadow-into-l tc-yellow-one fs-30 m-0">SPLICE</h3>
        <h4 class="f-open-sans-c text-light fs-25">Este método elimina elementos de conteo de la matriz, comenzando en el índice especificado.  Los elementos eliminados se devuelven como resultado del método.
        <br>
        Algo muy importante de esta función y que parece nunca te explican, es que si inmediatamente usas el "SPLICE" y le pasas el valor a una variable, solo le va a pasar el elemento eliminado. Solo después de terminar el proceso "SPLICE", el array al que le aplicaste el "SPLICE" cambió y ahora esta sin el elemento eliminado.</h4>
        <div class="row">
            <div class="col-md-6">
                <img src="{{ rutaImagen }}assets/categorias/JAVASCRIPT/js-recorrer-arrays-objetos/pash-apply-001.png" alt="Ejemplo splice" class="shadow-one br-5 mt-4 img-fluid">
            </div>
            <div class="col-md-6"></div>
        </div>

        <div class="espaciado"></div>

        <h3 class="f-shadow-into-l tc-yellow-one fs-30 m-0">concat('otherArray')</h3>
        <h4 class="f-open-sans-c text-light fs-25">Este método devuelve un nuevo array que concatena el array sobre el que se ha llamado con el array especificado como argumento. Se pueden especificar varias matrices.</h4>

        <div class="espaciado"></div>

        <h3 class="f-shadow-into-l tc-yellow-one fs-30 m-0">join('separator')</h3>
        <h4 class="f-open-sans-c text-light fs-25">Este método une todos los elementos de la matriz para formar una cadena. El argumento especifica el carácter utilizado para delimitar los elementos.</h4>

        <div class="espaciado"></div>

        <h3 class="f-shadow-into-l tc-yellow-one fs-30 m-0">pop()</h3>
        <h4 class="f-open-sans-c text-light fs-25">Este método elimina y devuelve el último elemento de la matriz</h4>

        <div class="espaciado"></div>

        <h3 class="f-shadow-into-l tc-yellow-one fs-30 m-0">shift()</h3>
        <h4 class="f-open-sans-c text-light fs-25">Este método elimina y devuelve el primer elemento de la matriz.</h4>

        <div class="espaciado"></div>

        <h3 class="f-shadow-into-l tc-yellow-one fs-30 m-0">push()</h3>
        <h4 class="f-open-sans-c text-light fs-25">Este método agrega el elemento especificado al final de la matriz.</h4>

        <div class="espaciado"></div>

        <h3 class="f-shadow-into-l tc-yellow-one fs-30 m-0">unshift(item)</h3>
        <h4 class="f-open-sans-c text-light fs-25">Este método inserta un nuevo elemento al comienzo de la matriz.</h4>

        <div class="espaciado"></div>

        <h3 class="f-shadow-into-l tc-yellow-one fs-30 m-0">reverse()</h3>
        <h4 class="f-open-sans-c text-light fs-25">Este método devuelve una nueva matriz que contiene los elementos en orden inverso.</h4>

        <div class="espaciado"></div>

        <h3 class="f-shadow-into-l tc-yellow-one fs-30 m-0">slice(start, end)</h3>
        <h4 class="f-open-sans-c text-light fs-25">Este método devuelve una sección de la matriz.</h4>

        <div class="espaciado"></div>

        <h3 class="f-shadow-into-l tc-yellow-one fs-30 m-0">sort()</h3>
        <h4 class="f-open-sans-c text-light fs-25">Este método ordena la matriz.  Se puede utilizar una función de comparación opcional para realizar comparaciones personalizadas.</h4>

        <div class="espaciado"></div>

        <h3 class="f-shadow-into-l tc-yellow-one fs-30 m-0">unshift(item) </h3>
        <h4 class="f-open-sans-c text-light fs-25">Este método inserta un nuevo elemento al comienzo de la matriz.</h4>

        <div class="espaciado"></div>

        <h3 class="f-shadow-into-l tc-yellow-one fs-30 m-0">every(test) </h3>
        <h4 class="f-open-sans-c text-light fs-25">Este método llama a la función de prueba para cada elemento de la matriz y devuelve verdadero si la función devuelve verdadero para todos ellos y falso de lo contrario.</h4>

        <div class="espaciado"></div>

        <h3 class="f-shadow-into-l tc-yellow-one fs-30 m-0">some(test) </h3>
        <h4 class="f-open-sans-c text-light fs-25">Este método devuelve verdadero si llamar a la función de prueba para cada elemento de la matriz devuelve verdadero al menos una vez.</h4>

        <div class="espaciado"></div>

        <h3 class="f-shadow-into-l tc-yellow-one fs-30 m-0">filter(test) </h3>
        <h4 class="f-open-sans-c text-light fs-25">Este método devuelve una nueva matriz que contiene los elementos para los que la función de prueba devuelve verdadero.</h4>

        <div class="espaciado"></div>

        <h3 class="f-shadow-into-l tc-yellow-one fs-30 m-0">find(test) </h3>
        <h4 class="f-open-sans-c text-light fs-25">Este método devuelve el primer elemento de la matriz para el que la función de prueba es verdadera.</h4>

        <div class="espaciado"></div>

        <h3 class="f-shadow-into-l tc-yellow-one fs-30 m-0">findIndex(test) </h3>
        <h4 class="f-open-sans-c text-light fs-25">Este método devuelve el índice del primer elemento de la matriz para el que la función de prueba devuelve verdadero.</h4>

        <div class="espaciado"></div>

        <h3 class="f-shadow-into-l tc-yellow-one fs-30 m-0">foreach(callback) </h3>
        <h4 class="f-open-sans-c text-light fs-25">Este método invoca la función callback para cada elemento de la matriz, como se describe en la sección anterior.</h4>

        <div class="espaciado"></div>

        <h3 class="f-shadow-into-l tc-yellow-one fs-30 m-0">includes(value) </h3>
        <h4 class="f-open-sans-c text-light fs-25">Este método devuelve true si el array contiene el valor especificado.</h4>

        <div class="espaciado"></div>

        <h3 class="f-shadow-into-l tc-yellow-one fs-30 m-0">map(callback) </h3>
        <h4 class="f-open-sans-c text-light fs-25">Este método devuelve un nuevo array que contiene el resultado de invocar la función callback para cada elemento del array.</h4>

        <div class="espaciado"></div>

        <h3 class="f-shadow-into-l tc-yellow-one fs-30 m-0">reduce(callback) </h3>
        <h4 class="f-open-sans-c text-light fs-25">Este método devuelve el valor acumulado producido al invocar la función callback para cada elemento del array.
        </h4>

    </div>
    <div class="col-md-1"></div>
</div>

<div class="espaciado"></div>

<app-footer-home></app-footer-home>
<div class="go-up" (click)="scroll(target)">
    <i class="fa fa-chevron-up" aria-hidden="true"></i>
</div>