<div #target></div>
<app-header-home></app-header-home>
<div class="espaciado"></div>
<app-header-post [cabecera]="cabeceraPost"></app-header-post>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <app-indice-contenidos [indice]="indiceSena" [clase]="claseSena"></app-indice-contenidos>
    </div>
    <div class="col-md-2"></div>
</div>

<div class="espaciado"></div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        
        <h2 class="fuenteSeis fs-40 tc-orange-three sombra-texto">Breve HISTORIA</h2>
        <p class="fuenteDos fs-20 text-light">
            El 21 de junio de 1957 nació el Servicio Nacional de Aprendizaje (SENA) bajo el Decreto Ley 118 de ese año; fue una iniciativa del economista cartagenero Rodolfo Martínez Tono (q.e.p.d.), quien le propuso la idea de crear una entidad de enseñanza laboral y técnica al entonces ministro del trabajo, Raimundo Emiliani Román.<br>
            <br>
            Entre los acontecimientos más destacados de estos 59 años de historia se tiene la creación en el mismo año de fundación de la Entidad de la primeras seccionales (hoy regionales) de los departamentos de Antioquia, Atlántico, Bolívar, Cauca, Cundinamarca, Magdalena, Nariño y Valle.<br>
            <br>
            En 1960, en solo tres años de fundación, la Institución ya contaba con 30 centros de formación en todo el territorio nacional, que llegaron a 50 en 1968.<br>
            <br>
            Al cumplir 15 años (1971), el SENA alcanzó un prestigio internacional sin precedentes, ya que distintos países llegaron a Colombia para conocer la experiencia de sus procesos de formación y apoyo al emprendimiento. Se destacó la visita de Charles de Gaulle, presidente de Francia.<br>
            <br>
            Entre 1976 y 1980 se fortalecieron los procesos de formación para la industria manufacturera, la agricultura industrial, el comercio y los servicios, acorde con el crecimiento sostenido en estos sectores de la economía.<br>
            <br>
            En 1985 surgió Capacitación para la Participación Campesina (Capaca), dirigida a líderes campesinos e indígenas y comunidades beneficiarias de la Reforma Agraria para que tomen parte en el desarrollo rural.<br>
            <br>
            Cinco años más tarde (1990) fue creada la Agencia Pública de Empleo –hasta hoy el principal servicio de intermediación laboral en Colombia–, a través de la cual 1,1 millones de personas han conseguido trabajo en todo el país, 56 por ciento de ellas en los últimos dos años.<br>
            <br>
            A partir de 1992 estudiantes de colegio comenzaron a formarse simultáneamente como técnicos del SENA a través del Programa de Articulación con la Media, mientras que en 1996 la Entidad y el Instituto para el Desarrollo de la Ciencia y la Tecnología (Colciencias) se unieron para promover la investigación tecnología y la modernización científica.<br>
            <br>
            En el año 2000 rodaron por las carreteras colombianas las primeras aulas móviles llevando formación a zonas alejadas de los cascos urbanos.<br>
            <br>
            Acorde a las exigencias, en 2002 se estableció la página web www.sena.edu.co, que en la actualidad es la segunda página del Estado más visitada, y con la que un año posterior se implementó el aprendizaje virtual a través de internet.<br>
            <br>
            En 2004 llegó la Institución, como regionales autónomas, a los departamentos de Amazonas, Arauca, Cundinamarca, Guainía, Guaviare, Putumayo, Vaupés y Vichada.<br>
            <br>
            Un año después (2005), Fondo Emprender comenzó a otorgar recursos de capital semilla condonables para iniciativas de negocio.<br>
            <br>
            En 2008, el SENA ingresó a la organización WorldSkills, a través de la cual se busca mejorar los estándares de la calidad de la formación técnica y tecnológica en más de 80 países del mundo; y en 2013 llegaron los primeros ‘volunteachers’, que son voluntarios provenientes de países angloparlantes para fortalecer la formación en inglés de los aprendices.<br>
            <br>
            El 20 de agosto de 2014 se posesionó como Director General del SENA, Alfonso Prada, teniendo como reto hacer de la Entidad una de las herramientas para una paz estable y duradera.<br>
            <br>
            En 2015 nació SENA Emprende Rural (SER), estrategia derivada del Programa Jóvenes Rurales Emprendedores y fortalecida por la Dirección de Empleo, Trabajo y Emprendimiento.<br>
            <br>
            Hace solo un par de semanas el ministro consejero para el posconflicto, Rafael Pardo, y el director general del SENA, Alfonso Prada, dieron a conocer que la Entidad “desembarcará” en un centenar de municipios marginados por la guerra.
        </p>
    </div>
    <div class="col-md-1"></div>
</div>

<div class="espaciado"></div>

<app-footer-home></app-footer-home>
<div class="go-up" (click)="scroll(target)">
    <i class="fa fa-chevron-up" aria-hidden="true"></i>
</div>