<div #target></div>
<app-header-home [categoria]="breadcrumb"></app-header-home>
<div class="espaciado"></div>
<app-encabezado-publicacion [idPublicacion]="idPublicacion" [rutaIconoSugerido]="categoria.rutaIcono"></app-encabezado-publicacion>
<div class="espaciado"></div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-8">
                <h2 class="f-yanone fs-30 lh-30 text-light p-0 text-uppercase mb-2">ESTRUCTURA DE ARCHIVOS EN PROYECTOS KOTLIN</h2>
                <p class="c7 fuenteDos fs-20 lh-25">
                    Los proyectos de Java presentan numerosas estructuras de archivos que varían según el editor de texto, el tipo de arquitectura o el enfoque de aplicativo. Miremos algunas y para que todo eso.
                </p>
                <img src="https://plantillas_dev.gitlab.io/assets/img/posts/kotlin/estructura-archivos.png" alt="Extructura archivos" height="auto" width="224" class="shadow-three">
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="espacio"></div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-8">
                <h2 class="f-yanone fs-30 lh-30 text-light p-0 text-uppercase mb-2">VARIABLES</h2>
                <div class="d-flex">
                    <p class="c7 fuenteDos fs-20 lh-25">
                        Pero porque las constantes se llaman 'val'?
                    </p>
                    <img src="assets/img/memes/mem4.png" alt="" height="50" width="auto" class="drop">
                </div>
                <img src="assets/img/memes/mem5.png" alt="" height="90" width="auto" class="drop">
                <p class="c7 fuenteDos fs-20 lh-25">
                    Muy similar a las variables. De todas formas tener en cuenta para evitar confusiones.<br>
                    <span style="color:#bb92ea">Palabra reservada para constante o variable</span> | <span class="text-light">nombreVariable</span> | <span class="text-light">Tipado</span> | <span style="color:#f78c6c;">Valor</span>
                </p>

                <app-print-code
                            [code]="variablesCode"
                            [categoria]="categoria"
                            [categoriaCorta]="'KOTLIN'"
                            [tipoCode]="'transparente'"
                            [lineas]="5"
                            [lenguaje]="'kotlin'"
                            [colorTextoBase]="'text-light'"
                            [refDocumentacion]="'https://rxjs.dev/api/index/function/firstValueFrom'"
                            [urlStackBlitz]="'https://developer.stackblitz.com/platform/api/javascript-sdk'">
                </app-print-code>
                <div class="espacio"></div>
                
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <p class="c7 fuenteDos fs-20 lh-25">
                    <b>Implicando el tipo</b> - la buena práctica de tipar:
                </p>
                <app-print-code
                            [code]="variablesImplicitos"
                            [categoria]="categoria"
                            [categoriaCorta]="'KOTLIN'"
                            [lineas]="0"
                            [tipoCode]="'transparente'"
                            [lenguaje]="'kotlin'"
                            [colorTextoBase]="'text-light'"
                            [refDocumentacion]="'https://rxjs.dev/api/index/function/firstValueFrom'"
                            [urlStackBlitz]="'https://developer.stackblitz.com/platform/api/javascript-sdk'">
                </app-print-code>
                <div class="espacio"></div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-8">
                <p class="c7 fuenteDos fs-20 lh-25">
                    <b>Coerción implícita</b> - el paso del valor aplica el tipado.
                </p>
                <app-print-code
                            [code]="coercionImplicita"
                            [categoria]="categoria"
                            [categoriaCorta]="'KOTLIN'"
                            [lineas]="0"
                            [tipoCode]="'transparente'"
                            [lenguaje]="'kotlin'"
                            [colorTextoBase]="'text-light'"
                            [refDocumentacion]="'https://rxjs.dev/api/index/function/firstValueFrom'"
                            [urlStackBlitz]="'https://developer.stackblitz.com/platform/api/javascript-sdk'">
                </app-print-code>
                <div class="espacio"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <p class="c7 fuenteDos fs-20 lh-25">
                    <b>Interpolación de cadenas</b> - Concatenaciones dentro de strings:
                </p>
                <app-print-code
                            [code]="interpolacion"
                            [categoria]="categoria"
                            [categoriaCorta]="'KOTLIN'"
                            [lineas]="0"
                            [tipoCode]="'transparente'"
                            [lenguaje]="'kotlin'"
                            [colorTextoBase]="'text-light'"
                            [refDocumentacion]="'https://rxjs.dev/api/index/function/firstValueFrom'"
                            [urlStackBlitz]="'https://developer.stackblitz.com/platform/api/javascript-sdk'">
                </app-print-code>
                <div class="espacio"></div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-8">
                <p class="c7 fuenteDos fs-20 lh-25">
                    <b>Operador de rango</b>:
                </p>
                <app-print-code
                            [code]="operadorRango"
                            [categoria]="categoria"
                            [categoriaCorta]="'KOTLIN'"
                            [lineas]="0"
                            [tipoCode]="'transparente'"
                            [lenguaje]="'kotlin'"
                            [colorTextoBase]="'text-light'"
                            [refDocumentacion]="'https://rxjs.dev/api/index/function/firstValueFrom'"
                            [urlStackBlitz]="'https://developer.stackblitz.com/platform/api/javascript-sdk'">
                </app-print-code>
                <div class="espacio"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <p class="c7 fuenteDos fs-20 lh-25">
                    <b>Operador de rango inclusivo</b>:
                </p>
                <app-print-code
                            [code]="operadorRangoInclusivo"
                            [categoria]="categoria"
                            [categoriaCorta]="'KOTLIN'"
                            [lineas]="0"
                            [tipoCode]="'transparente'"
                            [lenguaje]="'kotlin'"
                            [colorTextoBase]="'text-light'"
                            [refDocumentacion]="'https://rxjs.dev/api/index/function/firstValueFrom'"
                            [urlStackBlitz]="'https://developer.stackblitz.com/platform/api/javascript-sdk'">
                </app-print-code>
                <div class="espaciado"></div>
            </div>
            <div class="col-md-4"></div>
        </div>

        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-8">
                <h2 class="f-yanone fs-30 lh-30 text-light p-0 text-uppercase mb-2">COLLECIONES</h2>
                <p class="c7 fuenteDos fs-20 lh-25">
                    <b>Arrays:</b>
                </p>

                <app-print-code
                            [code]="arrays"
                            [categoria]="categoria"
                            [categoriaCorta]="'KOTLIN'"
                            [tipoCode]="'transparente'"
                            [lineas]="5"
                            [lenguaje]="'kotlin'"
                            [colorTextoBase]="'text-light'"
                            [refDocumentacion]="'https://rxjs.dev/api/index/function/firstValueFrom'"
                            [urlStackBlitz]="'https://developer.stackblitz.com/platform/api/javascript-sdk'">
                </app-print-code>
                <div class="espacio"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <p class="c7 fuenteDos fs-20 lh-25">
                    <b>Maps:</b>
                </p>

                <app-print-code
                            [code]="maps"
                            [categoria]="categoria"
                            [categoriaCorta]="'KOTLIN'"
                            [tipoCode]="'transparente'"
                            [lineas]="5"
                            [lenguaje]="'kotlin'"
                            [colorTextoBase]="'text-light'"
                            [refDocumentacion]="'https://rxjs.dev/api/index/function/firstValueFrom'"
                            [urlStackBlitz]="'https://developer.stackblitz.com/platform/api/javascript-sdk'">
                </app-print-code>
                <div class="espacio"></div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-8">
                <p class="c7 fuenteDos fs-20 lh-25">
                    <b>Colecciones vacías:</b>
                </p>
                <app-print-code
                            [code]="coleccionesVacias"
                            [categoria]="categoria"
                            [categoriaCorta]="'KOTLIN'"
                            [tipoCode]="'transparente'"
                            [lineas]="5"
                            [lenguaje]="'kotlin'"
                            [colorTextoBase]="'text-light'"
                            [refDocumentacion]="'https://rxjs.dev/api/index/function/firstValueFrom'"
                            [urlStackBlitz]="'https://developer.stackblitz.com/platform/api/javascript-sdk'">
                </app-print-code>
                <div class="espacio"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <h2 class="f-yanone fs-30 lh-30 text-light p-0 text-uppercase mb-2">FUNCIONES</h2>
                <app-print-code
                            [code]="funciones"
                            [categoria]="categoria"
                            [categoriaCorta]="'KOTLIN'"
                            [tipoCode]="'transparente'"
                            [lineas]="5"
                            [lenguaje]="'kotlin'"
                            [colorTextoBase]="'text-light'"
                            [refDocumentacion]="'https://rxjs.dev/api/index/function/firstValueFrom'"
                            [urlStackBlitz]="'https://developer.stackblitz.com/platform/api/javascript-sdk'">
                </app-print-code>
                <div class="espacio"></div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-8">
                <p class="c7 fuenteDos fs-20 lh-25">
                    <b>Retorno de tupla:</b>
                </p>
                <app-print-code
                            [code]="returnTupla"
                            [categoria]="categoria"
                            [categoriaCorta]="'KOTLIN'"
                            [tipoCode]="'transparente'"
                            [lineas]="5"
                            [lenguaje]="'kotlin'"
                            [colorTextoBase]="'text-light'"
                            [refDocumentacion]="'https://rxjs.dev/api/index/function/firstValueFrom'"
                            [urlStackBlitz]="'https://developer.stackblitz.com/platform/api/javascript-sdk'">
                </app-print-code>
                <div class="espacio"></div>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>






<div class="espaciado"></div>

<app-footer-home></app-footer-home>
<div class="go-up" (click)="scroll(target)">
    <i class="fa fa-chevron-up" aria-hidden="true"></i>
</div>