<div #target></div>
<app-header-home [categoria]="breadcrumb"></app-header-home>
<div class="espaciado"></div>
<app-encabezado-publicacion [idPublicacion]="idPublicacion" [rutaIconoSugerido]="categoria.rutaIcono"></app-encabezado-publicacion>
<div class="espaciado"></div>

<div class="espacio"></div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <!-- A -->
        <h4 class="f-shadow-into-l fs-35 lh-25 tc-yellow-one text-shadow-one">A/B TESTING <br><span class="fs-25 tc-blue-one">(Producto firebase)</span></h4>
        <p class="f-open-sans-c text-light fs-20 lh-20">
            Firebase A/B Testing (con la tecnología de Google Optimize) te ayuda a optimizar tu experiencia con las apps y facilita la ejecución, el análisis y el escalamiento de los experimentos de productos y de marketing. Te da la posibilidad de probar los cambios que realices en la IU de la app, sus funciones o las campañas de participación para ver si modifican las métricas clave (como los ingresos y la retención) antes de implementarlos en forma general.<br>
            <br>
            A/B Testing funciona con FCM para que puedas probar diferentes mensajes de marketing, y con Remote Config, a fin de que puedas probar los cambios en la app.
        </p>
        <div class="espacio"></div>

        <h4 class="f-shadow-into-l fs-35 lh-25 tc-yellow-one text-shadow-one">ANALYTICS <br><span class="fs-25 tc-blue-one">(Google analytics)</span></h4>
        <p class="f-open-sans-c text-light fs-20 lh-20">
            Herramienta de google utilizada para medir datos de los desarrollos, principalmente con fines comerciales para medir tendencias y el comportamiento del público frente a lo que más se mueve del momento, lo que esta a la moda y es el foco del subconciente general, para sacarle provecho comercial.
        </p>
        <div class="espacio"></div>
        
        <!-- C -->
        <h4 class="f-shadow-into-l fs-35 lh-25 tc-yellow-one text-shadow-one">Clase abstracta <br><span class="fs-25 tc-blue-one">(Contexto general)</span></h4>
        <p class="f-open-sans-c text-light fs-20 lh-20">
            Cuando vas a trabajar en una clase con diferentes tipos de objetos, se recomienda como una buena práctica trabajar con clases abstractas.
        </p>
        <div class="espacio"></div>

        <h4 class="f-shadow-into-l fs-35 lh-25 tc-yellow-one text-shadow-one">CLOUD FIRESTORE <br><span class="fs-25 tc-blue-one">Guarda y sincroniza en la nube</span></h4>
        <p class="f-open-sans-c text-light fs-20 lh-20">
            Firebase Cloud Firestore es una base de datos documental NoSQL. Almacena, sincroniza y consulta datos de apps móviles y web a escala global.
        </p>
        <div class="espacio"></div>
        
        <!-- F -->
        <h4 class="f-shadow-into-l fs-35 lh-25 tc-yellow-one text-shadow-one">FIREBASE CONSOLE <br><span class="fs-25 tc-blue-one"></span></h4>
        <p class="f-open-sans-c text-light fs-20 lh-20">
            Es una suite de herramientas integrada con servicios de Google. Proporciona una plataforma de administración para Android, iOS y Web, pudiendo gestionar a la vez muchas apps de un mismo proyecto.
        </p>
        <img src="{{ rutaImagen }}assets/categorias/DEVELOPER/firebase-console.png" alt="" width="600" height="auto" class="img-fluid shadow-two">
        <div class="espacio"></div>

        <!-- I -->
        <h4 class="f-shadow-into-l fs-35 lh-25 tc-yellow-one text-shadow-one">IU del sistema<br><span class="fs-25 tc-blue-one">Interfaz de usuario del sistema</span></h4>
        <p class="f-open-sans-c text-light fs-20 lh-20">
            IU del sistema es un menú oculto de Android que, básicamente, permite modificar qué elementos se muestran en la barra de estado de Android. De este modo, por ejemplo, se pueden mostrar los segundos del reloj, u ocultarlo completamente si así lo queremos. Si no te aparece el porcentaje de batería, una buena opción es usar este menú para mostrarlo.
        </p>
        <div class="espacio"></div>

        <!-- P -->
        <h4 class="f-shadow-into-l fs-35 lh-25 tc-yellow-one text-shadow-one">PETICIONES HTTP <br><span class="fs-25 tc-blue-one">Método post</span></h4>
        <p class="f-open-sans-c text-light fs-20 lh-20">
            Solemos pensar que enviando las peticiones por método POST los datos viajan seguros, por no ir como parte de la URL como lo hace GET. Este concepto es erróneo, estas no son las diferencias entre links y formularios.<br>
            <br>
            El concepto POST es enviar información desde el cliente para que sea procesada y actualice o agregue información en el servidor, como sería la carga o actualización en si de un artículo. Cuando enviamos (request) datos a través de un formulario, estos son procesados y luego a través de una redirección, ejemplo devolvemos (response) alguna página con información.<br>
        </p>
        <div class="espacio"></div>

        <h4 class="f-shadow-into-l fs-35 lh-25 tc-yellow-one text-shadow-one">XMLHttpRequest <br><span class="fs-25 tc-blue-one">Método post</span></h4>
        <p class="f-open-sans-c text-light fs-20 lh-20">
            Solemos pensar que enviando las peticiones por método POST los datos viajan seguros, por no ir como parte de la URL como lo hace GET. Este concepto es erróneo, estas no son las diferencias entre links y formularios.<br>
            <br>
            El concepto POST es enviar información desde el cliente para que sea procesada y actualice o agregue información en el servidor, como sería la carga o actualización en si de un artículo. Cuando enviamos (request) datos a través de un formulario, estos son procesados y luego a través de una redirección, ejemplo devolvemos (response) alguna página con información.<br>
            <br>
            Tanto GET como POST solicitan una respuesta del servidor y ahí donde parecen que los conceptos son iguales ya que con ambos se podría lograr los mismos objetivos. Yo podría, aunque no es correcto, enviar por GET ciertos datos en una URL u actualizar o insertar dicha información en mi base de datos, pero realmente eso le corresponde al método POST. De la misma manera podría solicitar una página diferente por medio de POST y simplemente mostrarla como respuesta, aunque eso debería ser a través de una llamada GET.<br>
            <br>
            Las llamadas por método GET pueden ser cacheadas (historial navegador), indexadas por buscadores, agregar los enlaces a nuestros favoritos o hasta pasar una URL completa a otra persona para que ingresa a dicha página. Con el método POST sin embargo no se puede hacer esto.<br>
            <br>
            Generalmente usamos links para ejecutar llamadas GET ya que la idea del link es simplemente “solicitar” una información (página) al servidor y que sea devuelta como una respuesta. Mientras usamos formularios para actualizar datos, como artículos, usuarios, etc. también en cuenta que por el método POST también se puede enviar más cantidad de datos que por GET.
        </p>
        <div class="espacio"></div>

        <h4 class="f-shadow-into-l fs-35 lh-25 tc-yellow-one text-shadow-one">PROTOCOLO OAuth 2.0<br></h4>
        <p class="f-open-sans-c text-light fs-20 lh-20">
            Para autorización y autenticación, es un framework mediante el cual se delega el acceso a un recurso, sin acceder a los datos del usuario permitiendo así seguridad en datos de este tipo.
        </p>
        <span class="fs-25 f-shadow-into-l tc-blue-one ml-4">
            (Términos dentro de este ámbito):
        </span>
        <ul class="f-open-sans-c fs-20 lh-20 text-light">
            <li class="mb-2">
                <b>PROPIETARIO:</b><br>Se trata de la entidad/persona encargada de otorgar el acceso a determinado recurso que se encuentra protegido. 
            </li>
            <li class="mb-2">
                <b>SERVIDOR DE RECURSOS:</b><br>Es la herramienta que aloja los recursos protegidos y a través de la cual se otorga o no el acceso.
            </li>
            <li class="mb-2">
                <b>CLIENTE:</b><br>Es la aplicación que solicita el acceso a un recurso protegido en nombre del propietario del mismo y con su autorización.
            </li>
            <li class="mb-2">
                <b>SERVIDOR DE AUTORIZACIÓN:</b><br>Es el servidor encargado de brindar el token de acceso al cliente luego de autenticar al propietario y conseguir la autorización.
            </li>
            <li class="mb-2">
                <b>TOKENS:</b><br>Los access tokens o tokens de acceso son las credenciales que autorizan el acceso al recurso que se encuentra protegido. Se conforman por una duración y ámbito de acceso específico.
            </li>
            <li class="mb-2">
                <b>TOKEN DE ACTUALIZACIÓN:</b><br>Se trata de una credencial para obtener el token de acceso. El proceso se conforma de la siguiente manera: el servidor de autorización envía tokens de actualización que recibe el cliente y usa para generar un nuevo token de acceso cuando éste ya no es válido.
            </li>
            <li class="mb-2">
                <b>ALCANCE:</b><br>Se trata del nivel de acceso solicitado ya que el servidor, de acuerdo a políticas internas, puede ignorar el alcance solicitado.
            </li>
            <li class="mb-2">
                <b>SCOPES:</b><br>Refiere a identificadores que determinan a qué recurso se solicita acceso en la aplicación y a qué recurso se autoriza a acceder al usuario.
            </li>
        </ul>
        <div class="espacio"></div>

        <!-- S -->
        <h4 class="f-shadow-into-l fs-35 lh-25 tc-yellow-one text-shadow-one">SDK <br><span class="fs-25 tc-blue-one">(Kit de Desarrollo de Software)</span></h4>
        <p class="f-open-sans-c text-light fs-20 lh-20">
            Paquete de herramientas adecuadas para los desarrollos de aplicaciones, que generalmente no es omitible y suele ser muy indispensable la aplicación cuando el lenguaje lo requiere.
        </p>
        <div class="espacio"></div>

    </div>
    <div class="col-md-1"></div>
</div>

<div class="espaciado"></div>

<div class="espaciado"></div>

<app-footer-home></app-footer-home>
<div class="go-up" (click)="scroll(target)">
    <i class="fa fa-chevron-up" aria-hidden="true"></i>
</div>