<div #target></div>
<app-header-home [categoria]="breadcrumb"></app-header-home>
<div class="espaciado"></div>
<app-header-post [cabecera]="cabeceraPost"></app-header-post>


<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <p class="f-open-sans-c text-light fs-20 lh-20">
            De manera simple "FIREBASE", aloja nuestros datos y nos presta el servicio de backend para solo enviar las peticiones directo a la ruta de los servicios.<br><br>
            Anteriormente lo que consideraba de "FIREBASE", era que sus servicios eran de una base de datos no relacional, a la cual conectaba mi aplicación de "ANGULAR" y podia realizar todas las operaciones CRUD, ya.<br><br>
            En realidad son muchos servicios para aplicaciones móviles y web de los cuales son asequibles gratuitamente con limitantes que no evitan desarrollar en pruebas cualquier aplicación. Tales como:
        </p>
        <p class="f-shadow-into-l tc-yellow-one fs-20 lh-20">
            * Analytics para Web<br>
            * Cloud Firestore para la Web<br>
            * Cloud Messaging para la Web<br>
            * Performance Monitoring para la Web<br>
            * Remote config para la Web<br>
            * Authentication para la Web<br>
            * Cloud Functions para la Web<br>
            * Cloud Storage para la Web<br>
            * Realtime Database para la Web<br>
            * Verificación de aplicaciones para la Web
        </p>
        <p class="f-open-sans-c text-light fs-20 lh-20">
            Actualmente se requiere tener muy en cuenta el control de acceso y para conectar una base de datos "FIREBASE" a una aplicación de angular.<br><br>
            Hoy en día se puede hacer en modo de prueba por pocos días, luego "FIREBASE" nos recordará por medio de email que se deben configurar las reglas de acceso, ya que cualquier usuario puede acceder a la base de datos y realizar cambios sin autorización. Luego de eso se deshabilita el acceso a la base de datos y se vuelve tedioso estar habilitando el acceso por pocos días.
            <br><br>
            Lo ideal sería aplicar el proceso adecuado de control de acceso a los datos mediante un login de autorización de usuario y luego de eso permitir el acceso a los datos mediante un token.
        </p>
        <div class="espacio"></div>
        <h4 class="f-shadow-into-l fs-35 tc-yellow-one text-shadow-one">REALTIME DATABASE --------------</h4>
        <p class="f-open-sans-c text-light fs-20 lh-20">
            <b>
                (SECURE RULES) REGLAS SEGURAS EN ANGULAR
            </b>
            <br><br>
            Una manera efectiva de aplicar reglas seguras se puede lograr utilizando el "FIREBASE LOCAL EMULATOR SUITE", que es un conjunto de herramientas para probar localmente como funciona todo antes de aplicar cambios directamente en "FIREBASE".
            
        </p>
        <div class="espacio"></div>
        <h4 class="f-shadow-into-l fs-35 tc-green-one text-shadow-one">
            FIREBASE CLI LOGIN -----------------
        </h4>
        <p class="f-open-sans-c text-light fs-20 lh-20">
            <b>
                INICIA SESIÓN EN LA INTERFAZ DE LÍNEA DE COMANDOS DE FIREBASE.
            </b>
            <br><br>
            Desde la consola de comandos, ya sea de Windows o en Linux podemos loguearnos mediante "FIREBASE" de esta forma:
        </p>
        <h2 class="fs-160 f-open-sans tc-green-one">1</h2>
        <h3 class="tc-green-one fuenteTres font-weight-lighter fs-18">npm install -g firebase-tools <i class="fa fa-clone cursor-p ml-2" aria-hidden="true" title="Copiar" (click)="copiarAlPortapapeles('npm install -g firebase-tools')"></i>
        </h3>
        <p class="tc-gray-one fuenteTres font-weight-lighter fs-18">//Instalar las herramientas de "FIREBASE" para que el sistema operativo entienda los comandos.</p>
        <div class="espacio"></div>
        <h2 class="fs-160 f-open-sans tc-green-one">2</h2>
        <h3 class="tc-green-one fuenteTres font-weight-lighter fs-18">firebase login <i class="fa fa-clone cursor-p ml-2" aria-hidden="true" title="Copiar" (click)="copiarAlPortapapeles('firebase login')"></i>
        </h3>
        <p class="tc-gray-one fuenteTres font-weight-lighter fs-18">//Nos logueamos a través del navegador y listo.</p>
        <img src="{{ rutaImagen }}assets/categorias/DB/firebase/woohoo.jpg" alt="" width="auto" height="auto" class="shadow-two">
        <div class="espaciado"></div>
        <h4 class="f-shadow-into-l fs-35 tc-yellow-one text-shadow-one">
            FIREBASE LOCAL EMULATOR SUITE ---------------------
        </h4>
        <p class="f-open-sans-c text-light fs-20 lh-20">
            <b>
                CONJUNTO DE HERRAMIENTAS AVANZADAS PARA LOS DESARROLLADORES QUE BUSCAN COMPILAR Y PROBAR APPS DE FORMA LOCAL CON CLOUD FIRESTORE, REALTIME DATABASE, CLOUD STORAGE, AUTHENTICATION, CLOUD FUNCTIONS, PUB/SUB Y FIREBASE HOSTING
            </b>
            <br><br>
            Muy posiblemente para probar nuestra aplicación con una base de datos realmente solo requerimos pruebas locales. Acá la idea es replicar el funcionamiento de "FIREBASE" y las funciones de:<br>
            - Emulador de almacenamiento<br>
            - Emulador de autenticación<br>
            - Emulador firestore<br>
            - Emulador base de datos tiempo real<br>
            - Emulador de funciones<br>
            - Emulador de hosting<br>
            - Pub/Sub
        </p>
    </div>
    <div class="col-md-1"></div>
</div>

<div class="espaciado"></div>

<app-footer-home></app-footer-home>
<div class="go-up" (click)="scroll(target)">
    <i class="fa fa-chevron-up" aria-hidden="true"></i>
</div>