<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-4">
                <h2 class="text-light categorias">POSTS</h2>
            </div>
            <div class="col-md-8"></div>
        </div>
        <div class="espacio"></div>
        <div class="row">
            <div class="col-md-3 bg-primary">
                <div class="altura">
                    1
                </div>
                <div class="altura"></div>
            </div>
            <div class="col-md-6 p-0">
                <div class="row">
                    <div class="col-md-4 bg-info">
                        <div class="altura">
                            2
                        </div>
                        <div class="parte"></div>
                    </div>
                    <div class="col-md-8 bg-danger">
                        <div class="altura">
                            3
                        </div>
                        <div class="parte"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 bg-warning">
                        <div class="parte">
                            4
                        </div>
                        <div class="parte"></div>
                    </div>
                    <div class="col-md-4 bg-primary">
                        <div class="parte">
                            5
                        </div>
                        <div class="parte"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 bg-warning p-0">
                <div class="w-100 doble bg-info">
                    6
                </div>
                7
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 bg-danger">
                <div class="altura">
                    8
                </div>
                <div class="parte"></div>
            </div>
            <div class="col-md-4 bg-info">
                <div class="altura">
                    9
                </div>
                <div class="parte"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 bg-info">
                <div class="altura">
                    10
                </div>
                <div class="parte"></div>
            </div>
            <div class="col-md-8 bg-warning">
                <div class="altura">
                    11
                </div>
                <div class="parte"></div>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>