<div #target></div>
<app-header-home></app-header-home>
<div class="espaciado"></div>
<app-header-post [cabecera]="cabeceraPost"></app-header-post>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <app-indice-contenidos [indice]="indiceLinux" [clase]="claseLinux"></app-indice-contenidos>
    </div>
    <div class="col-md-2"></div>
</div>

<div class="espaciado"></div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        
        <h2 class="fuenteSeis fs-40 t5 sombra-texto">HISTORIA</h2>
        <p class="fuenteDos fs-20 text-light">
            <span class="t5">Introducción</span><br>
            En 1992 habían solo 100 personas trabajando en el desarrollo Kernel de Linux, pero en el 2010 ya eran 1000 personas los que trabajaban en el. Estos permitieron que lo que eran 250.000 líneas de código (1995) pasaran a ser 14.000.000 (2.010).
            Estos. Mas datos y curiosidades se encuentran en este trabajo, donde  explicamos cosas sobre Linux, y todo lo que le rodea, y permite ver como una idea se puede convertir en algo muy grande.<br>
            <br>
            <span class="t5">Origen de Linux</span><br>
            Para entender correctamente a Linux y lo que supone es necesario tener claro su origen.<br>
            <br>
            <span class="t5">Predecesores</span><br>
            La historia de Linux comenzó  mucho antes de lo que la mayoría de gente piensa, ya que en 1969, Ken Thompson, de AT&T Bell Laboratories, desarrolló el sistema operativo Unix, adaptándolo a las necesidades de un entorno de investigación, sin saber la importancia que llegaría a tener su trabajo. Un año después Dennis Ritchie (creador del lenguaje de programación C),  colaboró con Ken Thompson para pasar el código del sistema Unix a C. Lo que convierto a Unix en un sistema operativo transportable.<br>
            Unix creció gradualmente hasta convertirse en un producto de software estándar, distribuido por muchos vendedores tales como Novell e IBM. Sus primeras versiones fueron distribuidas de forma gratuita a los departamentos científicos de informática de muchas universidades de renombre.
            En 1972, los laboratorios Bell empezaron a emitir versiones oficiales de Unix y a otorgar licencias del sistema a distintos usuarios. En 1975, Berkeley lanzó su propia versión de Unix (BSD). Esta versión de Unix se convirtió en la principal competidora de la versión de los laboratorios Bell de ATT&T, pero no era la única ya que en 1980, Microsoft desarrolló una versión de Unix para PC llamada Xenix.<br>
            En 1991 esta organización desarrolló el SistemaV versión4, que incorporaba casi todas las características que se encuentran en el SistemaV versión3, BSDversión4.3, SunOS y Xenix. Como respuesta a esta nueva versión, varias compañías, tales como IBM y Hewlett Packard, establecieron la Open Software Foundation (OSF) para crear su propia versión estándar del Unix.
            Debido a la proliferación de versiones de Unix en las décadas anteriores, el Instituto de Ingenieros Eléctricos y Electrónicos (IIEE) desarrollo un estándar del Unix independiente para el American National Institute (ANSI). Este nuevo estándar ANSI del Unix se llama Portable Operating System Interface for Computer Environments (POSIX). Este estándar define una norma universal a la cual se deben adherir todas las versiones de Unix.<br>
            En esa época, los estudiantes utilizaban un programa llamado Minix, que incorporaba diferentes características de Unix. Minix fue creado por el profesor Andrew Tannenbaum. Director del Departamento de Sistemas de la Universidad de Vrije, Amsterdam.<br>
            Profesor de Arquitectura de Ordenadores y Sistemas Operativos. Licenciado en el MIT, y doctorado en la Universidad de Berkeley, California. En 1992 participó debate con Linus sobre la idea de este utilizar un núcleo monolítico en vez de los basados en un micro núcleo que Tanenbaum creía que serían la base de los sistemas operativos futuros.<br>
            <br>
            <span class="t5">Linux</span><br>
            Era el año 1991 y Linus Torvalds ,que en aquel entonces era un estudiante de informática de la Universidad de Helsinki, empezó a programar las primeras líneas de código de un sistema operativo(finalmente llamado LINUX ) como una afición y sin poderse imaginar la gran repercusión que traería.<br>
            Hubo una primera versión no oficial de Linux 0.01, pero esta solo incluía el comienzo del núcleo, estaba escrita en lenguaje ensamblador y asumía que uno tenía acceso a un sistema Minix para su compilación.<br>
            El 5 de octubre de 1991, Linus anuncio la primera versión oficial de Linux (versión 0.02). Con esta versión Linus pudo ejecutar Bash (GNU Bourne Again Shell) y gcc (El compilador GNU de C).Desde aquel entonces se han hecho muchísimas versiones con ayuda de programadores de todo el mundo.<br>
            Linux es un sistema operativo compatible con Unix, sus dos características principales y que los diferencian del resto de los sistemas operativos que encontramos en el mercado son:
            1. Es software libre, esto significa que no tenemos que pagar por el uso del mismo.
            2. El sistema viene acompañado del código fuente (el sistema lo forman el núcleo del sistema (kernel) mas un gran numero de librerías que hacen posible su utilización).
            Las plataformas en las que en un principio se puede utilizar Linux son: Pentium, Pentium Pro, Pentium II/III/IV, Amiga y Atari, también existen versiones para su utilización en otras plataformas, como Alpha, ARM, MIPS, PowerPC y SPARC.<br>
            En los últimos tiempos, ciertas casas de software comercial han empezado a distribuir sus productos para Linux y la presencia del mismo en empresas aumenta rápidamente por la excelente relación calidad-precio que se consigue con Linux.<br>
            <span class="t5">Tux</span><br>
            Tux es el nombre de la mascota oficial de Linux. Creado por Larry Ewing en 1996, es un pequeño pingüino de aspecto risueño y cómico. La idea de que la mascota de kernel Linux fuera un pingüino provino del mismo Linus Torvalds, creador de kernel Linux.<br>
            <br>
            Existen dos versiones sobre el origen de su nombre:<br>
            1.    Los pingüinos parecen vestir un     esmoquin (que en inglés es tuxedo max, abreviado tux).<br>
            2.    Las letras que componen Tux provienen de las palabras Torvalds y Unix.<br>
            Hay quien dice que Tux era el nombre de un peluche que tenia Linus que era un pingüino llamado Tux.
            El logotipo se puede usar y modificar sin restricciones, siempre que se reconozca la autoría de Larry Ewing, ya que es su trabajo y se debe reconocer su autoría tal y como se indica en su página.<br>
            <br>
            <span class="t5">LINUS TORVALDS</span><br>
            Nació  el 28 de diciembre de 1969 en Finlandia, es un ingeniero de software conocido por iniciar y mantener el desarrollo del «kernel»  de Linux, basándose en el sistema operativo libre Minix y en algunas herramientas, varias utilidades y los compiladores desarrollados por el proyecto GNU. En la actualidad es responsable de la coordinación del proyecto.<br>
            <br>
            <span class="t5">Su vida</span><br>
            Con tan solo 11 años y la ayuda de su abuelo que era un matemático y estadístico de la época, el cual al comprarse un Commodore enseño al joven Linus a manejarlo.<br>
            En 1988 entro en la Universidad de Helsinki en donde aprendió sobre las ciencias de la computación y conoció a Andew S.Tanenbaum el cual ese mismo año creo el sistema operativo Minix.<br>
            Aprendió a programar en C y después de varios años adquiriendo experiencia y tomar prestadas algunas ideas, creó en 1991 el primer Linux capaz de ejecutar BASH y disponer del compilador GCC.<br>
            Le llamo Linux, debido a su apodo de la universidad.<br>
            Un año más tarde Linux adopto GPL, una licencia que le añadía libertades para poder manipular y  redistribuir su código de manera totalmente libre, lo que ha permitido que Linux se mantenga estable hasta nuestros días.<br>
            Después de estar diez años estudiando y e investigando, entro a trabajar en Transmeta, una empresa dedicada a la fabricación de microprocesadores para portátiles; más tarde decidió abandonarla para poder dedicarse completamente al sueño que había creado, el desarrollo del kernel Linux.
            En la actualidad trabaja en los laboratorios Open Source Development Labs en Oregón, con la intención de seguir desarrollando su pasión, el kernel de Linux.
            Torvalds posee la marca registrada «Linux» y supervisa el uso de la marca a través de la organización sin ánimo de lucro Linux International, que se encarga de difundir por el mundo los beneficios del S.O.<br>
            A pesar de todo, Linus, con sus 36 años, está felizmente casado con Tove y actualmente vive en Portland con sus tres hijas: Patricia, Daniela y Celeste, un lugar mucho más tranquilo para vivir con su familia.<br>
            <br>
            Algunas de las curiosidades que conocemos de Linus Torvalds es una persona como otra cualquiera y a la que le encanta la cerveza, conducir, y estar disfrutando con su familia.<br>
            En 2001 lanzo su primer y único libro, su propio autobiografía, titulada “Just For Fun: The Story of an Accidental Revolutionary”, que traducido al castellano es muy curioso y significa: Sólo por diversión: la historia de un revolucionario accidental.<br>
            <br>
            <span class="t5">Creación de Linux</span><br>
            Los motivos que llevaron a este genio a desarrollar su propio sistema operativo fueron varias.
            Normalmente, Linus utilizaba un computador que usaba para tener acceso por línea telefónica a la red informática de su Universidad, pero debido a que este utilizaba Minix y este no era de su agrado, decidió crear uno él mismo.
            En los primeros intentos hizo un programa que arrancaba desde un disquete, y consiguió arrancar el computador y ejecutar dos procesos que mostraban la cadena de caracteres “AAAAABBBBB”. Uno lo utilizaría para leer desde el módem y escribir en la pantalla, mientras que el otro escribiría al módem y leería desde el teclado.<br>
            El otro motivo que le llevo a el desarrollo de su S.O fue, la necesidad que tenia de poder descargar y subir archivos de su universidad, pero para implementar esta funcionalidad en el software, era necesario crear un controlador de disco. Así que después de un trabajo continuo y duro, creó un controlador compatible con el sistema de archivos de Minix.<br>
            Podríamos decir que por error decidió crear Linux partiendo desde cero al darse cuenta, de que estaba creando algo más que un simple emulador de terminal.
            En un principio Linux se iba a llamar Freax (free+ freak + x), aunque después se le siguió conociendo como lo conocemos hoy en día.
            Después de decidir seguir desarrollando su sistema para construir un remplazo de Minix, sube al servidor de su universidad Linux con 10.000 líneas de código. A partir de ese momento Linux empezó a evolucionar rápidamente y hasta día de hoy no ha dejado de avanzar, ganando terreno a otros sistemas operativos que no son de código abierto. Linux hoy en día sigue ganando adeptos en todas las partes del mundo debido a ser gratuito y cada vez más personas anónimas contribuyen a su desarrollo y a convertirse en el sistema más estable y seguro.<br>
            <br>
            <span class="t5">La frase que utilizo al subir Linux al servidor fue:</span><br>
            «Si suspiras al recordar aquellos días cuando los hombres eran hombres y escribían sus propios drivers. Si te encuentras sin ningún proyecto interesante y te gustaría tener un verdadero sistema operativo que pudieras modificar a tu gusto, si te resulta frustrante tener solo Minix. Entonces este artículo es para ti».
            Lo que la gente desconoce es que Linus Torvalds solo escribe el 2% del sistema operativo Linux, es decir unas 50.000 líneas de código. El resto, se encarga de escribirlo los millones de personas que por vocación deciden mejorar este sistema, aunque Linus se encarga personalmente de supervisarlo.
            Torvalds siempre se ha mostrado ingenioso en sus respuestas sobre su rival, Microsoft. En una de sus últimas declaraciones explicaba que “el caso antimonopolio contra Microsoft no ha representado una gran diferencia o una ayuda para Linux, pero lo que sí ha conseguido es que la gente compruebe que Microsoft no representa el sueño americano de la informática; que tiene muchos huecos por cubrir, muchas cosas que mejorar y un grave problema de marketing. Probablemente esto nos ha abierto muchas puertas”. Otra de las cualidades a destacar de Torvalds quizá es que sea uno de los pocos miembros del movimiento OPENSOURCE que se preocupa más por el código que por las leyes.
        </p>
    </div>
    <div class="col-md-1"></div>
</div>

<div class="espaciado"></div>

<app-footer-home></app-footer-home>
<div class="go-up" (click)="scroll(target)">
    <i class="fa fa-chevron-up" aria-hidden="true"></i>
</div>