<app-header-home></app-header-home>
<app-header-post [cabecera]="cabeceraPost"></app-header-post>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-12">
                <h3 class="fuenteSeis text-light fw-6 fs-60 text-center">VERSIONES</h3>

                <ul>
                    <li class="text-light">
                        <p class="fuenteSeis fw-6 t5 fs-25 mb-0">
                            ANGULAR 11
                        </p>
                        <p class="fuenteDos fw-6 fs-25 mb-0">
                            
                        </p>
                        <p class="fuenteDos text-light fs-18 fs-2">
                            Estabilidad al ecosistema, ahora con "Operación Byelog" un proceso al que en Angular llaman “Operación Byelog”
                            <br>
                            Este proceso consiste en aumentar los recursos destinados por Angular en sus tres monorepos con el objetivo de cerrar issues y mezclar Pull Requests (PR) que son importantes para la comunidad.
                        </p>
                    </li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>



<app-footer-home></app-footer-home>