<app-header-home></app-header-home>
<div class="row">
    <div class="col-md-12">
                <!-- IMAGEN TITULAR ------------------------------------>
                <div class="headerPost sombraUno" style="background: url(assets/img/banner/Instalaciona-angular.jpg); background-size: cover; background-position: center;background-repeat: no-repeat;">
                </div>
        <h2 class="tituloPost p-2 text-center">INSTALACIÓN DE ANGULAR Y RECOMENDACIONES</h2>

    </div>
</div>
<app-footer-home></app-footer-home>