<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-5">
                        <img src="https://plantillas_dev.gitlab.io/assets/img/posts/developer/adalovelace.jpg" alt="Ada Lovelace" height="auto" width="100%">
                    </div>
                    <div class="col-md-7">
                        <p class="tituloCuatro fs-25 {{ publicacion.estilos.color }}">
                            Ada Lovelace
                        </p>
                        <p class="f-open-sans-c fs-20 lh-20 text-light">
                            Matemática y escritora, fue la primer persona que creo una línea de código sin visual studio.<br>
                            La procedencia de su familia tuvo muchos inconvenientes, lo que aporto a que su padre ejerciera presión a sus estudios de mátematicas, ya más adelante usando como ejemplo el Bernoulli (una serie infinita) para describir, por medio de un diagrama, las operaciones que la máquina de Babbage tendría que realizar para calcularlos.<br>
                            <br>
                            Así pues diríamos que la primera programadora fue una backend.
                        </p>
                        <img src="assets/img/memes/mem1.png" alt="" height="60" width="auto" class="drop">
                    </div>
                </div>
            </div>
            <div class="col-md-5"></div>
        </div>
        <div class="espacio"></div>
    </div>
    <div class="col-md-1"></div>
</div>