<div #target></div>
<app-header-home [categoria]="breadcrumb"></app-header-home>
<div class="espaciado"></div>
<app-encabezado-publicacion [idPublicacion]="idPublicacion"
	[rutaIconoSugerido]="categoria.rutaIcono"></app-encabezado-publicacion>


<div class="espaciado"></div>
<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<div class="row">
			<div class="col-md-12">
				<app-indice-contenidos [indice]="pasoDeIndice" [clase]="claseContenedor"></app-indice-contenidos>
			</div>
		</div>
		<div class="espaciado"></div>

		<div class="row">
			<div class="col-md-6">
				<h4 class="c-Html f-operator-m fs-60 text-shadow-one">&lt;!DOCTYPE&gt;</h4>
				<p class="c7 fuenteDos fs-20 lh-25">
					Define la versión de HTML utilizada en el documento. Lo más seguro es que con varios años de
					desarrollo en HTML, como desarrollador web no se haya considerado hacerle algo a esta etiqueta. Hoy
					en día solo permite la referencia 'html', anteriormente se utilizaban otras.
					<br>
					<br>
					<b>HTML:5</b><br>
				</p>
				<ul class="c7 fuenteDos fs-20 lh-25">
					<li>Esta declaración es crucial para la validación de documentos, el modo de documento estándar y la
						compatibilidad con HTML5.</li>
					<li>Las versiones modernas de HTML solo permiten de esta forma.</li>
					<li>Permite que el navegador valide el documento HTML y detecte errores de sintaxis o semántica.
					</li>
				</ul>
				<app-print-code [code]="HTML.doctypeCode" [categoria]="categoria" [categoriaCorta]="'HTML'"
					[tipoCode]="'transparente'" [lineas]="5" [lenguaje]="'kotlin'" [colorTextoBase]="'text-light'">
				</app-print-code>
				<div class="espacio"></div>

			</div>
			<div class="col-md-6">
				<div class="espacio"></div>
				<p class="c7 fuenteDos fs-20 lh-25">
					<b>HTML 4.01:</b><br>
					Ya no se utiliza y puede generar errores al tratar de correr sobre los navegadores actuales.
				</p>
				<app-print-code [code]="HTML.doctype4Code" [categoria]="categoria" [categoriaCorta]="'HTML'"
					[tipoCode]="'transparente'" [lineas]="5" [lenguaje]="'kotlin'" [colorTextoBase]="'text-light'">
				</app-print-code>
				<div class="espacio"></div>

				<p class="c7 fuenteDos fs-20 lh-25">
					<b>XHTML 1.0 Strict:</b><br>
					Ya no se utiliza.
				</p>
				<app-print-code [code]="HTML.doctypeHxtml" [categoria]="categoria" [categoriaCorta]="'HTML'"
					[tipoCode]="'transparente'" [lineas]="5" [lenguaje]="'kotlin'" [colorTextoBase]="'text-light'">
				</app-print-code>
				<div class="espacio" id="idHtml"></div>
			</div>
		</div>
		<div class="espacio"></div>
		<div class="row">
			<div class="col-md-6">

				<h4 class="c-Html f-operator-m fs-60 text-shadow-one">&lt;html&gt;</h4>
				<p class="c7 fuenteDos fs-20 lh-25">Abre la página. Después de la etiqueta de cierre (&lt;/html&gt;) no
					debe aparecer ninguna marca. No trae ninguna configuración dentro de la etiqueta que sea
					configurable, exceptuando la opción de idioma.</p>

				<app-print-code [code]="HTML.htmlCode" [categoria]="categoria" [categoriaCorta]="'HTML'"
					[tipoCode]="'transparente'" [lineas]="1" [lenguaje]="'html'" [colorTextoBase]="''">
				</app-print-code>
				<div class="espacio" id="idHead"></div>
			</div>
			<div class="col-md-6">
				<h4 class="c-Html f-operator-m fs-60 text-shadow-one">&lt;head&gt;</h4>
				<p class="c7 fuenteDos fs-20 lh-25">
					No tiene atributos propios, pero sirve como contenedor para diversos elementos HTML que proporcionan
					información meta y enlaces a recursos externos. Estos elementos, a su vez, poseen sus propios
					atributos para configurar su comportamiento y características.
				</p>
				<app-print-code [code]="HTML.headCode" [categoria]="categoria" [categoriaCorta]="'CSS'"
					[tipoCode]="'transparente'" [lineas]="2" [lenguaje]="'html'" [colorTextoBase]="''">
				</app-print-code>
				<div class="espacio"></div>

				<p class="c7 fuenteDos fs-20 lh-25">Por defecto solo trae
					esta característica en los estilos:</p>
				<app-print-code [code]="HTML.headStyle" [categoria]="categoria" [categoriaCorta]="'CSS'"
					[tipoCode]="'transparente'" [lineas]="2" [lenguaje]="'css'" [colorTextoBase]="''">
				</app-print-code>
				<div class="espacio" id="idMeta"></div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">

				<h4 class="c-Html f-operator-m fs-60 text-shadow-one">&lt;meta&gt;</h4>
				<p class="c7 fuenteDos fs-20 lh-25">
					Las etiquetas &lt;meta&gt; son herramientas esenciales para optimizar el rendimiento de una página
					web, mejorar su visibilidad en los motores de búsqueda y proporcionar información crucial a los
					navegadores y otros programas. Al utilizar correctamente las etiquetas &lt;meta&gt; y sus atributos,
					puedes asegurarte de que tu sitio web funcione de manera eficiente y cumpla con sus objetivos.<br>
					<br>
					El atributo charset declara la codificación de caracteres.
				</p>
				<app-print-code [code]="HTML.metaCharset" [categoria]="categoria" [categoriaCorta]="'CSS'"
					[tipoCode]="'transparente'" [lineas]="2" [lenguaje]="'html'" [colorTextoBase]="''">
				</app-print-code>
				<div class="espacio"></div>

				<p class="c7 fuenteDos fs-20 lh-25">Los documentos HTML modernos deberían usar siempre UTF-8, aunque no
					sea un requisito.
					En
					HTML, la etiqueta &lt;meta&gt; no requiere una etiqueta de cierre.<br>
					<br>
					Son cruciales para varios aspectos del funcionamiento de una página web:
				</p>
				<ul class="c7 fuenteDos fs-20 lh-25">
					<h2 class="f-bebas fs-200 text-light m-0 p-0">1</h2>
					<li>El atributo <b class="c-Html">name</b> es obligatorio para todas las etiquetas &lt;meta&gt; y
						define el tipo de información meta que se proporciona. Algunos valores comunes para el atributo
						<b class="c-Html">name</b> incluyen:<br>
						<ul>
							<li><b>author:</b> Especifica el autor del documento web.</li>
							<li><b>description:</b> Proporciona una breve descripción del contenido de la página.</li>
							<li><b>keywords:</b>
								<p>Define palabras clave relevantes para el contenido de la página.</p><br>
								<app-print-code [code]="HTML.metaKeywords" [categoria]="categoria"
									[categoriaCorta]="'CSS'" [tipoCode]="'transparente'" [lineas]="2"
									[lenguaje]="'html'" [colorTextoBase]="''">
								</app-print-code>
								<div class="espacio"></div>
							</li>
							<li><b>charset:</b> Indica la codificación de caracteres del documento web.</li>
							<li><b>viewport:</b> Controla cómo se representa la página web en dispositivos móviles.</li>
							<li><b>robots:</b> Instruye a los motores de búsqueda sobre cómo indexar y rastrear la
								página.<br>
								<app-print-code [code]="HTML.metaRobots" [categoria]="categoria"
									[categoriaCorta]="'CSS'" [tipoCode]="'transparente'" [lineas]="2"
									[lenguaje]="'html'" [colorTextoBase]="''">
								</app-print-code>
								<div class="espacio"></div>
							</li>
						</ul>
						<div class="espacio"></div>
					</li>
				</ul>

			</div>
			<div class="col-md-6">
				<div class="espacio"></div>
				<ul class="c7 fuenteDos fs-20 lh-25">
					<h2 class="f-bebas fs-200 text-light m-0 p-0">2</h2>
					<li>
						<p>
							Atributo <b class="c-Html">content: </b>
							<br>proporciona el valor de la información meta
							especificada por el atributo name. Por ejemplo, para una etiqueta &lt;meta&gt; con
							name="description", el atributo content contendría la descripción de la página por ejemplo:
						</p>
						<app-print-code [code]="HTML.metaDescription" [categoria]="categoria" [categoriaCorta]="'CSS'"
							[tipoCode]="'transparente'" [lineas]="2" [lenguaje]="'html'" [colorTextoBase]="''">
						</app-print-code>
						<div class="espacio"></div>
					</li>
					<h2 class="f-bebas fs-200 text-light m-0 p-0">3</h2>
					<li>
						Atributos adicionales:<br>
						Además de los atributos name y content, las etiquetas &lt;meta&gt; pueden tener varios atributos
						opcionales que proporcionan información adicional, como:
						<ul>
							<li><b>http-equiv: </b>Especifica un metadato HTTP equivalente para navegadores más
								antiguos.<br>
								<app-print-code [code]="HTML.metaHttp" [categoria]="categoria" [categoriaCorta]="'CSS'"
									[tipoCode]="'transparente'" [lineas]="2" [lenguaje]="'html'" [colorTextoBase]="''">
								</app-print-code>
								<div class="espacio"></div>
							</li>
							<li><b>scheme: </b>Define el esquema de identificación para el metadato.</li>
							<li><b>lang: </b>Indica el idioma del metadato.</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<div class="espacio" id="idEncabezados"></div>



		<div class="row">
			<div class="col-md-6">
				<h2 class="f-bebas fs-50 text-light">Encabezados</h2>
				<p class="c7 fuenteDos fs-20 lh-25">
					Los títulos tienen 6 variaciones en tamaño empezando por el más grande con 'h1' terminando en 'h6':
				</p>
				<h4 class="c-Html f-operator-m fs-60 text-shadow-one">
					&lt;h1&gt;,&lt;h2&gt;,&lt;h3&gt;,&lt;h4&gt;,&lt;h5&gt;,&lt;h6&gt;</h4>
				<app-print-code [code]="HTML.hCode" [categoria]="categoria" [categoriaCorta]="'HTML'"
					[tipoCode]="'transparente'" [lineas]="1" [lenguaje]="'html'" [colorTextoBase]="''">
				</app-print-code>
				<div class="espacio"></div>
				<p class="c7 fuenteDos fs-20 lh-25">
					Contiene estos estilos por defecto.
				</p>

				<app-print-code [code]="HTML.h1Styles" [categoriaCorta]="'CSS'" [tipoCode]="'transparente'" [lineas]="5"
					[lenguaje]="'css'" [colorTextoBase]="''">
				</app-print-code>

				<div class="espaciado" id="idP"></div>
			</div>
			<div class="col-md-6">
				<h2 class="f-bebas fs-50 text-light">Párrafos</h2>
				<h4 class="c-Html f-operator-m fs-60 text-shadow-one">&lt;p&gt;</h4>
				<p class="c7 fuenteDos fs-20 lh-25">
					Contenido en general de texto, párrafos.
				</p>
				<app-print-code [code]="HTML.pCode" [categoria]="categoria" [categoriaCorta]="'HTML'"
					[tipoCode]="'transparente'" [lineas]="1" [lenguaje]="'html'" [colorTextoBase]="''">
				</app-print-code>
				<div class="espacio"></div>

				<p class="c7 fuenteDos fs-20 lh-25">
					Estilos por defecto.
				</p>
				<app-print-code [code]="HTML.pStyle" [categoria]="categoria" [categoriaCorta]="'HTML'"
					[tipoCode]="'transparente'" [lineas]="1" [lenguaje]="'css'" [colorTextoBase]="''">
				</app-print-code>
				<div class="espacio" id="idBr"></div>

				<h4 class="c-Html f-operator-m fs-60 text-shadow-one">&lt;br&gt;</h4>
				<p class="c7 fuenteDos fs-20 lh-25">
					Inserta un único salto de línea.
				</p>
				<app-print-code [code]="HTML.pBr" [categoria]="categoria" [categoriaCorta]="'HTML'"
					[tipoCode]="'transparente'" [lineas]="1" [lenguaje]="'html'" [colorTextoBase]="''">
				</app-print-code>
				<p class="c7 fuenteDos fs-20 lh-25 mt-3">
					Salida:
				</p>
				<div class="bg-dark p-3 mt-3 shadow-three">
					<p class="c7 fuenteDos fs-20 lh-25">Lorem ipsum <br> sit amet consectetur adipisicing elit.</p>
				</div>
				<div class="espacio" id="idPre"></div>

				<h4 class="c-Html f-operator-m fs-60 text-shadow-one">&lt;pre&gt;</h4>
				<p class="c7 fuenteDos fs-20 lh-25">
					Define el texto preformateado.
				</p>
				<div class="row">
					<div class="col-md-6">
						<p class="c7 fuenteDos fs-20 lh-25">
							Si se hace con '&lt;pre&gt;'
						</p>
						<app-print-code [code]="HTML.pPre" [categoria]="categoria" [categoriaCorta]="'HTML'"
							[tipoCode]="'transparente'" [lineas]="1" [lenguaje]="'html'" [colorTextoBase]="''">
						</app-print-code>
						<p class="c7 fuenteDos fs-20 lh-25 mt-2">
							Mantiene el formato con los espacios y saltos que se agreguen.<br>
							<br>
							Salida:
						</p>
						<div class="bg-dark p-3 mt-3 shadow-three">
							<p class="c7 fuenteDos fs-20 lh-25">
								Lorem ipsum<br>
								dolor sit amet<br>
								consectetur<br>
								adipisicing<br>
								elit.
							</p>
						</div>
					</div>
					<div class="col-md-6">
						<p class="c7 fuenteDos fs-20 lh-25">
							Si se hace con '&lt;p&gt;'
						</p>
						<app-print-code [code]="HTML.pPreP" [categoria]="categoria" [categoriaCorta]="'HTML'"
							[tipoCode]="'transparente'" [lineas]="1" [lenguaje]="'html'" [colorTextoBase]="''">
						</app-print-code>
						<p class="c7 fuenteDos fs-20 lh-25 mt-2">
							Lo adapta como una línea plana de texto.<br>
							<br>
							Salida:
						</p>
						<div class="bg-dark p-3 mt-3 shadow-three">
							<p class="c7 fuenteDos fs-20 lh-25">
								Lorem ipsum dolor sit ametconsectetur adipisicing elit.
							</p>
						</div>

					</div>
				</div>
				<div class="espacio" id="idMark"></div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-7">
				<h4 class="c-Html f-operator-m fs-60 text-shadow-one">&lt;mark&gt;</h4>
				<p class="c7 fuenteDos fs-20 lh-25">
					Se utiliza para marcar o resaltar texto en un documento debido a su relevancia en otro contexto.<br>
					El ejemplo más común sería en los resultados de una búsqueda, donde el usuario ha introducido una
					consulta de búsqueda y los resultados se muestran resaltando la consulta deseada.
				</p>
				<app-print-code [code]="HTML.pMark" [categoria]="categoria" [categoriaCorta]="'HTML'"
					[tipoCode]="'transparente'" [lineas]="1" [lenguaje]="'html'" [colorTextoBase]="''">
				</app-print-code>
				<p class="c7 fuenteDos fs-20 lh-25 mt-3">
					Salida:
				</p>
				<div class="bg-dark p-3 mt-3 shadow-three">
					<p class="c7 fuenteDos fs-20 lh-25">
						Lorem ipsum dolor sit amet <mark>consectetur</mark> adipisicing elit.
					</p>
				</div>
				<div class="espacio" id="idStrong"></div>
			</div>
			<div class="col-md-5"></div>

		</div>
		<div class="row">
			<div class="col-md-5"></div>
			<div class="col-md-7">
				<h4 class="c-Html f-operator-m fs-60 text-shadow-one">&lt;b&gt; ó &lt;strong&gt;</h4>
				<p class="c7 fuenteDos fs-20 lh-25">
					¿Cuál es la diferencia?<br> La semántica. <b>'&lt;strong&gt;'</b> se utiliza para indicar que el
					texto es fundamental o semánticamente importante para el texto que lo rodea, mientras que
					<b>'&lt;b&gt;'</b> no indica tal importancia y simplemente representa texto que debe ir en
					negrita.<br>
					<br>
					Si utilizara <b>'&lt;b&gt;'</b>, un programa de conversión de texto a voz no pronunciaría la(s)
					palabra(s) de forma diferente a las demás palabras que la(s) rodean: simplemente está llamando la
					atención sobre ellas sin añadirles ninguna importancia adicional.<br> Sin embargo, al utilizar
					<b>'&lt;strong&gt;'</b>, el mismo programa querría pronunciar esas palabras con un tono de voz
					diferente para transmitir que el texto es importante de alguna manera.
				</p>
				<app-print-code [code]="HTML.pStrong" [categoria]="categoria" [categoriaCorta]="'HTML'"
					[tipoCode]="'transparente'" [lineas]="1" [lenguaje]="'html'" [colorTextoBase]="''">
				</app-print-code>
				<p class="c7 fuenteDos fs-20 lh-25 mt-3">
					Salida:
				</p>
				<div class="bg-dark p-3 mt-3 shadow-three">
					<p class="c7 fuenteDos fs-20 lh-25">
						Lorem ipsum dolor sit amet <b>consectetur</b> <strong> adipisicing</strong> elit.
					</p>
				</div>
				<p class="c7 fuenteDos fs-20 lh-25 mt-3">
					Estilos por defecto:
				</p>
				<app-print-code [code]="HTML.pStrongStyles" [categoria]="categoria" [categoriaCorta]="'HTML'"
					[tipoCode]="'transparente'" [lineas]="1" [lenguaje]="'css'" [colorTextoBase]="''">
				</app-print-code>
				<div class="espacio" id="idEm"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-7">
				<h4 class="c-Html f-operator-m fs-60 text-shadow-one">&lt;em&gt; ó &lt;i&gt;</h4>
				<p class="c7 fuenteDos fs-20 lh-25">
					¿Cuál es la diferencia? La semántica. <b>'&lt;em&gt;'</b> se utiliza para indicar que el texto debe
					tener un énfasis adicional que debe acentuarse, mientras que <b>'&lt;i&gt;'</b> representa
					simplemente un texto que debe destacarse del texto normal que lo rodea.
				</p>
				<app-print-code [code]="HTML.pItalicCode" [categoria]="categoria" [categoriaCorta]="'HTML'"
					[tipoCode]="'transparente'" [lineas]="1" [lenguaje]="'html'" [colorTextoBase]="''">
				</app-print-code>
				<p class="c7 fuenteDos fs-20 lh-25 mt-3">
					Salida:
				</p>
				<div class="bg-dark p-3 mt-3 shadow-three">
					<p class="c7 fuenteDos fs-20 lh-25">
						Lorem ipsum dolor sit amet <em>consectetur</em> <i> adipisicing</i> elit.
					</p>
				</div>
				<p class="c7 fuenteDos fs-20 lh-25 mt-3">
					Estilos por defecto:
				</p>
				<app-print-code [code]="HTML.pItalicStyles" [categoria]="categoria" [categoriaCorta]="'HTML'"
					[tipoCode]="'transparente'" [lineas]="1" [lenguaje]="'css'" [colorTextoBase]="''">
				</app-print-code>
				<div class="espacio" id="idU"></div>
			</div>
			<div class="col-md-5"></div>
		</div>
		<div class="row">
			<div class="col-md-5"></div>
			<div class="col-md-7">
				<h4 class="c-Html f-operator-m fs-60 text-shadow-one">&lt;u&gt;</h4>
				<p class="c7 fuenteDos fs-20 lh-25">
					Quedó obsoleto en HTML 4, se reintrodujo con un significado semántico alternativo en HTML 5, para
					representar una anotación no articulada y no textual. Puede utilizarse para indicar un texto mal
					escrito en la página o para marcar un nombre propio.
				</p>
				<app-print-code [code]="HTML.pUnderline" [categoria]="categoria" [categoriaCorta]="'HTML'"
					[tipoCode]="'transparente'" [lineas]="1" [lenguaje]="'html'" [colorTextoBase]="''">
				</app-print-code>
				<p class="c7 fuenteDos fs-20 lh-25 mt-3">
					Salida:
				</p>
				<div class="bg-dark p-3 mt-3 shadow-three">
					<p class="c7 fuenteDos fs-20 lh-25">
						Lorem ipsum dolor sit amet <u>consectetur</u> adipisicing elit.
					</p>
				</div>
				<p class="c7 fuenteDos fs-20 lh-25 mt-3">
					Estilos por defecto:
				</p>
				<app-print-code [code]="HTML.pUnderlineStyles" [categoria]="categoria" [categoriaCorta]="'HTML'"
					[tipoCode]="'transparente'" [lineas]="1" [lenguaje]="'css'" [colorTextoBase]="''">
				</app-print-code>
				<div class="espacio" id="idAbbr"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-7">
				<h4 class="c-Html f-operator-m fs-60 text-shadow-one">&lt;abbr&gt;</h4>
				<p class="c7 fuenteDos fs-20 lh-25">
					Para marcar una expresión como abreviatura. Dentro de la etiqueta, en el atributo 'title' se utiliza
					para la descripción completa de dicha abreviatura.
				</p>
				<app-print-code [code]="HTML.pAbbrCode" [categoria]="categoria" [categoriaCorta]="'HTML'"
					[tipoCode]="'transparente'" [lineas]="1" [lenguaje]="'html'" [colorTextoBase]="''">
				</app-print-code>
				<p class="c7 fuenteDos fs-20 lh-25 mt-3">
					Salida:
				</p>
				<div class="bg-dark p-3 mt-3 shadow-three">
					<p class="c7 fuenteDos fs-20 lh-25">
						I like to write <abbr title="Hypertext Markup Language">HTML!</abbr>
					</p>
				</div>
				<p class="c7 fuenteDos fs-20 lh-25 mt-3">
					Estilos por defecto:
				</p>
				<app-print-code [code]="HTML.pAbbrStyles" [categoria]="categoria" [categoriaCorta]="'HTML'"
					[tipoCode]="'transparente'" [lineas]="1" [lenguaje]="'css'" [colorTextoBase]="''">
				</app-print-code>
				<div class="espacio" id="idIns"></div>
			</div>
			<div class="col-md-5"></div>
		</div>
		<div class="row">
			<div class="col-md-5"></div>
			<div class="col-md-7">
				<h4 class="c-Html f-operator-m fs-60 text-shadow-one">&lt;ins&gt;</h4>
				<p class="c7 fuenteDos fs-20 lh-25">
					Para marcar un texto como insertado, también puede aceptar atributos como datetime, que especifica
					la fecha y hora en que el texto fue añadido.<br>
					Se utiliza para resaltar adiciones a un documento HTML, facilitando la visualización de cambios o
					nuevas inserciones de contenido.
				</p>
				<app-print-code [code]="HTML.pIns" [categoria]="categoria" [categoriaCorta]="'HTML'"
					[tipoCode]="'transparente'" [lineas]="1" [lenguaje]="'html'" [colorTextoBase]="''">
				</app-print-code>
				<p class="c7 fuenteDos fs-20 lh-25 mt-3">
					Salida:
				</p>
				<div class="bg-dark p-3 mt-3 shadow-three">
					<p class="c7 fuenteDos fs-20 lh-25">
						Lorem ipsum dolor sit amet <ins>consectetur</ins> adipisicing elit.
					</p>
				</div>
				<p class="c7 fuenteDos fs-20 lh-25 mt-3">
					Estilos por defecto:
				</p>
				<app-print-code [code]="HTML.pInsStyle" [categoria]="categoria" [categoriaCorta]="'HTML'"
					[tipoCode]="'transparente'" [lineas]="1" [lenguaje]="'css'" [colorTextoBase]="''">
				</app-print-code>
				<div class="espacio" id="idDel"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-7">
				<h4 class="c-Html f-operator-m fs-60 text-shadow-one">&lt;del&gt; ó &lt;s&gt;</h4>
				<p class="c7 fuenteDos fs-20 lh-25">
					En cuanto a la apariencia visual (ambas muestran texto tachado), pero difieren en su semántica y
					propósito de uso.<br>
					<br>
					<b>Diferencias:</b>
				</p>
				<ul class="c7 fuenteDos fs-20 lh-25">
					<li class="mb-4">
						Semántica:
						<ul>
							<li>'&lt;s&gt;': Indica texto tachado que ya no es relevante o correcto, pero sin implicar
								una eliminación formal.</li>
							<li>'&lt;del&gt;': Indica texto que ha sido eliminado del documento, normalmente en el
								contexto de revisiones o ediciones.</li>
						</ul>

					</li>
					<li class="mb-4">
						Uso común:
						<ul>
							<li>'&lt;s&gt;': Para precios anteriores, correcciones, o contenido desactualizado.</li>
							<li>'&lt;del&gt;': Para mostrar texto eliminado en versiones revisadas de documentos o
								contenido.</li>
						</ul>
					</li>
					<li class="mb-4">
						Atributos:
						<ul>
							<li>'&lt;s&gt;': Generalmente no se utilizan atributos adicionales.</li>
							<li>'&lt;del&gt;': Puede incluir el atributo datetime para especificar cuándo fue eliminado
								el texto.</li>
						</ul>
					</li>
				</ul>
				<app-print-code [code]="HTML.pDel" [categoria]="categoria" [categoriaCorta]="'HTML'"
					[tipoCode]="'transparente'" [lineas]="1" [lenguaje]="'html'" [colorTextoBase]="''">
				</app-print-code>
				<p class="c7 fuenteDos fs-20 lh-25 mt-3">
					Salida:
				</p>
				<div class="bg-dark p-3 mt-3 shadow-three">
					<p class="c7 fuenteDos fs-20 lh-25">
						Lorem ipsum dolor sit amet <del>consectetur</del> adipisicing elit.
					</p>
				</div>
				<p class="c7 fuenteDos fs-20 lh-25 mt-3">
					Estilos por defecto:
				</p>
				<app-print-code [code]="HTML.pDelStyle" [categoria]="categoria" [categoriaCorta]="'HTML'"
					[tipoCode]="'transparente'" [lineas]="1" [lenguaje]="'css'" [colorTextoBase]="''">
				</app-print-code>
				<div class="espacio" id="idSub"></div>
			</div>
			<div class="col-md-5"></div>
		</div>
		<div class="row">
			<div class="col-md-5"></div>
			<div class="col-md-7">
				<h4 class="c-Html f-operator-m fs-60 text-shadow-one">&lt;sup&gt; ó &lt;sub&gt;</h4>
				<p class="c7 fuenteDos fs-20 lh-25">
					Se utilizan para formatear texto como superíndice y subíndice, respectivamente. Estas etiquetas son
					útiles para representar exponentes, notaciones científicas, fórmulas matemáticas, referencias y
					otros tipos de texto especializado que requieren una posición elevada o inferior en relación con el
					texto normal.
				</p>
				<h4 class="c7 fuenteDos fs-20 lh-25 fw-6">
					&lt;sup&gt; (Superscript / Superíndice)
				</h4>
				<p class="c7 fuenteDos fs-20 lh-25">
					Se utiliza para elevar el texto ligeramente por encima de la línea base del texto normal. Es
					comúnmente usada para representar exponentes en matemáticas y ciencias, así como para notaciones
					específicas como marcas registradas o referencias bibliográficas.
				</p>
				<h4 class="c7 fuenteDos fs-20 lh-25 fw-6">
					&lt;sub&gt; (Subscript / Subíndice)
				</h4>
				<p class="c7 fuenteDos fs-20 lh-25">
					Se utiliza para bajar el texto ligeramente por debajo de la línea base del texto normal. Es
					comúnmente usada para notaciones químicas, índices matemáticos y cualquier otro contexto donde se
					necesiten subíndices.
				</p>
				<app-print-code [code]="HTML.pSub" [categoria]="categoria" [categoriaCorta]="'HTML'"
					[tipoCode]="'transparente'" [lineas]="1" [lenguaje]="'html'" [colorTextoBase]="''">
				</app-print-code>
				<p class="c7 fuenteDos fs-20 lh-25 mt-3">
					Salida:
				</p>
				<div class="bg-dark p-3 mt-3 shadow-three">
					<p class="c7 fuenteDos fs-20 lh-25">
						El agua tiene la fórmula química H<sub>2</sub>O.</p>
					<p class="c7 fuenteDos fs-20 lh-25">Einstein propuso la famosa ecuación E = mc<sup>2</sup>.</p>
					<p class="c7 fuenteDos fs-20 lh-25">El precio es de 10 m<sup>2</sup>.</p>
				</div>

				<p class="c7 fuenteDos fs-20 lh-25 mt-3">
					Estilos por defecto:
				</p>
				<app-print-code [code]="HTML.pSubStyle" [categoria]="categoria" [categoriaCorta]="'HTML'"
					[tipoCode]="'transparente'" [lineas]="1" [lenguaje]="'css'" [colorTextoBase]="''">
				</app-print-code>
				<div class="espacio" id="idHref"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-7">
				<h4 class="c-Html f-operator-m fs-60 text-shadow-one">href</h4>
				<p class="c7 fuenteDos fs-20 lh-25">
					Se utiliza para redirigir o apuntar a un URL absoluta o relativa. Como ejemplo una URL Absoluta:
					https://example.com, y una relativa se refiere a otra sección o directorio dentro del mismo sitio
					web que la expone.
				</p>
				<app-print-code [code]="HTML.href" [categoria]="categoria" [categoriaCorta]="'HTML'"
					[tipoCode]="'transparente'" [lineas]="1" [lenguaje]="'html'" [colorTextoBase]="''">
				</app-print-code>
				<div class="espacio"></div>
				<p class="c7 fuenteDos fs-20 lh-25">Estilos por defecto:</p>
				<app-print-code [code]="HTML.hrefStyle" [categoria]="categoria" [categoriaCorta]="'HTML'"
					[tipoCode]="'transparente'" [lineas]="1" [lenguaje]="'css'" [colorTextoBase]="''">
				</app-print-code>
				<div class="espacio" id="idHrefLang"></div>
			</div>
			<div class="col-md-5"></div>
		</div>
		<div class="row">
			<div class="col-md-5"></div>
			<div class="col-md-7">
				<h4 class="c-Html f-operator-m fs-60 text-shadow-one">hreflang</h4>
				<p class="c7 fuenteDos fs-20 lh-25">
					El atributo <strong>hreflang</strong> en HTML se utiliza para especificar el idioma y la región de
					un documento vinculado. Es especialmente útil en el contexto de SEO (Optimización para Motores de
					Búsqueda) y de sitios web multilingües, ya que ayuda a los motores de búsqueda a entender qué
					versión de una página mostrar a los usuarios en función de su idioma y región preferidos.<br>
					<br>
					Se utiliza dentro de etiquetas <strong>'&lt;link&gt;'</strong> en la sección
					<strong>'&lt;head&gt;'</strong> de un documento HTML para indicar la relación entre diferentes
					versiones lingüísticas de una página. A continuación se muestra la estructura básica:
				</p>
				<app-print-code [code]="HTML.hrefLang" [categoria]="categoria" [categoriaCorta]="'HTML'"
					[tipoCode]="'transparente'" [lineas]="1" [lenguaje]="'html'" [colorTextoBase]="''">
				</app-print-code>
				<div class="espacio" id="idRel"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-7">
				<h4 class="c-Html f-operator-m fs-60 text-shadow-one">rel</h4>
				<p class="c7 fuenteDos fs-20 lh-25">
					El atributo rel en etiquetas HTML se utiliza para definir la relación entre el documento actual y el
					recurso vinculado. Es comúnmente utilizado en la etiqueta <strong>'&lt;link&gt;'</strong> para
					enlaces a recursos externos, como hojas de estilo, iconos, o archivos de diferentes versiones del
					mismo documento, y también en la etiqueta <strong>'&lt;a&gt;'</strong> para describir la relación
					entre el documento actual y la URL destino.
				</p>
				<app-print-code [code]="HTML.rel" [categoria]="categoria" [categoriaCorta]="'HTML'"
					[tipoCode]="'transparente'" [lineas]="1" [lenguaje]="'html'" [colorTextoBase]="''">
				</app-print-code>
				<div class="espacio" id="idTarget"></div>
			</div>
			<div class="col-md-5"></div>
		</div>
		<div class="row">
			<div class="col-md-5"></div>
			<div class="col-md-7">
				<h4 class="c-Html f-operator-m fs-60 text-shadow-one">target</h4>
				<p class="c7 fuenteDos fs-20 lh-25">
					Se utiliza para especificar dónde se abrirá el documento vinculado cuando el usuario haga clic en un
					enlace o envíe un formulario. Este atributo es comúnmente usado en las etiquetas
					<strong>'&lt;a&gt;'</strong> (para enlaces) y <strong>'&lt;form&gt;'</strong> (para formularios).<br>
					<br>
					Es útil para controlar cómo se abren los enlaces y formularios, proporcionando flexibilidad en la navegación y en la presentación de contenido. Su uso adecuado puede mejorar la experiencia del usuario y contribuir a la seguridad del sitio web.
				</p>
				<app-print-code [code]="HTML.target" [categoria]="categoria" [categoriaCorta]="'HTML'"
					[tipoCode]="'transparente'" [lineas]="1" [lenguaje]="'html'" [colorTextoBase]="''">
				</app-print-code>
				<div class="espacio"></div>

				<p class="c7 fuenteDos fs-20 lh-25">
					<b>NOTA:</b><br>
					Cuando se utiliza <strong>target="_blank"</strong>, es recomendable añadir <strong>rel="noopener
						noreferrer"</strong> al enlace para mejorar la seguridad. Esto evita que la nueva página tenga
					acceso a la ventana original a través de <i>window.opener</i>, lo que puede prevenir ataques de tipo
					<strong>"tabnabbing"</strong>.
				</p>
				<div class="espacio" id="idTitle"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-7">
				<h4 class="c-Html f-operator-m fs-60 text-shadow-one">title</h4>
				<p class="c7 fuenteDos fs-20 lh-25">
					Se utiliza para proporcionar información adicional sobre un elemento. Este atributo se puede añadir a casi cualquier etiqueta HTML y suele ser empleado para mostrar un texto emergente (tooltip) cuando el usuario pasa el cursor sobre el elemento. El texto del atributo title aparece como un cuadro emergente en la mayoría de los navegadores.
				</p>
				<app-print-code [code]="HTML.title" [categoria]="categoria" [categoriaCorta]="'HTML'"
					[tipoCode]="'transparente'" [lineas]="1" [lenguaje]="'html'" [colorTextoBase]="''">
				</app-print-code>
				<div class="espacio" id="idDownload"></div>
			</div>
			<div class="col-md-5"></div>
		</div>
		<div class="row">
			<div class="col-md-5"></div>
			<div class="col-md-7">
				<h4 class="c-Html f-operator-m fs-60 text-shadow-one">download</h4>
				<p class="c7 fuenteDos fs-20 lh-25">
					Se utiliza en la etiqueta <strong>'&lt;a&gt;'</strong> para indicar que el navegador debe descargar el archivo enlazado en lugar de navegar hacia él. Este atributo permite especificar un nombre de archivo sugerido para guardar el archivo descargado.<br>
					Proporciona un enlace que permite a los usuarios descargar un archivo directamente en lugar de abrirlo en una nueva pestaña o ventana del navegador.
				</p>
				<app-print-code [code]="HTML.download" [categoria]="categoria" [categoriaCorta]="'HTML'"
					[tipoCode]="'transparente'" [lineas]="1" [lenguaje]="'html'" [colorTextoBase]="''">
				</app-print-code>
				<div class="espacio"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5"></div>
			<div class="col-md-7">
				<h4 class="c-Html f-operator-m fs-60 text-shadow-one">&lt;ol&gt; & &lt;li&gt;</h4>
				<p class="c7 fuenteDos fs-20 lh-25">
					<b>LISTAS ORDENADAS</b>
				</p>
				<app-print-code [code]="HTML.href" [categoria]="categoria" [categoriaCorta]="'HTML'"
					[tipoCode]="'transparente'" [lineas]="1" [lenguaje]="'html'" [colorTextoBase]="''">
				</app-print-code>
			</div>
		</div>
	</div>
	<div class="col-md-1"></div>
</div>






<div class="espaciado"></div>

<app-footer-home></app-footer-home>
<div class="go-up" (click)="scroll(target)">
	<i class="fa fa-chevron-up" aria-hidden="true"></i>
</div>