<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-8">
                <h2 class="tituloPost f-bebas p-2">{{ this.categoria.nombre }}</h2>
                <app-indice-contenidos [indice]="indice"></app-indice-contenidos>
                <div class="espacio"></div>
                <div *ngFor="let subcatego of subCategorias">
                    <h2 class="tituloPost f-bebas p-2">{{ subcatego.subCategoria }}</h2>
                    <app-indice-contenidos [indice]="indice"></app-indice-contenidos>
                </div>

                
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="espaciado"></div>
        <div class="row">
            <div class="col-md-5">
            </div>
            <div class="col-md-7">
                <h2 class="f-bebas fs-50 {{ this.categoria.color }} fw-6">Story</h2>
                <p class="text-light f-open-sans-c fs-20 lh-30">
                    {{ this.publicacion.descripcion }}
                </p>
                <div *ngFor="let descripciones of this.categoria.descripcion">
                    <p *ngFor="let descripcion of descripciones.descripciones " class="text-light f-open-sans-c fs-20 lh-30">
                        {{ descripcion }}
                    </p>
                    <p class="text-right {{ this.categoria.color }} tituloCuatro sombra-texto">{{ descripciones.autor }}</p>
                </div>
            </div>
        </div>
        <div class="espaciado"></div>

        <app-glosario [categoria]="this.categoria.nombre"></app-glosario>


    </div>
    <div class="col-md-1"></div>
</div>